<div class="">
	<h5>Recommended for you</h5>
	{{#items}}
		<ul>
			<article class="stream-item {{type}} {{section}} {{#story-of-the-week}}story-of-the-week{{/story-of-the-week}} row-fluid">
				<li class="item-container">
							<p class="item-title"><a href="{{url}}">{{title}}</a></p>
				</div><!--/.item-container-->
			</li>
		</ul>
	{{/items}}
</div>


<li class="entry">
	<a href="#">
	<p class="meta title">Animal Exposure Ups Risk of Ocular B-Cell Lymphoma</p>
	<p class="meta author">Br J Cancer. 2012 Jan 24;[Epub Ahead of Print], R Dolcetti, et al</p>
	</a>
</li>