<div class="alert-box event-notification">
	<a class="close">&#215;</a>
	<div class="alert-header">
		<h1 class="alert-header-text">Today's Events</h1>
	</div>
	<div class="alert-body">
		<div class="event badge">
		<i class="icon-calendar">
		</div>
		<div class="event-description">
			<h1 class="item-title"><a href="#">American Urological Association 2013 Annual Meeting</a></h1>
		</div>
	</div>
	<div class="alert-footer"></div>
</div><!--/.alert-box.eic-welcome-->