<div id="{{!ad-block-id}}" class="ad-container {{!ad-zone}}">
	<div class="ad-title"><span class="ad-title-text">advertisement</span></div><!--/.ad-title-->
	<div class="ad-content">
		<img class="ad-loader" src="content/img/ad-loader.gif" />{{!ad-loader.gif will be delivered soon. The script that loads the ad should remove this img element}}
		<script src="http://ad.doubleclick.net/adj/els.oncologystat/homepage/;abr=!webtv;ct=anonymous;st=none;ur=none;ut=none;pom=n;sz=300x250,336x280;tile=3;ord=7052625853310512"></script>
	</div><!--.ad-content-->
</div><!--/.ad-container-->