<div id="{{!ad-block-id}}" class="ad-container {{!ad-zone}}">
	<div class="ad-title"><span class="ad-title-text">advertisement</span></div><!--/.ad-title-->
	<div class="ad-content">
		<script src="http://ad.doubleclick.net/adj/els.oncologystat/homepage/;abr=!webtv;ct=anonymous;st=none;ur=none;ut=none;pom=n;sz=300x250,336x280;tile=3;ord=7052625853310512"></script>
	</div><!--.ad-content-->
	<div class="ad-footer">
  	<a href="advertise.html">Advertise with us</a>
	</div>
</div><!--/.ad-container-->