		<div class="author-meta"><!-- Note: cleanup author meta vcard markup-->
			<div class="author vcard">
				<p class="meta author-role role">Expert</p>
				<figure class="author-photo">
					<img class="photo" src="http://placehold.it/100x100"/>
					<figcaption>
						<p class="fn n"><a class="url uid" href="#"><span class="given-name">Axel</span> <span class="family-name">Grothey</span>, <span class="honorific-suffix">MD</span></a></p>
						<p class="author-position"><span class="author-title title">Author's current title</span>, <span class="organization-name">organization name</span></p>
					</figcaption>
				</figure>
			</div><!--/.author-->
		</div><!--/.author-meta-->