
{{#channel-list}}
<div class="single-channel">
<a href="#">
	<div class="channel {{channel-title}}">
		<h2 class="channel-title">{{channel-title}}</h2>
		<div class="channel-description">
			<p>{{channel-description}}</p>
		</div>
	</div>
</a>
</div><!--#{{channel-title}} -->
{{/channel-list}}