<section class="confirm-block">
	<p>Confirmation</p>
	<p>Thank you! Check your email to validate your registration. One more step and you'll be ready to start using PracticeUpdate</p>
</section><!--/.confirm-block-->