	<div class="cta-title"><span class="cta-title-text">Our Experts</span></div><!--/.cta-title-->
	<div class="cta-img-container">
		<img src="assets/img/editorial-team-all.png" />
	</div><!--/.cta-img-container-->
	<div class="cta-content">
		<p>Our Advisory and Editorial Boards are comprised of physician editors and world-renowned experts.</p>
	</div><!--/.cta-content-->
<!-- Disable until Profile Pages are Live -->
	<div class="cta-action meet-our-experts-button">
		<a class="button cta-button" href="channel-list.html"><span class="cta-button-text">Meet Our Experts</span></a>
	</div> <!--/.cta-action-->