<!-- Disable until Profile Pages are Live -->
<div id="cta3" class="cta">
  <div class="cta-title"><span class="cta-title-text">Medical Knowledge and Practice Survey<br/>Cardiometabolic Vascular Disease</span></div><!--/.cta-title-->
  <div class="cta-img-container">
  	<img src="content/CTA/Heart.jpg" />
  </div><!--/.cta-img-container-->
  	<div class="cta-content">
  	<p>Please help us and your colleagues by taking a few minutes to complete this quick survey</p>
  </div><!--/.cta-content-->
  	<div class="cta-action">
  	<a class="button cta-button survey-button" href="#" data-pusurveyurl="ZFB8CKB"><span class="cta-button-text">Help us test the pulse of the cardio community</span></a>
  </div> <!--/.cta-action-->
</div>