
{{#user-group}}
	{{#users}}
		{{#user}}
			{{#name}}
			<dt class="{{source.type}}-name">
				<!-- {{firstName}} {{middleName}} {{lastName}} {{honorific}} -->
				<a class="fn n" href="#">
						<!-- <span class="honorific-prefix">Dr.</span> -->
						<span class="given-name">{{firstName}}</span>
						<abbr class="additional-name">{{middleName}}</abbr>
						<span class="family-name">{{lastName}}</span>
						<span class="honorific-suffix">{{honorific}}</span>
				</a><!--/.fn-->
			</dt><!--/.{{source.type}}-name-->
			<dd class="user-photo">
				<figure class="{{source.type}}-photo">
					<img class="photo" src="{{{img.url}}}"/>
					<figcaption class="label">{{source.type}}</figcaption>
				</figure><!--/.{{source.type}}-photo-->
			</dd>
				<dt>Profession</dt>
				</dd>{{profession}}</dd>
				<dt>Member Since:</dt>
				<dd><date>{{date-joined}}</date></dd>
				</dd>
			{{/name}}
		{{/user}}
	{{/users}}
{{/user-group}}


<div itemscope itemtype="http://data-vocabulary.org/Person" class="{{source.type}}-name">  
 <img src="{{{img.url}}}" itemprop="photo" class="photo">  
  <span itemprop="name">{{firstName}} {{middleName}} {{lastName}} {{honorific}}</span>
  <dl><span itemprop="title">writer</span>  
  <a href="http://net.tutsplus.com" itemprop="affliation">Nettuts+</a>.  
  I live in  
  <span itemprop="address" itemscope  
    itemtype="http://data-vocabulary.org/Address">  
    <span itemprop="locality">Memphis</span>,  
    <span itemprop="region">TN</span>  
  </span>
  Member since:
  </dl>
  <div class="user-bio"></div>
</div> 