{{#items}}
{{>articles}}
<div class="stream-item-container">
<article class="stream-item {{type}} {{section}} {{#featured}}featured{{/featured}} row-fluid">
					{{#source}}
					{{#featured}}<div class="flag"><span class="featured"><i class="icon-bolt"></i> featured</span></div>{{/featured}}
					<div class="source-container">
						<div class="{{source.type}}-photo">
							<img class="photo" src="{{{photo.url}}}"/>
						</div>
					</div><!--/.source-container-->
					{{/source}}
					<div class="item-container">
						<header class="item-header">
							<hgroup class="pub-meta meta">
								<p><span class="item-pub-date">{{#pub-date}}{{date.month}} {{date.day}}, {{date.year}}{{/pub-date}}</span> <span class="item-type"><a href="#">{{type}}</a></span></p>
								<h3 class="item-title"><a href="{{url}}">{{title}}</a></h3>
							</hgroup><!--/.pub-meta-->
						</header>
						{{#item-content}}
						<div class="item-content-container">
							<div class="item-content">
							<div class="take-home-message"><p>{{{take-home-message}}}</p></div><!--/.take-home-message-->
							<div class="item-teaser"><p>{{{item-teaser}}}</p></div><!--/.item-teaser-->

							</div><!--/.item-content-->
						</div><!--/.item-content-container-->
						{{/item-content}}


					</div><!--/.item-container-->
						<footer class="item-footer">
						<div class="portal-meta meta">
							<dl class="rating"><dt class="practice-relevance">Practice Relevance:</dt> <dd class="value">{{practice-relevance}}</dd></dl>
						</div>
							<div class="item-actions">
								<ul class="link-list">
									<li><a href="#" ><i class="icon-star-empty"></i></a></li>
									<li><a href="#" ><i class="icon-share-alt"></i></a></li>
								</ul><!--/.link-list-->
			        </div><!--/.item-actions-->
						</footer>
				</article></div><!--/.stream-item-->
			</div><!--/.stream-item-container-->
{{/items}}
<ul class="pagination">
  <li class="arrow unavailable"><a href="">&laquo;</a></li>
  <li class="current"><a href="">1</a></li>
  <li><a href="">2</a></li>
  <li><a href="">3</a></li>
  <li><a href="">4</a></li>
  <li class="unavailable"><a href="">&hellip;</a></li>
  <li><a href="">12</a></li>
  <li><a href="">13</a></li>
  <li class="arrow"><a href="">&raquo;</a></li>
</ul>