<section class="section-ifi section-widget">
<header class="section-header">
		<h2 class="section-title">Information from industry</h2>
	</header><!--/.section-header-->
	<div class="section-content">
				<ul>

					<li class="entry">
					<div>
							<h1 class="item-title"><a href="http://www.halaven.com/assets/halaven-brochure.pdf" rel="external" target="_blank">Halaven Brochure</a> <i class="icon-file-alt"></i></h1>
							<p class="item-citation">Key information about Halaven for physicians.</p>
					</div>
					</li>
					<li class="entry">
										<div>
							<h1 class="item-title"><a href="http://www.halaven.com/assets/halaven-reimbursement-guide.pdf" rel="external" target="_blank">Halaven Reimbursement Guide</a> <i class="icon-file-alt"></i></h1>
							<p class="item-citation">Information to help you through the reimbursement process.</p>
					</div>
					</li>

				</ul>
			<footer class="section-footer">
		<p class="section-disclaimer">This site is sponsored by Eisai  <img src="content/img/client/client-logo-eisai.png" alt="client-logo-eisai" width="25" height="17" />. Eisai does not control any content.</p>
			</footer><!--.section-footer-->
	</div><!--/.section-content-->
</section><!--/.section-content-->

{{!
<section class="section-ifi section-widget">
<header class="section-header">
		<h2 class="section-title">Information from industry</h2>
	</header><!--/.section-header-->
	<div class="section-content">
		<p class="section-disclaimer">This site is sponsored by Eisai  <img src="content/img/client/client-logo-eisai.png" alt="client-logo-eisai" width="25" height="17" />. Eisai does not control any content.</p>
				<ul>

					<li class="entry">
					<div>
							<h1 class="item-title"><a href="http://www.halaven.com/assets/halaven-brochure.pdf" rel="external" target="_blank">Halaven Brochure</a> <i class="icon-file-alt"></i></h1>
							<p class="item-citation">Key information about Halaven for physicians.</p>
					</div>
					</li>
					<li class="entry">
										<div>
							<h1 class="item-title"><a href="http://www.halaven.com/assets/halaven-reimbursement-guide.pdf" rel="external" target="_blank">Halaven Reimbursement Guide</a> <i class="icon-file-alt"></i></h1>
							<p class="item-citation">Information to help you through the reimbursement process.</p>
					</div>
					</li>

				</ul>
			<footer class="section-footer">
			</footer><!--.section-footer-->
	</div><!--/.section-content-->
</section><!--/.section-content-->
}}