<div class="login-register">
	<div class="alert-box alert">
		Invalid user name or password. Please try again.
		<a href="#" class="close">&times;</a>
	</div>
	<form id="formLogin">
		<header class="form-header">
			<div class="form-title">
				<span class="form-title-text">Already Registered?</span>
			</div>
		</header>
		<input type="text" placeholder="Email" tabindex="2"/>
		<div class="form-action">
      <div class="password-signin">
        <div class="password">
          <input type="password" id="signin-password" placeholder="password" class="text-input" name="session[password]" title="Password" tabindex="2">
        </div><!--/.password-->
        <div class="signin">
        <button type="submit" class="submit button full-width" tabindex="4">
          Sign in
        </button>
        </div><!--/.sign-in-->
      </div><!--/password-signin-->
		<div class="remember-forgot">
          <label class="remember">
            <input type="checkbox" value="1" name="remember_me" tabindex="3">
            <span>Remember me</span>
          </label>
          <span class="separator">·</span>
          <a class="forgot" href="reset-password.html">Forgot password?</a>
        </div>
		</div><!--/.form-action-->
	</form>
	<div id="formRegisterPrompt">
		<div class="cta account-question">
			<div class="cta-title"><span class="cta-title-text">Need an account?</span></div><!--/.cta-title-->
      <div class="cta-content">
        <p>Get started with PracticeUpdate</p>
      </div><!--/.cta-content-->
			<div class="cta-action">
				<a class="button form-submit cta-button" id="LoginNow" href="javaScript:void(0);"><span class="cta-button-text">Register for free</span></a>
			</div> <!--/.cta-action-->
	</div><!--/.account-question-->
	</div><!--/#formRegisterPrompt-->
</div><!--/.login-register-->