<div class="login-register">
	<div class="alert-box alert">
		Invalid user name or password. Please try again.
		<a href="#" class="close">&times;</a>
	</div>
	<form id="formLogin">
		<header class="form-header">
			<div class="form-title">
				<span class="form-title-text">Already Registered?</span>
			</div>
		</header>
		<input type="text" placeholder="Email"/>
		<input type="password" placeholder="Password"/>
		<div class="form-action">
		<a class="form-submit">Sign In</a>
		<label class="remember-me"><input type="checkbox"/>Remember Me</label>
		<a lass="forgot-password-link"href="" data-reveal-id="modals-forgot-password">Forgot Password</a>
		</div><!--/.form-action-->
	</form>
	<div id="formRegisterPrompt">
		<div class="cta account-question">
			<div class="cta-title"><span class="cta-title-text">Already have an account?</span></div><!--/.cta-title-->
			<div class="cta-action">
				<a class="button form-submit" id="LoginNow" href="javaScript:void(0);"><span class="cta-button-text">Log in Now</span></a>
			</div> <!--/.cta-action-->
	</div><!--/.account-question-->
	</div><!--/#formRegisterPrompt-->
</div><!--/.login-register-->