<h3>
    Histology Matters: Personalized Therapy for Patients with NSCLC
</h3>
<div class="source">
    An interactive CME activity provided by the Johns Hopkins University School
    of Medicine
</div>
<div class="clearfix" id="cme_teaser">
    <div class="photo">
        <img alt="CME" height="151" src="/Images/AsIM_133x151_tcm8-271832.jpg"
        title="CME" width="133">
    </div>
    <div class="content">
        <div class="intro">
            Release Date: October 15, 2011
            <p>
                Expiration Date: October 15, 2013
            </p>
        </div>
        <dl class="info clearfix">
            <dt>
                Duration
            </dt>
            <dd>
                1.5 hours
            </dd>
            <dt>
                Credits
            </dt>
            <dd>
                This activity has been approved for 1.5&nbsp;
                <em>
                    AMA PRA Category 1 Credit™
                </em>
                .
            </dd>
            <dt>
                Faculty
            </dt>
            <dd>
                David S. Ettinger, MD | Silvia Novello, MD, PhD | Jyoti D. Patel, MD |
                William D. Travis, MD
            </dd>
        </dl>
    </div>
</div>
<a class="close-reveal-modal">×</a>        
