<h3>
    Treatment Advances in Lymphoma: What's New from ASH 2011
</h3>
<div class="source">
    An interactive CME program Powered by RealCME
</div>
<div class="clearfix" id="cme_teaser">
    <div class="photo">
        <img height="151" src="/sysimages/cme_photo_temp.gif" width="133">
    </div>
    <div class="content">
        <div class="intro">
            ASH 2011: Treatment Advances in Lymphoma
        </div>
        <dl class="info clearfix">
            <dt>
                Duration
            </dt>
            <dd>
                March 13, 2012 to March 12, 2013
            </dd>
            <dt>
                Credits
            </dt>
            <dd>
                A maximum of&nbsp;0.5&nbsp;
                <em>
                    AMA PRA Category 1 Credit™
                </em>
            </dd>
            <dt>
                Faculty
            </dt>
            <dd>
                Bruce D. Cheson, MD
            </dd>
        </dl>
    </div>
</div>        
<a class="close-reveal-modal">×</a>        
