<!-- Modal For Features not available in the Beta -->
<div id="modals-forgot-password" class="reveal-modal modals-forgot-password">
	<form action="" method="">
		<h2>Pawword Reset</h2>
		<p>Enter your email and we will send you directions on resetting your password</p>  
		<input type="text" value="Email"/>
		<div class="ButtonSaveCencel">
			<input type="submit" value="Save" />
			<a href="">Cancel</a>
		</div>
	</form>
</div>