<div id="modal-complete-registration" class="reveal-modal">
	<p>PracticeUpdate content is displayed based on your information and your preferences. You're in control of what content is most relevant to you. Once you have completed your profile & settings, you can begin using the site.</p>
    <a href="#" class="form-submit">Complete Profile & Settings</a>
</div>