<div id="modal-password-reset-confirmation" class="reveal-modal modals-forgot-password">
    <p>Are you sure want to cancel Registration?</p>
    <a href="#" class="form-submit">Yes</a>
    <a href="#" class="form-cancel">No</a>
</div>