<h3>
    Chemotherapy for Women With Heavily Pre-treated Metastatic Breast Cancer.
    A Review of the Evidence Base.
</h3>
<div class="source">
    An interactive CME activity provided by the Elsevier Office of Continuing
    Medical Education
</div>
<div class="clearfix" id="cme_teaser">
    <div class="photo">
        <img height="151" src="/sysimages/cme_photo_temp.gif" width="133">
    </div>
    <div class="content">
        <div class="intro">
            The goals of this activity are to increase oncologists’ knowledge of the
            newest therapies and improve their competence in incorporating this knowledge
            into treatment planning.
        </div>
        <dl class="info clearfix">
            <dt>
                Duration
            </dt>
            <dd>
                February 12, 2012 to January 31, 2013
            </dd>
            <dt>
                Credits
            </dt>
            <dd>
                A maximum of&nbsp;1.0&nbsp;
                <em>
                    AMA PRA Category 1 Credit™
                </em>
            </dd>
            <dt>
                Faculty
            </dt>
            <dd>
                Christopher Twelves, MD | Linda T. Vahdat, MD
            </dd>
        </dl>
    </div>
</div>
<a class="close-reveal-modal">×</a>        
