<div class="modal-header">
<h3>
    Strategies for Optimizing Stem Cell Mobilization and Collection
</h3>
<p class="cme-description">Complimentary, Certified CME Provided by Med-IQ</p>
  </div><!--/.modal-header-->
  <div class="modal-body">
    <div class="photo cme-image">
        <img alt="CME" height="151" src="content/img/cme/mediq_133x151_tcm8-285271.jpg" title="CME" width="133">
    </div>
        <p class="cme-intro intro">Explore methods of stem cell mobilization, patient-related factors that may contribute to poor mobilization, and new and emerging strategies used to facilitate mobilization.</p>
        <dl class="cme-details info clearfix">
            <dt>
                Duration
            </dt>
            <dd>
                August 28, 2012 to August 27, 2013
            </dd>
            <dt>
                Credits
            </dt>
            <dd>
                A maximum of&nbsp;1.0&nbsp;
                <em>
                    AMA PRA Category 1 Credit™
                </em>
                .
            </dd>
            <dt>
                Faculty
            </dt>
            <dd>
                Luciano J. Costa, MD, PhD | Mary J. Laughlin, MD
            </dd>
        </dl>
  </div><!--/.modal-body-->
  <div class="modal-footer">
    <h4>Program supported by:</h4>
    <p>This activity is supported by an educational grant from Sanofi-aventis U.S. Inc., A SANOFI COMPANY.</p>
    <p>This course is not part of PracticeUpdate.</p>
    <p>By clicking the button below you will be leaving this website.</p>
    <a target="_blank" href="http://www.med-iq.com/index.cfm?fuseaction=courses.overview&cID=664" class="button">start learning</a>


  </div><!--/.modal-footer-->
<a class="close-reveal-modal">×</a>