<div id="modal-password-reset-confirmation" class="reveal-modal modals-forgot-password">
    <div class="widget-block">
        <p>Are you sure want to cancel Registration?</p>
        <div class="form-action">
            <a id="yes" class="form-submit">Yes</a>
            <a id="no" class="form-cancel">No</a>
        </div>
    </div>
</div>