<!-- Modal For Features not available in the Beta -->
<div id="modals-forgot-password" class="reveal-modal modals-forgot-password">
	<form class="AlertWhite">
		<header class="form-header">
			<div class="cta-title">
				<span class="cta-title-text">Password Reset</span>
			</div>
			<p>Enter your email and we will send you directions on resetting your password</p>
		</header>
		<input type="text" placeholder="Email"/>
		<div class="form-action">
			<a href="#" id="Submit" class="form-submit">Submit</a>
			<a href="#" id="Cancel" class="form-cancel" href="javaScript:void(0);">Cancel</a>
		</div>
		<p class="ReturnToLogin">If you do not remember which email you used or still need help logging in, please contact Customer Support at &lt;insert number&gt;</p>
	</form>
</div>