<div class="modal-header">
<h3>
    Histology Matters: Personalized Therapy for Patients with NSCLC
</h3>
<p class="cme-description">An interactive CME activity provided by the Johns Hopkins University School of Medicine</p>
  </div><!--/.modal-header-->
  <div class="modal-body">
    <div class="photo cme-image">
        <img alt="CME" height="151" src="content/img/cme/AsIM_133x151_tcm8-271832.jpg"
        title="CME" width="133">
    </div>

        <dl class="cme-details">
            <dt>Release Date:</dt>
            <dd>October 15, 2011</dd>
            <dt>Expiration Date:</dt>
            <dd>October 15, 2013</dd>
            <dt>
                Duration
            </dt>
            <dd>
                1.5 hours
            </dd>
            <dt>
                Credits
            </dt>
            <dd>
                This activity has been approved for 1.5&nbsp;
                <em>
                    AMA PRA Category 1 Credit™
                </em>
                .
            </dd>
            <dt>
                Faculty
            </dt>
            <dd>
                David S. Ettinger, MD | Silvia Novello, MD, PhD | Jyoti D. Patel, MD |
                William D. Travis, MD
            </dd>
        </dl>
  </div><!--/.modal-body-->
  <div class="modal-footer">
    <h4>Program accredited by:</h4>
    <p>The Johns Hopkins University School of Medicine is accredited by the Accreditation Council for Continuing Medical Education to provide continuing medical education for physicians.</p>
    <p>This course is not part of PracticeUpdate.</p>
    <p>By clicking the button below you will be leaving this website.</p>
    <a target="_blank" href="http://www.jhasim1.com/index.aspx?case_id=120" class="button">start learning</a>
  </div><!--/.modal-footer-->
<a class="close-reveal-modal">×</a>        
