<div id="modal-registration-confirmation" class="reveal-modal">
    <form class="AlertWhite">
        <div class="alert-box alert">
            Code incorrect: Please refer to the email we sent for the correct Code.
            <a href="#" class="close">&times;</a>
        </div>
        <header class="form-header">
            <div class="cta-title">
                <span class="cta-title-text">Registration Confirmation</span>
            </div>
        </header>
        <p>Enter your validation code sent to you via email.</p>
        <input type="text" name="ValidationCode" placeholder="Validation Code">
        <small class="error">No code entered: Please refer to the email we sent for the Validation Code.</small>
        <a href="#" class="form-submit">Confirm Registration</a>
    </form>
</div>