<div class="modal-header">
<h3>
    Chemotherapy for Women With Heavily Pre-treated Metastatic Breast Cancer.
    A Review of the Evidence Base.
</h3>
<p class="cme-description">The goals of this activity are to increase oncologists’ knowledge of the
            newest therapies and improve their competence in incorporating this knowledge
            into treatment planning.</p>
  </div><!--/.modal-header-->
  <div class="modal-body">
    <div class="photo cme-image">
        <img height="151" src="content/img/cme/cme_photo_temp.gif" width="133">
    </div>

        <dl class="cme-details">
            <dt>Duration</dt>
            <dd>February 12, 2012 to January 31, 2013</dd>
            <dt>Credits</dt>
            <dd>A maximum of&nbsp;1.0&nbsp;
                <em>
                    AMA PRA Category 1 Credit™
                </em>
            </dd>
            <dt>Faculty</dt>
            <dd>Christopher Twelves, MD | Linda T. Vahdat, MD</dd>
        </dl>
  </div><!--/.modal-body-->
  <div class="modal-footer">
<h4>Program accredited by:</h4>
<p>This enduring activity has been planned and implemented in accordance with the Essential Areas and policies of the Accreditation Council for Continuing Medical Education (ACCME) through the sponsorship of the Elsevier Office of Continuing Medical Education (EOCME). The EOCME is accredited by the ACCME to provide continuing medical education (CME) for physicians.</p>
  <p>This course is not part of PracticeUpdate.</p>
  <p>By clicking the button below you will be leaving this website.</p>
  <a target="_blank" href="http://mediazone.brighttalk.com/event/ReedElsevier/81e3225c6a-5524-intro?TID=OncologyStat" class="button">start learning</a>

  </div><!--/.modal-footer-->
<a class="close-reveal-modal">×</a>