<div id="modal-password-reset-confirmation" class="reveal-modal">
    <h3>Password Reset Confirmation</h3>
    
	<p>We have received your request to have your password reset. Check your email (it may take a few minutes) and follow the instructions to reset your password. </p>

	<p>If you need additional assistance, please contact Customer Support at &lt;insert number&gt;.</p>
</div>