<h3>
    Strategies for Optimizing Stem Cell Mobilization and Collection
</h3>
<div class="source">
    Complimentary, Certified CME Provided by Med-IQ
</div>
<div class="clearfix" id="cme_teaser">
    <div class="photo">
        <img alt="CME" height="151" src="/Images/mediq_133x151_tcm8-285271.jpg"
        title="CME" width="133">
    </div>
    <div class="content">
        <div class="intro">
            Explore methods of stem cell mobilization, patient-related factors that
            may contribute to poor mobilization, and new and emerging strategies used
            to facilitate mobilization.
        </div>
        < dl class="info clearfix">
            <dt>
                Duration
            </dt>
            <dd>
                August 28, 2012 to August 27, 2013
            </dd>
            <dt>
                Credits
            </dt>
            <dd>
                A maximum of&nbsp;1.0&nbsp;
                <em>
                    AMA PRA Category 1 Credit™
                </em>
            </dd>
            <dt>
                Faculty
            </dt>
            <dd>
                Luciano J. Costa, MD, PhD | Mary J. Laughlin, MD
            </dd>
            </dl>
    </div>
</div>        
<a class="close-reveal-modal">×</a>        
