<div class="classified-ad-container">
  <section class="carousel-container">
    <div id="jobCarousel" class="carousel">
      <div class="slide"><a href="http://ehealthcareers.com/"><img src="content/classified/slider-image-page1.jpeg" alt="" /></a></div>
      <div class="slide"><a href="http://ehealthcareers.com/"><img src="content/classified/slider-image-page2.jpeg" alt="" /></a></div>
      <div class="slide"><a href="http://ehealthcareers.com/"><img src="content/classified/slider-image-page3.jpeg" alt="" /></a></div>
      <div class="slide"><a href="http://ehealthcareers.com/"><img src="content/classified/slider-image-page4.jpeg" alt="" /></a></div>
    </div>
  </section>
</div>
<script type='text/javascript'>

$(function(){
  var jobCarousel = $('#jobCarousel').bxSlider({slideSelector: 'div.slide', preloadImages: 'all', auto: true, controls: true, pager: false});
});
</script>