<section class="update-section page-section">
  <div class="page-section-heading">
    <h3 class="page-section-title">Editors' Picks</h3>
  </div><!--/.page-section-heading-->
  <div class="page-section-body">
<ul class="section-grid">
<li class="section-grid-item">
<article class="" data-pu-iid="0001">
		<div class="item-container">
			<div class="item-header-container">
				<header class="item-header">
        <div class="flag-container">
          <span class="flag featured has-tip" data-width="160" title="Cardiology, Dermatology, Primary Care"><i class="icon-star"></i> featured 
<span class="pu-icon-cardiology" style="font-size: 24px;
color:#e3e3e3;
float: right;"></span> 
<span class="pu-icon-dermatology" style="font-size: 24px;
color:#e3e3e3;
float: right;"></span> 
<span class="pu-icon-oncology" style="font-size: 24px;
color:#e3e3e3;
float: right;"></span>
          </span>
        </div>
					<div class="item-title-container">
						<h1 class="item-title"><a href="story-of-the-week.html">Second-Line FOLFIRI/Aflibercept Ups Survival in Metastatic Colorectal Cancer</a></h1>
					</div><!--/.item-title-container-->
				</header>
			</div><!--/.item-header-container-->
			<div class="item-content-container">
				<div class="item-content">
					<div class="expert-comment-container">
  					<div class="comment-meta">
  						<h5><i class="icon-comment"></i>&nbsp;Expert Comment</h5>
  						<dl class="author-list author-list-compact">
                <dt class="list-label at-wrtby">Written by</dt>
                <dd>
                  <span class="vcard vcard-inline">
                    <img class="avatar a20" src="content/img/users/Axel_Grothey_2009_REVISED_tcm8-199717.jpg">
                    <!--     -->
                    <a class="fn n expert-name" href="#">
                      <!-- <span class="honorific-prefix">Dr.</span> -->
                      <span class="given-name">Axel</span>
                      <span class="additional-name"></span>
                      <span class="family-name">Grothey</span>
                      <span class="honorific-suffix">MD</span>
                    </a><!--/.fn-->
                  </span><!--/.vcard-->
                </dd>
              <dl><!-- /.author-list-->
    				</div><!--/.comment-meta-->
					</div><!--/.expert-comment-container-->
				</div><!--/.item-content-->
			</div><!--/.item-content-container-->
			<div class="item-source-container">
				<div class="item-source">
					<div class="journal">
						<dl class="source-citation">
							<dt class="journal-title">Journal of Clinical Oncology</dt>
							<dd class="item-citation"><span class="label label-item-type">ArticleTypeName</span> <span class="separator-middot">&middot;</span> Clin Cancer Res. 2012 Mar 29;[Epub Ahead of Print], DN Finegold, CJ Baty, KZ Knickelbein, et al</dd>
						</dl>
					</div><!--/.journal-->
				</div><!--/.item-source -->
			</div><!--/.item-source-container-->

		</div><!--/.item-container-->
		<footer class="item-footer">
			<!-- <div class="portal-meta meta">
			<dl class="rating"><dt class="practice-relevance">Practice Relevance:</dt> <dd class="value">3</dd></dl>
			</div> -->
			<!--
			<div class="item-actions">
			<ul class="link-list">
			<li><a href="#" ><i class="icon-star-empty"></i></a></li>
			<li><a href="#" ><i class="icon-share-alt"></i></a></li>
			</ul>--><!--/.link-list-->
			<!-- </div> --><!--/.item-actions-->
		</footer>
	</article>
</li>
<li class="section-grid-item">
<article class="" data-pu-iid="0001">
		<div class="item-container">
			<div class="item-header-container">
				<header class="item-header">
					<div class="item-title-container">
						<h1 class="item-title"><a href="story-of-the-week.html">Second-Line FOLFIRI/Aflibercept Ups Survival in Metastatic Colorectal Cancer</a></h1>
					</div><!--/.item-title-container-->
				</header>
			</div><!--/.item-header-container-->
			<div class="item-content-container">
				<div class="item-content">
					<div class="expert-comment-container">
  					<div class="comment-meta">
  						<h5><i class="icon-comment"></i>&nbsp;Expert Comment</h5>
  						<dl class="author-list author-list-compact">
                <dt class="list-label at-wrtby">Written by</dt>
                <dd>
                  <span class="vcard vcard-inline">
                    <img class="avatar a20" src="content/img/users/Axel_Grothey_2009_REVISED_tcm8-199717.jpg">
                    <!--     -->
                    <a class="fn n expert-name" href="#">
                      <!-- <span class="honorific-prefix">Dr.</span> -->
                      <span class="given-name">Axel</span>
                      <span class="additional-name"></span>
                      <span class="family-name">Grothey</span>
                      <span class="honorific-suffix">MD</span>
                    </a><!--/.fn-->
                  </span><!--/.vcard-->
                </dd>
              <dl><!-- /.author-list-->
    				</div><!--/.comment-meta-->
					</div><!--/.expert-comment-container-->
				</div><!--/.item-content-->
			</div><!--/.item-content-container-->
			<div class="item-source-container">
				<div class="item-source">
					<div class="journal">
						<dl class="source-citation">
							<dt class="journal-title">Journal of Clinical Oncology</dt>
							<dd class="item-citation"><span class="label label-item-type">ArticleTypeName</span> <span class="separator-middot">&middot;</span> Clin Cancer Res. 2012 Mar 29;[Epub Ahead of Print], DN Finegold, CJ Baty, KZ Knickelbein, et al</dd>
						</dl>
					</div><!--/.journal-->
				</div><!--/.item-source -->
			</div><!--/.item-source-container-->

		</div><!--/.item-container-->
		<footer class="item-footer">
			<!-- <div class="portal-meta meta">
			<dl class="rating"><dt class="practice-relevance">Practice Relevance:</dt> <dd class="value">3</dd></dl>
			</div> -->
			<!--
			<div class="item-actions">
			<ul class="link-list">
			<li><a href="#" ><i class="icon-star-empty"></i></a></li>
			<li><a href="#" ><i class="icon-share-alt"></i></a></li>
			</ul>--><!--/.link-list-->
			<!-- </div> --><!--/.item-actions-->
		</footer>
	</article>
</li>
<li class="section-grid-item">
<article class="" data-pu-iid="0001">
		<div class="item-container">
			<div class="item-header-container">
				<header class="item-header">
					<div class="item-title-container">
						<h1 class="item-title"><a href="story-of-the-week.html">Second-Line FOLFIRI/Aflibercept Ups Survival in Metastatic Colorectal Cancer</a></h1>
					</div><!--/.item-title-container-->
				</header>
			</div><!--/.item-header-container-->
			<div class="item-content-container">
				<div class="item-content">
					<div class="expert-comment-container">
  					<div class="comment-meta">
  						<h5><i class="icon-comment"></i>&nbsp;Expert Comment</h5>
  						<dl class="author-list author-list-compact">
                <dt class="list-label at-wrtby">Written by</dt>
                <dd>
                  <span class="vcard vcard-inline">
                    <img class="avatar a20" src="content/img/users/Axel_Grothey_2009_REVISED_tcm8-199717.jpg">
                    <!--     -->
                    <a class="fn n expert-name" href="#">
                      <!-- <span class="honorific-prefix">Dr.</span> -->
                      <span class="given-name">Axel</span>
                      <span class="additional-name"></span>
                      <span class="family-name">Grothey</span>
                      <span class="honorific-suffix">MD</span>
                    </a><!--/.fn-->
                  </span><!--/.vcard-->
                </dd>
              <dl><!-- /.author-list-->
    				</div><!--/.comment-meta-->
					</div><!--/.expert-comment-container-->
				</div><!--/.item-content-->
			</div><!--/.item-content-container-->
			<div class="item-source-container">
				<div class="item-source">
					<div class="journal">
						<dl class="source-citation">
							<dt class="journal-title">Journal of Clinical Oncology</dt>
							<dd class="item-citation"><span class="label label-item-type">ArticleTypeName</span> <span class="separator-middot">&middot;</span> Clin Cancer Res. 2012 Mar 29;[Epub Ahead of Print], DN Finegold, CJ Baty, KZ Knickelbein, et al</dd>
						</dl>
					</div><!--/.journal-->
				</div><!--/.item-source -->
			</div><!--/.item-source-container-->

		</div><!--/.item-container-->
		<footer class="item-footer">
			<!-- <div class="portal-meta meta">
			<dl class="rating"><dt class="practice-relevance">Practice Relevance:</dt> <dd class="value">3</dd></dl>
			</div> -->
			<!--
			<div class="item-actions">
			<ul class="link-list">
			<li><a href="#" ><i class="icon-star-empty"></i></a></li>
			<li><a href="#" ><i class="icon-share-alt"></i></a></li>
			</ul>--><!--/.link-list-->
			<!-- </div> --><!--/.item-actions-->
		</footer>
	</article>
</li>
<li class="section-grid-item">
<article class="" data-pu-iid="0001">
		<div class="item-container">
			<div class="item-header-container">
				<header class="item-header">
					<div class="item-title-container">
						<h1 class="item-title"><a href="story-of-the-week.html">Second-Line FOLFIRI/Aflibercept Ups Survival in Metastatic Colorectal Cancer</a></h1>
					</div><!--/.item-title-container-->
				</header>
			</div><!--/.item-header-container-->
			<div class="item-content-container">
				<div class="item-content">
					<div class="expert-comment-container">
  					<div class="comment-meta">
  						<h5><i class="icon-comment"></i>&nbsp;Expert Comment</h5>
  						<dl class="author-list author-list-compact">
                <dt class="list-label at-wrtby">Written by</dt>
                <dd>
                  <span class="vcard vcard-inline">
                    <img class="avatar a20" src="content/img/users/Axel_Grothey_2009_REVISED_tcm8-199717.jpg">
                    <!--     -->
                    <a class="fn n expert-name" href="#">
                      <!-- <span class="honorific-prefix">Dr.</span> -->
                      <span class="given-name">Axel</span>
                      <span class="additional-name"></span>
                      <span class="family-name">Grothey</span>
                      <span class="honorific-suffix">MD</span>
                    </a><!--/.fn-->
                  </span><!--/.vcard-->
                </dd>
              <dl><!-- /.author-list-->
    				</div><!--/.comment-meta-->
					</div><!--/.expert-comment-container-->
				</div><!--/.item-content-->
			</div><!--/.item-content-container-->
			<div class="item-source-container">
				<div class="item-source">
					<div class="journal">
						<dl class="source-citation">
							<dt class="journal-title">Journal of Clinical Oncology</dt>
							<dd class="item-citation"><span class="label label-item-type">ArticleTypeName</span> <span class="separator-middot">&middot;</span> Clin Cancer Res. 2012 Mar 29;[Epub Ahead of Print], DN Finegold, CJ Baty, KZ Knickelbein, et al</dd>
						</dl>
					</div><!--/.journal-->
				</div><!--/.item-source -->
			</div><!--/.item-source-container-->

		</div><!--/.item-container-->
		<footer class="item-footer">
			<!-- <div class="portal-meta meta">
			<dl class="rating"><dt class="practice-relevance">Practice Relevance:</dt> <dd class="value">3</dd></dl>
			</div> -->
			<!--
			<div class="item-actions">
			<ul class="link-list">
			<li><a href="#" ><i class="icon-star-empty"></i></a></li>
			<li><a href="#" ><i class="icon-share-alt"></i></a></li>
			</ul>--><!--/.link-list-->
			<!-- </div> --><!--/.item-actions-->
		</footer>
	</article>
</li>
<li class="section-grid-item">
<article class="" data-pu-iid="0001">
		<div class="item-container">
			<div class="item-header-container">
				<header class="item-header">
					<div class="item-title-container">
						<h1 class="item-title"><a href="story-of-the-week.html">Second-Line FOLFIRI/Aflibercept Ups Survival in Metastatic Colorectal Cancer</a></h1>
					</div><!--/.item-title-container-->
				</header>
			</div><!--/.item-header-container-->
			<div class="item-content-container">
				<div class="item-content">
					<div class="expert-comment-container">
  					<div class="comment-meta">
  						<h5><i class="icon-comment"></i>&nbsp;Expert Comment</h5>
  						<dl class="author-list author-list-compact">
                <dt class="list-label at-wrtby">Written by</dt>
                <dd>
                  <span class="vcard vcard-inline">
                    <img class="avatar a20" src="content/img/users/Axel_Grothey_2009_REVISED_tcm8-199717.jpg">
                    <!--     -->
                    <a class="fn n expert-name" href="#">
                      <!-- <span class="honorific-prefix">Dr.</span> -->
                      <span class="given-name">Axel</span>
                      <span class="additional-name"></span>
                      <span class="family-name">Grothey</span>
                      <span class="honorific-suffix">MD</span>
                    </a><!--/.fn-->
                  </span><!--/.vcard-->
                </dd>
              <dl><!-- /.author-list-->
    				</div><!--/.comment-meta-->
					</div><!--/.expert-comment-container-->
				</div><!--/.item-content-->
			</div><!--/.item-content-container-->
			<div class="item-source-container">
				<div class="item-source">
					<div class="journal">
						<dl class="source-citation">
							<dt class="journal-title">Journal of Clinical Oncology</dt>
							<dd class="item-citation"><span class="label label-item-type">ArticleTypeName</span> <span class="separator-middot">&middot;</span> Clin Cancer Res. 2012 Mar 29;[Epub Ahead of Print], DN Finegold, CJ Baty, KZ Knickelbein, et al</dd>
						</dl>
					</div><!--/.journal-->
				</div><!--/.item-source -->
			</div><!--/.item-source-container-->

		</div><!--/.item-container-->
		<footer class="item-footer">
			<!-- <div class="portal-meta meta">
			<dl class="rating"><dt class="practice-relevance">Practice Relevance:</dt> <dd class="value">3</dd></dl>
			</div> -->
			<!--
			<div class="item-actions">
			<ul class="link-list">
			<li><a href="#" ><i class="icon-star-empty"></i></a></li>
			<li><a href="#" ><i class="icon-share-alt"></i></a></li>
			</ul>--><!--/.link-list-->
			<!-- </div> --><!--/.item-actions-->
		</footer>
	</article>
</li>
<li class="section-grid-item">
<article class="" data-pu-iid="0001">
		<div class="item-container">
			<div class="item-header-container">
				<header class="item-header">
					<div class="item-title-container">
						<h1 class="item-title"><a href="story-of-the-week.html">Second-Line FOLFIRI/Aflibercept Ups Survival in Metastatic Colorectal Cancer</a></h1>
					</div><!--/.item-title-container-->
				</header>
			</div><!--/.item-header-container-->
			<div class="item-content-container">
				<div class="item-content">
					<div class="expert-comment-container">
  					<div class="comment-meta">
  						<h5><i class="icon-comment"></i>&nbsp;Expert Comment</h5>
  						<dl class="author-list author-list-compact">
                <dt class="list-label at-wrtby">Written by</dt>
                <dd>
                  <span class="vcard vcard-inline">
                    <img class="avatar a20" src="content/img/users/Axel_Grothey_2009_REVISED_tcm8-199717.jpg">
                    <!--     -->
                    <a class="fn n expert-name" href="#">
                      <!-- <span class="honorific-prefix">Dr.</span> -->
                      <span class="given-name">Axel</span>
                      <span class="additional-name"></span>
                      <span class="family-name">Grothey</span>
                      <span class="honorific-suffix">MD</span>
                    </a><!--/.fn-->
                  </span><!--/.vcard-->
                </dd>
              <dl><!-- /.author-list-->
    				</div><!--/.comment-meta-->
					</div><!--/.expert-comment-container-->
				</div><!--/.item-content-->
			</div><!--/.item-content-container-->
			<div class="item-source-container">
				<div class="item-source">
					<div class="journal">
						<dl class="source-citation">
							<dt class="journal-title">Journal of Clinical Oncology</dt>
							<dd class="item-citation"><span class="label label-item-type">ArticleTypeName</span> <span class="separator-middot">&middot;</span> Clin Cancer Res. 2012 Mar 29;[Epub Ahead of Print], DN Finegold, CJ Baty, KZ Knickelbein, et al</dd>
						</dl>
					</div><!--/.journal-->
				</div><!--/.item-source -->
			</div><!--/.item-source-container-->

		</div><!--/.item-container-->
		<footer class="item-footer">
			<!-- <div class="portal-meta meta">
			<dl class="rating"><dt class="practice-relevance">Practice Relevance:</dt> <dd class="value">3</dd></dl>
			</div> -->
			<!--
			<div class="item-actions">
			<ul class="link-list">
			<li><a href="#" ><i class="icon-star-empty"></i></a></li>
			<li><a href="#" ><i class="icon-share-alt"></i></a></li>
			</ul>--><!--/.link-list-->
			<!-- </div> --><!--/.item-actions-->
		</footer>
	</article>
</li>
</ul>
  </div><!--/.page-section-body-->
</section>