<header class="widget-header">
  <h3 class="list-widget-title">Recently Updated</h3>
</header>
<div class="widget-body">
  <ul class="recent-pub-list list-widget-list">
  {{#items}}
  	<li class="recent-pub-item list-widget-item entry">
      <article class="recent-pub in-list">
        {{#featured}}<span class="flag featured"><i class="icon-star"></i></span>{{/featured}}
        {{#story-of-the-week}}<span class="flag story-of-the-week"><i class="icon-bookmark"></i> story of the week</span>{{/story-of-the-week}}
        <span class="recent-pub-title"><a href="{{url}}">{{title}}</a></span>
      </article>
  	</li><!--/.item-container-->
  {{/items}}
  </ul>
</div>
<footer class="widget-footer">
</footer>