<div class="carousel-container">
<div id="updateCarousel" class="content-carousel">
  <img src="content/carousel/slide-1.jpg" data-thumb="slide-tn-1.jpg" data-caption="#caption-1" />
  <img src="content/carousel/slide-2.jpg" data-thumb="slide-tn-2.jpg" data-caption="#caption-2" />
  <img src="content/carousel/slide-3.jpg" data-thumb="slide-tn-3.jpg" data-caption="#caption-3" />
</div>

<div class="orbit-caption" id="caption-1">
<div class="flag-container flag-container-compact">
						<span class="flag featured"><i class="icon-star"></i> featured</span>
						<span class="flag story-of-the-week"><i class="icon-bookmark"></i> story of the week</span>
					</div>
<a href="#" class="item-title title-editorial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae felis at dui accumsan facilisis</a>
<dl class="author-list author-list-compact">
    <dt class="list-label"></dt>
    <dd>
      <span class="vcard vcard-inline">
        <img class="avatar a20" src="http://placehold.it/20x20"/>
        <!-- {{firstName}} {{middleName}} {{lastName}} {{honorific}} -->
        <a class="fn n expert-name" href="#">
          <!-- <span class="honorific-prefix">Dr.</span> -->
          <span class="given-name">Joseph</span>
          <span class="additional-name">Q</span>
          <span class="family-name">Public</span>
          <span class="honorific-suffix">MD</span>
        </a><!--/.fn-->
      </span><!--/.vcard-->
    </dd>
    <dt class="list-label">Contributions from</dt>
    <dd>
      <span class="vcard vcard-inline">
        <img class="avatar a20" src="http://placehold.it/20x20"/>
        <!-- {{firstName}} {{middleName}} {{lastName}} {{honorific}} -->
        <a class="fn n expert-name" href="#">
          <!-- <span class="honorific-prefix">Dr.</span> -->
          <span class="given-name">Jane</span>
          <span class="additional-name">W</span>
          <span class="family-name">Public</span>
          <span class="honorific-suffix">MD, Phd</span>
        </a><!--/.fn-->
      </span><!--/.vcard-->
    </dd>
</dl><!-- /.author-list-->
</div>
<div class="orbit-caption" id="caption-2">Here is a caption2...</div>
<div class="orbit-caption" id="caption-3">Here is a caption3...</div>
<script type='text/javascript'>
   $(window).load(function() {
       $('#updateCarousel').orbit({fluid: '16x9', captions: true, captionAnimation: 'fade', timer: false});
   });
</script>
</div><!--/.carousel-container-->