<section class="update-section page-section">
  <div class="page-section-heading">
    <h3 class="page-section-title">Editors' Picks</h3>
  </div><!--/.page-section-heading-->
  <div class="page-section-body">
<ul class="block-grid two-up .mobile-one-up">
<li>  <article class="feature-grid-variant">
  <a class="item-title editorial-title" href="#">Second-Line FOLFIRI/Aflibercept Ups Survival in Metastatic Colorectal Cancer</a>
  <p class="item-citation">Journal Citation MON issue999 name name name name expert</p>
  </article></li>
<li>  <article class="feature-grid-variant">
  <a class="item-title editorial-title" href="#">FDA Approves Ultrasound Screening of Dense Breasts</a>
  <p class="item-citation">Journal Citation MON issue999 name name name name expert</p>
  </article></li>
<li>  <article class="feature-grid-variant">
  <a class="item-title editorial-title" href="#">Adjuvant Therapy in Stage I&ndash;II Uterine Carcinosarcoma</a>
  <p class="item-citation">Journal Citation MON issue999 name name name name expert</p>
  </article></li>
<li>  <article class="feature-grid-variant">
  <a class="item-title editorial-title" href="#">Risk of Ovarian Cancer Increased With Long-Term Hormone Therapy</a>
  <p class="item-citation">Journal Citation MON issue999 name name name name expert</p>
  </article></li>
<li>  <article class="feature-grid-variant">
  <a class="item-title editorial-title" href="#">Intensity-Modulated Radiotherapy in the Treatment of Breast Cancer</a>
  <p class="item-citation">Journal Citation MON issue999 name name name name expert</p>
  </article></li>
<li>  <article class="feature-grid-variant">
  <a class="item-title editorial-title" href="#">My Approach to Endocrine Therapy in Breast Cancer&mdash;Part I</a>
  <p class="item-citation">Journal Citation MON issue999 name name name name expert</p>
  </article></li>
<li>  <article class="feature-grid-variant">
  <a class="item-title editorial-title" href="#">Chemotherapy for Women With Heavily Pre-treated Metastatic Breast Cancer. A Review of the Evidence Base.</a>
  <p class="item-citation">Journal Citation MON issue999 name name name name expert</p>
  </article></li>
</ul>
  </div><!--/.page-section-body-->
</section>