<div class="carousel-container">
<div id="editorialCarousel" class="carousel">
  <div class="slide">
    <img src="content/carousel/slide-1.jpg" />
    <div class="slide-caption">
      <div class="flag-container flag-container-compact">
				<span class="flag featured"><i class="icon-star"></i> featured</span>
				<span class="flag story-of-the-week"><i class="icon-bookmark"></i> story of the week</span>
			</div>
      <a href="#" class="item-title title-editorial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae felis at dui accumsan facilisis</a>
      <dl class="author-list author-list-compact">
          <dt class="list-label"></dt>
          <dd>
            <span class="vcard vcard-inline">
              <img class="avatar a20" src="http://placehold.it/20x20"/>
              <!-- {{firstName}} {{middleName}} {{lastName}} {{honorific}} -->
              <a class="fn n expert-name" href="#">
                <!-- <span class="honorific-prefix">Dr.</span> -->
                <span class="given-name">Joseph</span>
                <span class="additional-name">Q</span>
                <span class="family-name">Public</span>
                <span class="honorific-suffix">MD</span>
              </a><!--/.fn-->
            </span><!--/.vcard-->
          </dd>
          <dt class="list-label">Contributions from</dt>
          <dd>
            <span class="vcard vcard-inline">
              <img class="avatar a20" src="http://placehold.it/20x20"/>
              <!-- {{firstName}} {{middleName}} {{lastName}} {{honorific}} -->
              <a class="fn n expert-name" href="#">
                <!-- <span class="honorific-prefix">Dr.</span> -->
                <span class="given-name">Jane</span>
                <span class="additional-name">W</span>
                <span class="family-name">Public</span>
                <span class="honorific-suffix">MD, Phd</span>
              </a><!--/.fn-->
            </span><!--/.vcard-->
          </dd>
        </dl><!-- /.author-list-->
      </div><!--/slide-caption-->
    </div><!--/slide-->
  <div class="slide">
    <img src="content/carousel/slide-2.jpg" />
    <div class="slide-caption">
      <div class="flag-container flag-container-compact">
				<span class="flag featured"><i class="icon-star"></i> featured</span>
				<span class="flag story-of-the-week"><i class="icon-bookmark"></i> story of the week</span>
			</div>
      <a href="#" class="item-title title-editorial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae felis at dui accumsan facilisis</a>
      <dl class="author-list author-list-compact">
          <dt class="list-label"></dt>
          <dd>
            <span class="vcard vcard-inline">
              <img class="avatar a20" src="http://placehold.it/20x20"/>
              <!-- {{firstName}} {{middleName}} {{lastName}} {{honorific}} -->
              <a class="fn n expert-name" href="#">
                <!-- <span class="honorific-prefix">Dr.</span> -->
                <span class="given-name">Joseph</span>
                <span class="additional-name">Q</span>
                <span class="family-name">Public</span>
                <span class="honorific-suffix">MD</span>
              </a><!--/.fn-->
            </span><!--/.vcard-->
          </dd>
          <dt class="list-label">Contributions from</dt>
          <dd>
            <span class="vcard vcard-inline">
              <img class="avatar a20" src="http://placehold.it/20x20"/>
              <!-- {{firstName}} {{middleName}} {{lastName}} {{honorific}} -->
              <a class="fn n expert-name" href="#">
                <!-- <span class="honorific-prefix">Dr.</span> -->
                <span class="given-name">Jane</span>
                <span class="additional-name">W</span>
                <span class="family-name">Public</span>
                <span class="honorific-suffix">MD, Phd</span>
              </a><!--/.fn-->
            </span><!--/.vcard-->
          </dd>
        </dl><!-- /.author-list-->
      </div><!--/slide-caption-->
  </div>
  <div class="slide">
    <img src="content/carousel/slide-3.jpg" />
    <div class="slide-caption">
      <div class="flag-container flag-container-compact">
				<span class="flag featured"><i class="icon-star"></i> featured</span>
				<span class="flag story-of-the-week"><i class="icon-bookmark"></i> story of the week</span>
			</div>
      <a href="#" class="item-title title-editorial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae felis at dui accumsan facilisis</a>
      <dl class="author-list author-list-compact">
          <dt class="list-label"></dt>
          <dd>
            <span class="vcard vcard-inline">
              <img class="avatar a20" src="http://placehold.it/20x20"/>
              <!-- {{firstName}} {{middleName}} {{lastName}} {{honorific}} -->
              <a class="fn n expert-name" href="#">
                <!-- <span class="honorific-prefix">Dr.</span> -->
                <span class="given-name">Joseph</span>
                <span class="additional-name">Q</span>
                <span class="family-name">Public</span>
                <span class="honorific-suffix">MD</span>
              </a><!--/.fn-->
            </span><!--/.vcard-->
          </dd>
          <dt class="list-label">Contributions from</dt>
          <dd>
            <span class="vcard vcard-inline">
              <img class="avatar a20" src="http://placehold.it/20x20"/>
              <!-- {{firstName}} {{middleName}} {{lastName}} {{honorific}} -->
              <a class="fn n expert-name" href="#">
                <!-- <span class="honorific-prefix">Dr.</span> -->
                <span class="given-name">Jane</span>
                <span class="additional-name">W</span>
                <span class="family-name">Public</span>
                <span class="honorific-suffix">MD, Phd</span>
              </a><!--/.fn-->
            </span><!--/.vcard-->
          </dd>
        </dl><!-- /.author-list-->
      </div><!--/slide-caption-->
  </div>
</div>

<div class="pager-container">
  <div id="editorialCarouselPager" class="carousel carousel-pager">
    <div class="pager-thumb" data-slide="1">
      <a>
        <img src="content/carousel/slide-1.jpg" />
        <small class="item-title title-tiny">Lorem Ipsum Dolor Set Amit</small>
      </a>
    </div>
    <div class="pager-thumb" data-slide="2">
      <a>
        <img src="content/carousel/slide-1.jpg" />
        <small class="item-title title-tiny">Lorem Ipsum Dolor Set Amit</small>
      </a>
    </div>
    <div class="pager-thumb" data-slide="3">
      <a>
        <img src="content/carousel/slide-1.jpg" />
        <small class="item-title title-tiny">Lorem Ipsum Dolor Set Amit</small>
      </a>
    </div>
    <div class="pager-thumb" data-slide="4">
      <a>
        <img src="content/carousel/slide-1.jpg" />
        <small class="item-title title-tiny">Lorem Ipsum Dolor Set Amit</small>
      </a>
    </div>
    <div class="pager-thumb" data-slide="5">
      <a>
        <img src="content/carousel/slide-1.jpg" />
        ../../dermatology.html<small class="item-title title-tiny">Lorem Ipsum Dolor Set Amit</small>
      </a>
    </div>
    <div class="pager-thumb" data-slide="6">
      <a>
        <img src="content/carousel/slide-1.jpg" />
        <small class="item-title title-tiny">Lorem Ipsum Dolor Set Amit</small>
      </a>
    </div>
    <div class="pager-thumb" data-slide="">
      <a>
        <img src="content/carousel/slide-1.jpg" />
        <small class="item-title title-tiny">Lorem Ipsum Dolor Set Amit</small>
      </a>
    </div>
    <div class="pager-thumb" data-slide="">
      <a>
        <img src="content/carousel/slide-1.jpg" />
        <small class="item-title title-tiny">Lorem Ipsum Dolor Set Amit</small>
      </a>
    </div>
    <div class="pager-thumb" data-slide="">
      <a>
        <img src="content/carousel/slide-1.jpg" />
        <small class="item-title title-tiny">Lorem Ipsum Dolor Set Amit</small>
      </a>
    </div>
    <div class="pager-thumb" data-slide="">
      <a>
        <img src="content/carousel/slide-1.jpg" />
        <small class="item-title title-tiny">Lorem Ipsum Dolor Set Amit</small>
      </a>
    </div>
  </div><!--/.carousel-pager-->
</div><!--/.pager-container-->

<script type='text/javascript'>

$(function(){
  var editorialCarousel = $('#editorialCarousel').bxSlider({slideSelector: 'div.slide', preloadImages: 'all', auto: true, controls: false, pager: false});
  var editorialCarouselPager = $('#editorialCarouselPager').bxSlider({pager: false, slideSelector: 'div.pager-thumb', minSlides:3, maxSlides:5, slideWidth: 80, slideMargin:7});

  $('#editorialCarouselPager .pager-thumb').on('hover', function(e){
     e.preventDefault();
     var index = $(this).attr('data-slide');
     editorialCarousel.goToSlide(index);
     });
});
</script>
</div><!--/.carousel-container-->