<div class="footer-row">
<ul class="social-links">
	<li><a href="http://www.facebook.com/practiceupdate"><i class="icon-facebook"></i></a></li>
	<li><a href="http://www.twitter.com/practiceupdate"><i class="icon-twitter"></i></a></li>
	<li><a href="https://plus.google.com/118384589571934081486" rel="publisher"><i class="icon-google-plus"></i></a></li>
</ul>
</div>

<div class="footer-row">
<ul class="utility-links">
  <li><a href="http://elsevier6.custhelp.com/app/answers/list/p/8398/c/0" target="_blank">help</a></li>
  <li><a href="http://elsevier6.custhelp.com/app/ask_aer/p/8398" target="_blank">contact us</a></li>
	<li><a href="advertise.html">advertise</a></li>
	<li><a href="about-us.html">about us</a></li>
	<!--
	NOTE: Disable sitemap link until a design is agreed upon by group
	<li><a href="#">sitemap</a></li> -->
</ul>
<ul class="policy-links">
	<li><a href="http://www.elsevier.com/legal/privacy-policy" target="_blank">Privacy Policy</a></li>
	<li><a href="http://www.elsevier.com/legal/elsevier-website-terms-and-conditions" target="_blank">Terms and Conditions</a></li>
</ul>
</div><!--/.utility-->

<div class="footer-row legal">
<div class="els-logo"><img src="content/img/elsevier_logo.png" alt="Elsevier Logo" /></div>
<p class="copyright">Copyright &copy; 2012 Elsevier Inc. <br />All rights reserved.</p>
</div>