<div id ="els-global-footer" class="footer-section-container">
	<div class="footer-section">
		<div class="widget els-branding">			
			<img class="els-logo" src="content/img/elsevier_logo.png" alt="Elsevier Logo" />
		</div><!--/.els-branding-->
		<div class="widget els-description">			
			<p class="span4">Elsevier is a leading publisher of health science books and journals, helping to advance medicine by delivering superior education, reference information and decision support tools to doctors, nurses, health practitioners and students. With titles available across a variety of media—print, online and handheld, we are able to supply the information you need in the most convenient format.</p>
			<p>Copyright <span class="sc-copy">&copy;</span> 2012 Elsevier Inc. All rights reserved.</p>
		</div><!--/.els-description-->
	</div><!--/.footer-section-->
</div><!--/.footer-section-container-->