<!-- Modal For Features not available in the Beta -->
<div  id="password-reset"  class="reveal-modal modals-forgot-password">
	<form id="FormPasswordReset" class="AlertWhite">
		<header class="form-header">
			<div class="cta-title">
				<span class="cta-title-text">Password Reset: Create New Password</span>
			</div>
		</header>
		<p>You must create a new password for your PracticeUpdate account.</p>
		<input id="Password" type="password" placeholder="Password" name="Password">
		<small class="error">Invalid Password</small>
		<small class="help-block">Password must be 6-20 characters (letters, numbers and hyphens are accepted but not spaces)</small>
		<input id="VerifyPassword" type="password" placeholder="Verify Password" name="VerifyPassword">
		<small class="error">Passwords do not match</small>
		<a href="#" class="form-submit">Submit</a>
		<a href="#" class="form-cancel">Cancel</a>
	</form>
</div>