		<div class="row"><div class="twelve columns"><input type="text" placeholder="Email" name="Email"></div></div>
		<div class="row"><div class="twelve columns"><input type="password" placeholder="Password" name="Password" id="password"></div></div>
		<div class="row"><div class="twelve columns"><input type="password" placeholder="Confirm Password" name="VerifyPassword"></div></div>		
		<!--div class="row"><div class="twelve columns" style="display: none;"><label></label>
			<select name="StateId" id="state">
				<option value="">State</option>
				<option value="1">Alabama</option>
				<option value="2">Alaska</option>
				<option value="3">American Samoa</option>
				<option value="4">Arizona</option>
				<option value="5">Arkansas</option>
				<option value="6">Armed Forces Africa</option>
				<option value="7">Armed Forces Americas</option>
				<option value="8">Armed Forces Canada</option>
			</select>
		</div></div-->
		<div class="row" id="ErrorDiv">
			<div class="twelve columns">
			<div class="hide" id="ErrorDivMsg">All fields are required</div>
			</div>
		</div>
		<div class="row"><div class="twelve columns"><legend>Personal Information</legend><input type="text" name="FirstName" placeholder="First Name"/></div></div>
		<div class="row"><div class="twelve columns"><label></label><input type="text" name="LastName" placeholder="Last Name"/></div></div>
	<div class="row">
<div class="twelve columns">
<hr>
</div>
</div>
		<div class="row"><div class="twelve columns"><label></label>
			 <select id="country" name="CountryId">
				<option value="">Country of Residence</option>
							<option value="1">Afghanistan</option>
							<option value="2">Aland Islands</option>
							<option value="3">Albania</option>
							<option value="4">Algeria</option>
							<option value="5">American Samoa</option>
							<option value="232">United States</option>
			   </select>
		</div></div>
		<div class="row"><div class="twelve columns"><label></label>
			<select id="state" name="StateId">
    <option value="">State</option>
    <option value="1">Alabama</option>
    <option value="2">Alaska</option>
    <option value="3">American Samoa</option>
    <option value="4">Arizona</option>
    <option value="5">Arkansas</option>
    <option value="6">Armed Forces Africa</option>
    <option value="7">Armed Forces Americas</option>
    <option value="8">Armed Forces Canada</option>
   </select>	
		</div></div>
		<div id="ErrorDiv" class="row">
			<div class="twelve columns">
			<div id="ErrorDivMsg" class="hide">All fields are required</div>
			</div>
		</div>
		<div class="row"><div class="six columns">
		<input id="Submit" class="button" type="submit" value="Register"/>
		</div><div class="six columns"><a href="#" data-reveal-id="modal-cancel-registration">Cancel</a></div></div>
