<section class="section-form-login">
	<fieldset>
		<legend>Personal Information</legend>
		<label><input type="text" value="First Name"/></label>
		<label><input type="text" value="Last Name"/></label>
	</fieldset>
	<fieldset>
		<legend>Your Login</legend>
		<label><input type="text" value="Email"/></label>
		<label><input type="password" value="Password"/></label>
		<label><input type="password" value="Confirm Password"/></label>
		<span>password must be 6-20 xharacters (letters? numbers and hyphens are accepted but not spaces)</span>
		<label>
			<select>
				<option>Country of Residence</option>
			</select>
		</label>
		<label>
			<select>
				<option>State</option>
			</select>
		</label>
		<input type="submit" value="Register"/>
		<a href="">Cancel</a>
	</fieldset>
</section><!--/.section-content-->
