<section class="section-form-login">
	<fieldset>
		<div class="row"><div class="twelve columns"><label>Personal Information</label><input type="text" name="FirstName" value="First Name"/></div></div>
		<div class="row"><div class="twelve columns"><label></label><input type="text" name="LastName" value="Last Name"/></div></div>
	</fieldset>
	<fieldset>
		<div class="row"><div class="twelve columns"><label>Your Login</label><input type="text" name="Email" value="Email"/></div></div>
		<div class="row"><div class="twelve columns"><label></label><input type="password" name="Password" value="Password"/></div></div>
		<div class="row"><div class="twelve columns"><label></label><input name="VerifyPassword" type="password" value="Confirm Password"/></div></div>
		<span>password must be 6-20 xharacters (letters? numbers and hyphens are accepted but not spaces)</span>
		<div class="row"><div class="twelve columns"><label></label>
			<select>
				<option>Country of Residence</option>
			</select>
		</div></div>
		<div class="row"><div class="twelve columns"><label></label>
			<select>
				<option>State</option>
			</select>		
		</div></div>
		<div id="ErrorDiv" class="row">
			<div class="twelve columns">
			<div id="ErrorDivMsg">All fields are required</div>
			</div>
		</div>
		<div class="row"><div class="six columns">
		<input id="Submit" class="button" type="submit" value="Register"/>
		</div><div class="six columns"><a href="">Cancel</a></div></div>
	</fieldset>
</section><!--/.section-content-->
