<section class="update-block">
	<div class="message">
		<p>Get the most updates,relevant content by your completing your profile and settings information. Content is displayed based on your information and your preferenced. Click save to make any updates or Cancel to return to the Home page.
	</div>
	<div class="content-menu">
		<ul>
			<li><a href="">Email & Password</a></li>
			<li class="active"><a href="">Personal Info</a></li>
			<li><a href="">Professional Info</a></li>
			<li><a href="">Content Preferences</a></li>
			<li><a href="">Subscription</a></li>
		</ul>
		<div class="content-info">
		</div>
		<div class="ButtonSaveCencel">
			<input id="Submit" class="button" type="submit" value="Save" />
			<a href="">Cancel</a>
		</div>
	</div>
</section><!--/.update-block-->