<div class="prompt stream-prompt scheduled-prompt">
	<a class="close"><i class="icon-remove"></i></a>
  <div class="prompt-header scheduled-prompt-header">
		<h1 class="prompt-header-text"><i class="icon-calendar icon-2x"></i>Today's Events</h1>
	</div><!--/.prompt-header-->
	<div class="prompt-body scheduled-prompt-body">
  	<ul class="event-list">
    	<li class="event-detail">
  			<span class="event-detail-title"><a href="#">American Urological Association 2013 Annual Meeting</a></span>
  			<span class="event-detail-date">San Diego, 5/4–8</span>
	  		<!-- //TODO: allow custom message for event alerts <span class="event-message"></span> -->
	  		<!-- //TODO: allow users to save, star, share events <span class="event-actions"></span> -->
    	</li>
  	</ul>
	</div><!--/.prompt-body-->
	<div class="prompt-footer scheduled-prompt-footer"></div><!--/.prompt-footer-->
</div><!--/.prompt-->



<div class="prompt stream-prompt welcome-prompt">
	<a class="close"><i class="icon-remove"></i></a>
  <div class="prompt-header welcome-prompt-header">
		<h1 class="prompt-header-text">Welcome to PracticeUpdate</h1>
	</div><!--/.prompt-header-->
	<div class="prompt-body welcome-prompt-body">
		<div class="eic-profile">
			<figure itemscope itemtype="http://data-vocabulary.org/Person">
				<img src="content/img/users/Lee_Schwartzberg_2009_REVIS_tcm8-199719.jpg" />
				<figcaption>
					<span itemprop="name" class="user-name"><a href="http://www.practiceupdate.com/Explore/User/?Id=5" itemprop="url">Dr. Lee Schwartzberg</a></span><br />
					<span itemprop="title" class="user-title">Editor-in-Chief</span><br />
					<span itemprop="affiliation" class="user-affiliation">PracticeUpdate Oncology</span>
				</figcaption>
			</figure>
		</div><!--/.eic-profile-->
		<div class="eic-message">
			<p>At PracticeUpdate, you’ll enjoy free access to all the resources you’ve come to rely on from OncologySTAT, plus:</p>
			<ul>
				<li>Customized content</li>
				<li>Mobile access</li>
				<li>Easy log-ins</li>
			</ul>
		</div><!--/.eic-message-->
	</div><!--/.prompt-body-->
	<div class="prompt-footer welcome-prompt-footer"></div><!--/.prompt-footer-->
</div><!--/.prompt-->