<div class="">
	<h5>Recently Updated</h5>
	{{#items}}
		<ul>
			<div class="stream-item {{type}} {{section}} {{#story-of-the-week}}story-of-the-week{{/story-of-the-week}} row-fluid">
				<li class="item-container">
							<p class="item-title"><a href="{{url}}">{{title}}</a></p>
				</li>
			</div><!--/.item-container-->
		</ul>
	{{/items}}
</div>