<div class="recommended-items">
	<h5>Recommended for you</h5>
	{{#items}}
		<ul>
			<article class="stream-item {{type}} {{section}} {{#story-of-the-week}}story-of-the-week{{/story-of-the-week}} row-fluid">
				<li class="item-container">
							<p class="item-title"><a href="{{url}}">{{title}}</a></p>
				</div><!--/.item-container-->
			</li>
		</ul>
	{{/items}}
</div>