<section class="{{section-id}} section-widget">
<header class="section-header">
		<h2>{{section-title}}</h2>
		<p>{{section-description}}</p>
	</header><!--/.section-header-->
	<div class="section-content">
				<ul>
	{{#items}}
					<li class="entry">
					<article>
					{{#featured}}<div class="flag"><span class="featured"><i class="icon-bolt"></i> featured</span></div>{{/featured}}
							<p class="meta title"><a href="#">{{title}}</a></p>
							<p class="meta author">{{#source}}{{source.name.firstName}} {{source.name.lastName}}{{/source}}</p>
							{{> _articles}}
					</article>		
					</li>
	{{/items}}
				</ul>
			<footer class="section-footer">
				<p><a href="#" class="view-more">view more</a></p>
			</footer><!--.section-footer-->
	</div><!--/.section-content-->
	</section><!--/.section-content-->
