<section class="{{section-id}} section-widget">
<header class="section-header">
<dl class="sub-nav section-filter">
  <dt>Browse:</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><a href="#">Expert Opinion</a></dd>
  <dd><a href="#">Journal Scans</a></dd>
  <dd><a href="#">News</a></dd>
</dl>
	</header><!--/.section-header-->
	<div class="section-content">
				<ul>
	{{#items}}
					<li class="entry">
					<article>
						<div class="flag-container">
							{{#featured}}<span class="flag featured"><i class="icon-bolt"></i> featured</span>{{/featured}}
							{{#story-of-the-week}}<span class="flag story-of-the-week"><i class="icon-bolt"></i> story of the week</span>{{/story-of-the-week}}
						</div>
						<hgroup class="item-title-container">
							<h1 class="item-title"><a href="#">{{title}}</a></h1>
						</hgroup><!-- /.item-title-container-->
							<p class="item-citation">{{#source}}{{source.name.firstName}} {{source.name.lastName}}{{/source}}</p>
							{{> _articles}}
					</article>
					</li>
	{{/items}}
					<li class="entry ad ad-classified ps-leaderboard" style="text-align: center">
					{{! <img src="../../content/img/classified/ELS230_PU_InlineClassifiedAd_3-crop.jpg" alt="ELS230_PU_InlineClassifiedAd_3-crop" width="595" height="150" /> }}
            <div class="widget ad leaderboard is-hidden">
                <div id="ps{{ContentTypeId}}leaderboard" class="ad-container">
                </div>
            </div>
					</li>
				</ul>
			<footer class="section-footer">
  			<div class="pagination-centered">
  				<ul class="pagination">
            <li class="arrow unavailable"><a href="">&laquo;</a></li>
            <li class="current"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li class="unavailable"><a href="">&hellip;</a></li>
            <li><a href="">12</a></li>
            <li><a href="">13</a></li>
            <li class="arrow"><a href="">&raquo;</a></li>
          </ul>
        </div>
			</footer><!--.section-footer-->
	</div><!--/.section-content-->
	</section><!--/.section-content-->
