<!-- <nav id="topMenu" role="navigation">
	<ul id="nav" class="nav-bar">
	{{#pages}}
		<li ><a href="{{page-id}}.html">{{page-id}}</a></li>
	{{/pages}}
	</ul>
</nav> --><!--/.topMenu-->
<!-- <header id="header" class="page-header">
  <div class="site-branding">
    <h1 id="site-title"><a href="#">OncologySTAT</a></h1>
  </div> --><!--/.site-branding-->
<!--   <div class="eight columns">
    <nav id="menu" role="navigation" class="hide-for-small main-nav">
			<ul id="mainNav" class="nav-bar right">
			{{#pages}}
				<li class="{{page-id}}"><a href="{{page-id}}.html">{{page-id}}</a></li>
			{{/pages}}
			</ul>
		</nav> --><!--/#menu-->
<!--  </div> --><!--/.eight columns-->
<!-- </header> --><!--/.page-header-->

<ul>
    <li class="name"><h1><a href="#">Title</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section>
    <ul class="right">
		  {{#pages}}
			<li ><a href="{{page-id}}.html">{{page-id}}</a></li>
			{{/pages}}
    </ul>
  </section>