<nav class="top-bar">

<div class="off-canvas-control">
	<div class="control-visibility">
		<div class="sidebar-button-container">
			<a class='sidebar-button button' id="sidebarButton" href="#sidebar">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
        <line fill="none" stroke="#ffffff" stroke-width="8" stroke-miterlimit="10" x1="0" y1="8.907" x2="48" y2="8.907"></line>
        <line fill="none" stroke="#ffffff" stroke-width="8" stroke-miterlimit="10" x1="0" y1="24.173" x2="48" y2="24.173"></line>
        <line fill="none" stroke="#ffffff" stroke-width="8" stroke-miterlimit="10" x1="0" y1="39.439" x2="48" y2="39.439"></line>
        Menu
      </svg>
      </a><!--/#sidebarButton -->
		</div><!--/.sidebar-button-container -->
	</div><!--/.control-visibility-->
</div><!--/.off-canvas-control-->

	<ul>
	  <li class="name"><div class="site-branding"><img src="assets/img/PracticeUpdate_logo.png"/></div><!--/.site-branding--></li>
	  <li class="toggle-topbar"><a href="#"></a></li>
	</ul>
	<section>
	  <ul id="main-nav">
		  {{#pages}}
			<li ><a href="{{page-id}}.html" class="{{page-id}}">{{page-id}}</a></li>
			{{/pages}}
	  </ul>
	</section>
</nav><!--/.top-bar-->