<nav role="navigation">
	<ul class="side-nav">
		<li class="nav-header">Spotlight</li>
		<li class="active"><a href="#"> Advanced Prostate Cancer</a></li>
		<li><a href="#">ER+ Breast Cancer</a></li>
		<li><a href="#">Thyroid Cancer</a></li>
		<li><a href="#">Chronic Myeloid Leukemia</a></li>
		<li><a href="#">Skeletal Related Events</a></li>
	</ul>
</nav>