<section class="update-block">
	<div class="message">
		<p>Get the most updates,relevant content by your completing your profile and settings information. Content is displayed based on your information and your preferenced. Click save to make any updates or Cancel to return to the Home page.
	</div>
	<div class="content-menu">
		<!-- ul>
			<li class="active"><a href="">Email & Password</a></li>
			<li><a href="">Personal Info</a></li>
			<li><a href="">Professional Info</a></li>
			<li><a href="">Content Preferences</a></li>
			<li><a href="">Subscription</a></li>
		</ul>
		<div class="content-info">
		</div -->
		<dl class="tabs">
			<dd class="active"><a href="#simple1">Email & Password</a></dd>
			<dd><a href="#simple2">Personal Info</a></dd>
			<dd><a href="#simple3">Professional Info</a></dd>
			<dd><a href="#simple4">Content Preferences</a></dd>
			<dd><a href="#simple5">Subscription</a></dd>
		</dl>
		<ul class="tabs-content">
			<li class="active" id="simple1Tab">
				<form>
					<fieldset>
						<legend>Email</legend>
						<span>Your email address is your User Name. If you change it, your new User Name will be update</span>
						<input type="text" value="Email (User Name)"/>
					</fieldset>
					<fieldset>
						<legend>Pawword</legend>
						<span>Want to change your password? Enter your current password and create a new one.</span>
						<i>All fields are required</i>
						<input type="text" value="Current Password"/>
						<input type="text" value="New Password"/>
						<input type="text" value="Confirm Password"/>
					</fieldset>
				</form>
			</li>
			<li id="simple2Tab">
				<form>
					<fieldset>
						<legend>Personal Information</legend>
						<i>All fields are required</i>
						<input type="text" value="First Name"/>
						<input type="text" value="last Name"/>
						<select>
							<option>Country of Residence</option>
						</select>
						<select>
							<option>State</option>
						</select>
					</fieldset>
				</form>
			</li>
			<li id="simple3Tab">
				<form>
					<fieldset>
						<legend>Professional Info</legend>
						<i>All fields are required</i>
						<select>
							<option>Workplace Type</option>
						</select>
						<select>
							<option>Profession</option>
						</select>
						<select>
							<option>Primary Area of Practice</option>
						</select>
					</fieldset>
				</form>
			</li>
			<li id="simple4Tab">
				<form>
					<fieldset>
						<legend>Content Preferences</legend>
						<span>You're in control. Cgoose what type of content to see on the site. You can change this at any time</span>
						<h4>Channels</h4>
						<span>Each medical specialty has its own Editorial Board. Select the focus of content to view on the site. (Channel=specialty)</span>
						<ul class="checked-list">
							<li>
								<label><input type="checkbox">
								Oncology</label>
							</li>
							<li>
								<label><input type="checkbox">
								Eve Care</label>
							</li>
							<li>
								<label><input type="checkbox">
								Dermatology</label>
							</li>
							<li>
								<label><input type="checkbox">
								Urology</label>
							</li>
							<li>
								<label><input type="checkbox">
								Primary Care</label>
							</li>
							<li>
								<label><input type="checkbox">
								Cardiology</label>
							</li>
						</ul>
						<h4>Topic</h4>
						<span>Each "Channel" offers you a different variety of topics to view. You can select a few or all each Cgannel</span>
						<ul class="accordion">
							<li class="active">
								<div class="title">
									<h5>Oncology</h5>
								</div>
								<div class="content" style="display: block;">
									<ul class="checked-list">
										<li>
											<label><input type="checkbox">
											All {{channel}}</label>
										</li>
										<li>
											<label><input type="checkbox">
											Breast Cancer</label>
										</li>
										<li>
											<label><input type="checkbox">
											Medical</label>
										</li>
										<li>
											<label><input type="checkbox">
											Bladder Cancer</label>
										</li>
										<li>
											<label><input type="checkbox">
											Surgical</label>
										</li>
										<li>
											<label><input type="checkbox">
											... cancer</label>
										</li>
										<li>
											<label><input type="checkbox">
											Raditation</label>
										</li>
										<li>
											<label><input type="checkbox">
											... cancer</label>
										</li>
									</ul>
								</div>
							</li>
							<li class="">
								<div class="title">
									<h5>Primary Care</h5>
								</div>
								<div class="content" style="display: none;">
									<ul class="checked-list">
										<li>
											<label><input type="checkbox">
											Breast Cancer</label>
										</li>
										<li>
											<label><input type="checkbox">
											Medical</label>
										</li>
										<li>
											<label><input type="checkbox">
											Bladder Cancer</label>
										</li>
										<li>
											<label><input type="checkbox">
											Surgical</label>
										</li>
										<li>
											<label><input type="checkbox">
											... cancer</label>
										</li>
										<li>
											<label><input type="checkbox">
											Raditation</label>
										</li>
										<li>
											<label><input type="checkbox">
											... cancer</label>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</fieldset>
				</form>
			</li>
			<li id="simple5Tab">
				<form>
					<fieldset>
						<legend>Subscriptions</legend>
						<span>We offer newsletters and targeted emails based on your preferences. Choose to receve emails on 1, a few or all topics.</span>
						<ul class="accordion">
							<li class="active">
								<div class="title">
									<h5>Oncology</h5>
								</div>
								<div class="content" style="display: block;">
									<h4>Weekly</h4>
									<ul class="checked-list width100">
										<li>
											<label><input type="checkbox">
											InfoBlast(Oncology Update) - a weekly digest of the last cancer information</label>
										</li>
										<li>
											<label><input type="checkbox">
											News - a weekly round-up of the top news stories</label>
										</li>
										<li>
											<label><input type="checkbox">
											Journal Scars - a weekly survey of cancer-related journal articles</label>
										</li>
									</ul>
									<h4>Monthly</h4>
									<ul class="checked-list">
										<li>
											<label><input type="checkbox">
											Breast Cancer</label>
										</li>
										<li>
											<label><input type="checkbox">
											Medical</label>
										</li>
										<li>
											<label><input type="checkbox">
											Bladder Cancer</label>
										</li>
										<li>
											<label><input type="checkbox">
											Surgical</label>
										</li>
										<li>
											<label><input type="checkbox">
											... cancer</label>
										</li>
										<li>
											<label><input type="checkbox">
											Raditation</label>
										</li>
										<li>
											<label><input type="checkbox">
											... cancer</label>
										</li>
									</ul>
									<h4>Alerts</h4>
									<ul class="checked-list width100">
										<li>
											<label><input type="checkbox">
											Conferences</label>
										</li>
										<li>
											<label><input type="checkbox">
											CME - notification of new CMEs in my cancer area of interest</label>
										</li>
									</ul>
								</div>
							</li>
							<li class="">
								<div class="title">
									<h5>Primary Care</h5>
								</div>
								<div class="content" style="display: none;">
									<ul class="checked-list">
										<li>
											<label><input type="checkbox">
											Breast Cancer</label>
										</li>
										<li>
											<label><input type="checkbox">
											Medical</label>
										</li>
										<li>
											<label><input type="checkbox">
											Bladder Cancer</label>
										</li>
										<li>
											<label><input type="checkbox">
											Surgical</label>
										</li>
										<li>
											<label><input type="checkbox">
											... cancer</label>
										</li>
										<li>
											<label><input type="checkbox">
											Raditation</label>
										</li>
										<li>
											<label><input type="checkbox">
											... cancer</label>
										</li>
									</ul>
								</div>
							</li>
						</ul>
						<div class="reg-block">
							<legend>Promotions</legend>
							<span>I wish to recive carefully selectrd special offers / Promotions from:
							<ul class="checked-list width100">
								<li>
									<label><input type="checkbox">
									Elsevier</label>
								</li>
								<li>
									<label><input type="checkbox">
									Third parties</label>
								</li>
							</ul>
						</div>
						<div class="reg-block">
							<legend>Registered User Agreement</legend>
							<ul class="checked-list width100">
								<li>
									<label><input type="checkbox">
									I have read and understand the reistered user agreement and agree to be bound by all its terms</label>
								</li>
							</ul>
						</div>
					</fieldset>
				</form>
			</li>
		</ul>
		<div class="ButtonSaveCencel">
			<input type="submit" value="Save" />
			<a href="">Cancel</a>
		</div>
	</div>
</section><!--/.update-block-->