<nav role="navigation">
	<ul class="side-nav">
		<li class="nav-header">All</li>
	<!-- BEGIN TEST -->

    <li class="selected"><a href="#">All My Channels</a></li>
    <li><a href="#">Oncology</a></li>
    <li><a href="#">Dermatology</a></li>
    <li class="divider"></li>
    <li><a href="#">Add / Change Channel</a></li>

	<!-- END TEST -->
	<!-- 
<li>Bladder</li>
<li>Bone</li>
<li>Breast</li>
<li>CNS/Brain</li>
<li>Colon and Rectum</li>
<li>Endocrine System</li>
<li>Esophagus</li>
<li>GYN (Non-Ovary)</li>
<li>GYN (Ovary)</li>
<li>Head and Neck</li>

-->
	</ul>
</nav>