<!--
<div href="#" class="button split dropdown>
  <a><i class="icon-user-md"/> Current User</a>
  <span></span>
  <ul>
    <li><a href="#">Dropdown Item</a></li>
    <li><a href="#">Another Dropdown Item</a></li>
    <li class="divider"></li>
    <li><a href="#action-sign-out">Sign Out</a></li>
  </ul>
</div>
-->
<!--
<div class="user-console">
-->

<div class="current-user">
	<div class="user-details">
		<p class="user-name">brad strong <span>Validated</span></p>
		<p class="user-title">Physician <span class="pv-status-indicator"><a href="#" class="has-tip tip-right" title="Click to become a validated physician."><i class="icon-user-md"></i></a></span></p>
	</div>
</div><!--/.current-user-->
<div class="drawer">
	<ul class="drawer-menu user-settings-menu is-collapsed">
		<li id="UserConsolePreferences"><a id="PreferencesLink" href="preferences.html">My Profile &amp; Settings</a></li>
		<li><a id="Logout" href="/User/LogOut">Logout</a></li>
	</ul><!--/.drawer-menu-->
	<div class="drawer-toggle">
		<a class="drawer-toggle-button edit-user-settings"><i class="icon-angle-down icon-large"></i></a>
</div><!--/.drawer-toggle -->
</div><!--/.drawer-->
<!--
</div><!--/.user-console-->