<!--
<div href="#" class="button split dropdown>
  <a><i class="icon-user-md"/> Current User</a>
  <span></span>
  <ul>
    <li><a href="#">Dropdown Item</a></li>
    <li><a href="#">Another Dropdown Item</a></li>
    <li class="divider"></li>
    <li><a href="#action-sign-out">Sign Out</a></li>
  </ul>
</div>
-->


<div class="users-console">
	<div class="user-details">
		<p class="user-name">brad strong</p>
		<p class="user-title">Physician</p>                    
	</div>
	<a class="button edit-user-settings tiny round"><i class="icon-cog"></i></a>
	<ul class="user-settings-menu">
		<li id="UserConsolePreferences"><a id="PreferencesLink" href="javascript:void(0);">My Profile &amp; Settings</a></li>
		<li><a id="Logout" href="/User/LogOut">Logout</a></li>
	</ul>
</div> <!--/.user-console -->