<nav role="navigation" class="top-bar">
	<ul class="nav-bar vertical">
		<li class="nav-header">Specialties</li>
<li>Bladder</li>
<li>Bone</li>
<li>Breast</li>
<li>CNS/Brain</li>
<li>Colon and Rectum</li>
<li>Endocrine System</li>
<li>Esophagus</li>
<li>GYN (Non-Ovary)</li>
<li>GYN (Ovary)</li>
<li>Head and Neck</li>
<li class="has-flyout">
    <a href="#">More topics</a>
    <a href="#" class="flyout-toggle"><span> </span></a>
    <ul class="flyout">
			<li>HIV-Related Cancers</li>
			<li>Hodgkin's Lymphoma</li>
			<li>Kidney (Renal Cell)</li>
			<li>Leukemia</li>
			<li>Liver and Bile Duct</li>
			<li>Lung</li>
			<li>Multiple Myeloma</li>
			<li>Myelodysplastic Syndrome</li>
			<li>Myeloproliferative Diseases</li>
			<li>Non-Hodgkin's Lymphoma</li>
			<li>Pancreas</li>
			<li>Pediatric Cancers</li>
			<li>Prostate</li>
			<li>Rare Cancers</li>
			<li>Skin (Melanoma)</li>
			<li>Skin (Non-Melanoma)</li>
			<li>Soft-Tissue Sarcoma</li>
			<li>Stomach</li>
			<li>Testicle</li>
    </ul>
  </li>
	</ul>
</nav>