{{#user}}
<div class="user-profile-full">
<div class="profile-card user">
<!-- TODO: add microdata to markup -->
	{{#photo}}
	<div class="profile-photo">
		<div class="user-photo">
			<img class="photo" src="{{{url}}}"/>
		</div><!-- /.user-photo -->
	</div><!-- /.profile-photo -->
	{{/photo}}
	<div class="profile-overview">
		{{#name}}
		<div class="user-name">
		<!-- {{firstName}} {{middleName}} {{lastName}} {{honorific}} -->
		<!-- NOTE: honorific-prefix is unnecesary when honorific-suffix is displayed  -->
			<span class="given-name">{{firstName}}</span>
			<abbr class="additional-name">{{middleName}}</abbr>
			<span class="family-name">{{lastName}}</span>
			<span class="honorific-suffix">{{honorific}}</span>
		</div><!-- /.user-name -->
		{{/name}}
		<dl class="user-detail-list">
			<dt>Profession:</dt>
			<dd>{{profession}}</dd>
			<dt>Member Since:</dt>
			<dd><date>{{date-joined}}</date></dd>
			</dd>
			</dl><!--/.user-detail-list -->
		</div><!--/.profile-overview -->
	</div><!-- /.profile-card -->
	<div class="profile-details">
		<div class="user-cv">
			<section class="user-bio user-profile-section">
			<div class="user-profile-section-title">bio</div><!--/.profile-section-title-->
				{{{bio}}}
			</section><!--/.user-bio -->
		</div><!--/.user-cv-->
		</div><!--/.profile-details-->
	</div><!--/.user-profile-full-->
{{/user}}

<!--
<div class="item-source">
				    <div class="vcard">
					    <div class="journal">
						    <span class="n">
							    <span class="given-name">Hematology/Oncology Clinics of North America</span>
						    </span>
						    <h6 class="item-title">Management of Brain Metastases: Surgery, Radiation, or Both?</h6>
						    <cite class="subheader">Hematol. Oncol. Clin. North Am.&nbsp;2012 Aug 01;26(4)933-47,&nbsp;TR Patel, JP Knisely, VL Chiang</cite>
					    </div>
				    </div> --><!--/.vcard-->
			<!--    </div>


			    <div itemscope itemtype="http://data-vocabulary.org/Person">
			    span itemprop="name">
			    <span itemprop="title">
			    <span itemprop="affiliation"> -->
