<!--	<div class="twelve columns">
		<div href="#" class="button split dropdown">
		  <a><i class="icon-user-md"/> Current User</a>
		  <span></span>
		  <ul>
		    <li><a href="#">Dropdown Item</a></li>
		    <li><a href="#">Another Dropdown Item</a></li>
		    <li class="divider"></li>
		    <li><a href="#action-sign-out">Sign Out</a></li>
		  </ul>
		</div>
</div>-->   <!--/.twelve.columns-->
<div class="panel">
<i class="icon-user-md"/> <b>Current User</b></div>