<nav role="navigation">
					<ul class="side-nav">
						<li class="nav-header">Specialties
							<div class="right control-settings"><a href="#" ><i class="icon-cog has-tip" data-width="210" title="Change the specialties shown here."></i></a></div>
						<li class="active"><a href="#">All</a></li>
						<li><a href="#">Breast</a></li>
						<li><a href="#">Lung</a></li>
						<li><a href="#">Colon And Rectum</a></li>
					</ul>
				</nav>