.widget{
	/* !Ads */
	&.ad{
		.ad-container{
			text-align: center;
			.ad-title{
				text-align:left;
				margin: $baseFontSize;
				.ad-title-text{
					@extend small;
					text-transform:uppercase;
				}
			}
			.ad-content{
				background:transparent;
				display:block;
				overflow:hidden;

			}
		}
	}
}

.page-content .widget.ad{
	padding:$baseFontSize 0;
}

#leaderboard{
	.ad-title{
		margin:0 auto;
		width: 728px;
		text-align:left;
		.ad-title-text{
			text-transform:uppercase;
		}
	}
	object, embed{
		display:block;
		height: 90px;
		width: 728px;
	}
}
#leaderboardcontent{}
#leaderboardcontentinner{ max-width: 728px; margin: 0 auto; max-height: 90px; }

#boombox1{
	object, embed{
		display:block;
		height: 250px;
		width: 300px;
	}
}
#boombox1content{}
#boombox1contentinner{ max-width: 300px; margin: 0 auto; max-height: 250px; }

#boombox2{
	object, embed{
		display:block;
		height: 250px;
		width: 300px;
	}
}
#boombox2content{}
#boombox2contentinner{ max-width: 300px; margin: 0 auto; max-height: 250px; }

#skyscraper{
	object, embed{
		display:block;
		height: 120px;
		width: 600px;
	}
}
#skyscrapercontent{}
#skyscrapercontentinner{ max-width: 300px; margin: 0 auto; max-height: 250px; }

// Hide ad containers on mobile

body > .widget.ad{@media only screen and (max-width: $screenMedium) {display:none;}}


// standard leaderboard
// 728X90

// standard boombox
// 300x250

// custom boombox
// 336x280

// skyscraper
// 120x600