/* icons for use in all elements */
@import "font-awesome";
@import "pu-icons";

/* global elements */
select{
	margin: 0 0 $formSpacing;
}

a:hover{text-decoration: underline;}
a{ word-wrap: break-word;-ms-hyphens: auto;}

// Commenting out to test impact on ad display 2014-03-26
// object, embed{
// 	display:block;
// 	height:auto;
// 	width:auto;
// }

// reverting foundation default to accomodate IAB rising star ads 2014-03-26
embed {
  max-width: none;
}

cite{
/* 	font-style: normal; */
}

small{font-size:85%;}

blockquote{
  border-color: #02b1c9;
  color: #6e6d7b;
  &.bq-right{
    float: right;
    margin-left: 1em;
    width: 40%;
  }
  &.bq-left{
    border-right: 1px solid #ddd;
    border-left: none;
    float: left;
    margin-right: 1em;
    padding-left: 0;
    text-align: right;
    width: 40%;
  }
  p{
    color:#6e6d7b;
    font-style: italic;
  }
}
.comment-meta h5{
  margin-top: 0px;
  margin-bottom: 7px;
}

// ----------------------------------------
/* Utilities */
.clearfix, .clear-fix{
  @include clearfix();
}