.faculty {
	text-align:center;
	font-weight:normal;
	font-size:32px;
}

.f-24 {
	text-align:center;
	font-weight:normal;
	font-size:24px;
}

.coe-landing-widget {
	border:none;
	box-shadow:none;
	background:transparent;
}

.section-grid{
  @extend .block-grid;
  @extend .two-up;
  @extend .mobile-one-up;
}

.section-grid-item{
  padding: 0 !important;
  &.padded{
    padding: 7px 15px !important;
  }
}

.section-grid-item {
	.card {
		background-color:#fff;
		border: 1px solid #ccc;
		box-shadow:0 1px 3px rgba(0,0,0,.02);
		margin-left:7px;
		margin-bottom:7px;

		p {
			padding:21px 14px 14px;
		}
	}
}

.section-grid-divider{
	display: block;
	float: none;
}

#ps3leaderboardcontent {
	div {
		border: 0pt none;
	}
}
.explore-section-3-ul {
	.list-header {
		margin-left: -15px;
		border-left: 2px solid #CCC;
		padding-left: 13px;
		font-size: 16px;

		span {
			display: inline-block;
			color: #ccc;
		}
	}
}

.upload-placeholder {
	background-color:#CCC;
	color:#000;
	height:150px;
}

.editor-container {
	float:left;
	clear:left;
	padding-left:50px;
}

@media(max-width:768px) {
	.section-grid-item {
		.card {
			img {
				width:40%;
				float:left;
				margin: 14px 10px 0px 14px;
			}
		
			p {
				padding: 10px 14px 14px;
			}		
		}
	}
}