//Font size references:
// 14 ms(0) = h6, p
// 17 ms(1) = h5
// 23 ms(2) = h4
// 27 ms(3) = h3
// 37 ms(4) = h2
// 44 ms(5) = h1, height of main nav elements
// 59 ms(6) = branding on landing pages
// 71, 95, 115 = unused values

//& = body
//&{background-color: red;}

//Type Variables

// $serifFontFamily: "museo-slab", serif;
// $sansFontFamily: "proxima-nova";
// $sansCondensedFontFamily: "proxima-nova-condensed";

// //Type changes
// &{color: darken($txtColor, 10%);}

// p{
// 	font-family: $sansFontFamily !important;
// }
// .item-type, .item-pub-date{
// 	font-size: ms(0) !important;
// 	font-family: $serifFontFamily !important;
// }
// .item-title{
// 	font-size: ms(2) !important;
// 	font-family: $sansCondensedFontFamily !important;
// }
// .expert-name{}
// .journal-title, .feed-title{
// 	color: $mainColor !important;
// 	font-size: ms(2) !important;
// 	font-family: $sansCondensedFontFamily !important;
// 	//font-weight: bold !important;
// }
// .journal .item-title, .feed .item-title{
// 	font-size: ms(0) !important;
// 	font-family: $sansFontFamily !important;
// 	//font-family: $sansCondensedFontFamily !important;
// }
// .journal .item-citation, .feed .item-citation{
// 	font-size: ms(0)*.85 !important;
// 	font-family: $sansFontFamily !important;
// }

// .ad-title-text{
// 	font-size: ms(0)*.85 !important;
// 	letter-spacing:2px;
// }

// // Navigation
// .page-header.fixed{
// 	background-color:transparent;
// 	@include elementBoxShadow;
// 	.top-bar{
// 			background-color:rgba(255,255,255,.95);
// 	}
// }


/* Corrections for Axel 2013-02-27 */
// - decrease top and bottom padding on update page items

// .in-stream .item-source .source-citation{
// 	.journal-title{display: none !important;}
// 	.feed-title{display: none !important;}
// 	margin-bottom:0px !important;
// }

// .in-stream .item-content  .source-container{
// 	figure[class$="-photo"]{
// 		@include column(2);
// 	}
// 	div[class$="-name"]{
// 		@include column(6);
// 	}
// }

// x hide journal title on update page items
// - float citation next to commenting doctor on story of the week items
// - float 