// ----------------------------------------
// Custom PracticeUpdate Variables & Mixins

/* !variables */

//Compass
$experimental-support-for-svg: true; //support SVG in IE

// Colors

$grey: #ededed;
$blue:#00aeff;
$green:#dae348;
$bodyBackground: rgb(255,252,240);
$itemBackground: #fcfcfa;

$juneoblue: #43A1DA;

// PRIMARY
//$pri-blue:rgba(0,45,86,1); // pantone 298
$pri-green:rgba(193,205,35,1); // pantone 390
$pri-tan:rgba(136,126,111,1); // pantone 404

// SECONDARY
$sec-orange:rgba(250,166,52,1); // pantone 1375
// $sec-green:rgba(214,224,61,1); // pantone 381
$sec-purple:rgba(154,78,158,1); // pantone 513
//$sec-dkBlue:rgba(0,132,169,1); // pantone 314
$sec-red:rgba(181,9,56,1); // pantone 7427

// TERTIARY
$ter-ltTan:rgba(233,227,220,1); // pantone WG2
$ter-dkTan:rgba(201,193,184,1); // pantone WG4
$ter-ltBlue:rgba(136,203,223,1); // pantone 7458
$ter-dkBlue:rgba(0,85,150,1); // pantone 391
$ter-green:rgba(163,165,16,1); // pantone 294

// Additional

// Rebrand
$bodyBackground: rgb(247,242,228);

$pri-blue: 		rgb(29,121,152); //#
$pri-orange: 	rgb(216,102,84); //#

$pri-mid-grey: #b7b7b7;
$pri-lt-grey: #e6e7e8;

$sec-ltBlue: 		rgb(108,176,195); //#
$sec-dkBlue: 		rgb(23,46,84); //#
$sec-green: 	rgb(112,207,141); //#
$sec-orange: 	rgb(243,183,39); //#

$ter-ltTan: 	rgb(231,225,218); //#
$ter-red: 		rgb(243,71,39); //#
// background tan rgb(255,250,240); //#fffcf0

// text dark blue rgb(0,4,69); //#003045
// text light blue rgb(0,129,171); //#0081ab

// text light tan rgb(119,111,103); //#776f67

// illustration dark tan rgb(88,89,91); //#58595b

// logo blue rgb(29,121,152); //#1d7999
// logo orange rgb(216,102,84); //#da6754

// gradient dark blue rgb(15,64,81); //#0f4051 logo blue darken 50%

// ----------------------------------------
//Gradients
//Top-Nav
$topnav-lt: #c1cd24;
$topnav-dk: #798725;

//blue1: #003045;
//blue2: #0d4862;

// ----------------------------------------
/* !Type */
$serifFontFamily: "museo-slab", serif;
$sansFontFamily: "proxima-nova";
$sansCondensedFontFamily: "proxima-nova-condensed";
$titleFontFamily: $sansCondensedFontFamily, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;; //"museo-sans-condensed", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// ----------------------------------------
/* !mixins */

@mixin elementBoxShadow($color:$black, $hoff:0px, $voff:2px, $blur:2px, $spread:0px, $inset:false, $intensity: 0.8) {
	$color: transparentize($color, $intensity);
	@include single-box-shadow($color, $hoff, $voff, $blur, $spread, $inset);
}

@mixin noise($color:#fff, $intensity: 0.02, $color2:"false") {
	background: $color;
	$color: transparentize($color, $intensity);
	@if $color2 == "false" {
	        $color2: $color;
	} @else {
	        $color2: transparentize($color2, $intensity);
	}
	/* TODO: Fix color code to match PSD */
	@include background(linear-gradient(top, $color, $color2), inline-image("../img/noise.jpg"));
}

@mixin site-gradient($color:$pri-blue, $colorDif:10%, $shinyEdge:"false", $ie-compat:"true"){
	@if $ie-compat == "true"{
		@include filter-gradient($color, darken($color, $colorDif), vertical);
	}
	background-color: $color;
	@include background(linear-gradient(bottom, darken($color,$colorDif), $color));
		@if $shinyEdge != "false" {
			@include box-shadow(0 0 4px opacify($color, 0.3), 0 1px 0 $shinyEdge inset);
		}
}

// ----------------------------------------
// Overrides for Foundation settings (_settings.scss)

// Grid Settings

$rowWidth: 1440px;// 100%sets site to fluid grid

// Colors Settings

$mainColor: $pri-orange;//logo orange Previously: //rgb(16,112,144);//$sec-dkBlue;
$secondaryColor: rgb(201,193,184);//$ter-dkTan;
$alertColor: $ter-red;
$successColor: $sec-green;
$txtColor: $pri-tan;

// Font Settings

$headerFontFamily: "MuseoSlab-500", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$headerFontColor: $pri-tan;//#c6c6bc; //#b1b1a7;

// Button Settings

$buttonRadius: 3px;

// Top Bar Settings

$topBarBgColor: $pri-blue;
$topBarHeight: 40px;
$topBarHeightMobile: 40px;
$topBarBtmMargin: 0px;
$topBarLinkColor: $pri-blue;
$topBarDropBgColor: #fff;
$topBarDropLinkColor: $pri-blue;
$topBarDropToggleColor: $pri-blue;
$topBarDropToggleAlpha: 1;
$topBarBreakPoint: 769px; // Change to 9999px for always mobile layout

$topBarNavToggleColor:$mainColor;//Added by bradstrong 2012-11-11