.lt-ie8{/*Start: Home*/
	.brand-container.six.columns {
		width:47% !important;
	}
	.login-register-container {
		#formLogin {
			width:48% !important;
			input[type="text"] {
				height:22px;
			}
		}
	}	
	/*End: Home*/
	[role="main"] {
		width:76% !important;
	}
}