.lt-ie9 #formLogin .signin {
	margin:0;
	float:left;
	width:100px;
}
.lt-ie9 #formLogin input[type="text"],
.lt-ie9 #formLogin .password input {
	width:90%;
	padding:8px 6px;
	height:34px;
}
.lt-ie9 #formLogin .password{
	margin:0 5px 0 -15px;
	float:left;
	width:166px;
}
/************************************/