@media (min-width: 768px) {

	body#update .joyride-ready.joyride-stop-update {
		top: 195px !important;
		margin-left: -40px;
	}

	body#update.topbar-fixed .joyride-ready.joyride-stop-update {
		top: 75px !important;
		position: fixed !important;
	}

	body#update .joyride-ready.joyride-stop-update .joyride-nub.top {
		margin-left: 40px;
	}

	body#update .joyride-ready.joyride-stop-experts {
		margin-top: -20px;
	}

	body#update .joyride-ready.joyride-stop-explore {
		margin-left: -115px;
		top: 195px !important;
	}

	body#update .joyride-ready.joyride-stop-explore .joyride-nub.top {
		margin-left: 130px;
	}

	body#update.topbar-fixed .joyride-ready.joyride-stop-explore {
		top: 75px !important;
		position: fixed !important;
	}

	body#update .joyride-ready.joyride-stop-learn {
		margin-left: -225px;
		top: 195px !important;
	}

	body#update .joyride-ready.joyride-stop-learn .joyride-nub.top {
		margin-left: 230px;
	}

	body#update.topbar-fixed .joyride-ready.joyride-stop-learn {
		top: 75px !important;
		position: fixed !important;
	}

}

.lt-ie9 body#update .joyride-stop-update {
    margin-left: -60px;
}

.lt-ie9 body#update .joyride-stop-update .joyride-nub.top {
    margin-left: 60px;
}

.lt-ie9 body#update .joyride-stop-experts {
    margin-top: -20px;
}

.lt-ie9 body#update .joyride-stop-explore {
    margin-left: -145px;
}

.lt-ie9 body#update .joyride-stop-explore .joyride-nub.top {
    margin-left: 145px;
}

.lt-ie9 body#update .joyride-stop-learn {
    margin-left: -235px;
}

.lt-ie9 body#update .joyride-stop-learn .joyride-nub.top {
    margin-left: 235px;
}

.joyride-stoplist {
	display:none;
}

@media (max-width:767px) {
	body#update .joyride-ready.joyride-stop-update {
		margin-top: 0 !important;
	}
}