body#update .joyride-tip-guide.joyride-stop-update {
    margin-left: -40px;
}

body#update .joyride-tip-guide.joyride-stop-update .joyride-nub.top {
    margin-left: 40px;
}

body#update .joyride-tip-guide.joyride-stop-experts {
    margin-top: -20px;
}

body#update .joyride-tip-guide.joyride-stop-explore {
    margin-left: -115px;
}

body#update .joyride-tip-guide.joyride-stop-explore .joyride-nub.top {
    margin-left: 130px;
}

body#update .joyride-tip-guide.joyride-stop-learn {
    margin-left: -225px;
}

body#update .joyride-tip-guide.joyride-stop-learn .joyride-nub.top {
    margin-left: 230px;
}
.joyride-stoplist {
	display:none;
}
