//HEADER
.page-header{
	#main-nav{@extend .right;}
}

.top-bar {
  ul {
    &>li {
      /* Branding and name */
      &.name {
      	@include column(3);
      }
    }
  }
	section{
		@include column(9);
	}
}

//FIXME: This is meant to provide a background color for the top of the page, behind the leaderboard banner ad
#page-leaderboard{
//	background-color:$ter-dkTan;
}

.page-content{
	@include outerRow();
	padding-bottom: $baseFontSize*2;
}

// FOOTER
.page-footer{
	@include outerRow();
	@include mobileRow();
	padding:$navBarHeight inherit;
}

.footer-section-container{
	@include column(12);
	.footer-section{
		@include innerRow();
		@include mobileRow();
	}
}

/* !Navigation */

/* !off-canvas-control */
.off-canvas-control{
	@include mobileRow();
	.control-visibility{
		@include mobileColumn(1);
		.sidebar-button-container{
			.sidebar-button{}
		}
	}
}

.footnotes a {
	word-break: break-all;
	word-break: break-word;
	hyphens: auto;
}

// Flag
.flag-container{
	//@include innerRow();
	@include column(12);
	font-family: $headerFontFamily;
	line-height:1.5;
	padding-top: $baseFontSize/2;
	padding-bottom: $baseFontSize/2;
	.flag{
		@extend .radius;
		@extend .label;
		font-size: ms(0);
		text-transform:uppercase;
	}
}

//Pages

/* Page Layouts */
/* !Base Layout */
	.recommended{@include column(5); @include mobileColumn(4);}
	.aux{@include column(5); @include mobileColumn(4);}
	#sidebar{padding:0;}


/* !Update Layout */
.stream-container{@include column(7, collapse); @include mobileRow();}

/* !Explore Layout */
.explore-container{@include column(7, collapse); @include mobileRow();}

/* !Learn Layout */
.cme-container{@include column(12); @include mobileRow();}

/* !Single Item */
.single-item-container{@include column(7); @include mobileRow();}

/* !Explore Layout */
.register-container{@include column(7, collapse); @include mobileRow();}

/* !User Directory */
.user-directory-container{@include column(7, collapse); @include mobileRow();}
.user-profile-container{@include column(7, collapse); @include mobileRow();}
.channel-list-container{@include column(7, collapse); @include mobileRow();}

/* Page Specific Styles*/
/* Single Item page elements*/

.item-header-container{@include column(12);}
.item-header{@include innerRow();
	padding-top:$baseFontSize/2;}
.item-title-container{@include column(12);}
.item-type{@include column(7);}
.item-pub-date{@include column(5); text-align: right;}
.item-container{
	.commentary-container{@include column(12);}
	.journal-title{font-size:ms(1);}
	.source-title{font-size:ms(0);}
}
	.item-title{font-size:ms(1);}
.item-content-container{@include column(12);}
.item-footer{@include column(12);}

.commentary-container{
	div[class$="-photo"]{
		@include column(2);
	}
	div[class$="-name"]{
		@include column(6);
	}
}

.item-source-container{
	@include column(12);
	figure[class$="-photo"]{
		@include column(2);
	}
	div[class$="-name"]{
		@include column(6);
	}
}

.item-source{
	padding-bottom:$baseFontSize;
	.item-title, cite{font-size: ms(0); font-style:normal;}
	@include clearfix();
	background-color:light($bodyBackground, 25);
	border-top:1px solid lighten($bodyFontColor, 55);
	//padding-top:.5em;
	//padding-bottom:.5em;
}

/* Page Specific Styles*/
/* Single Item page elements*/
.single-item{@include innerRow();}

/* !Update Page Elements */
/* !stream */
.stream-item-container{
	margin-bottom: $columnGutter/3;
}

/* !Explore Page Elements*/
.explore-feature .feature-item{background: $white;}
.explore-feature { background: url(loading.gif) center center #f4f4f4; height: 300px;}
.explore-feature img { display: none; }

.explore-feature.orbit { background: none; }
.explore-feature.orbit img { display: block; }
.explore-feature.orbit {
	section{ padding:$columnGutter/3;}
	article{ padding:$columnGutter/3;}
}

/* Channel Listing Page */
.channel-list{
	@include innerRow();
}
.single-channel{
	@include column(6, collapse);
}

/*  !UI ELEMENTS */
.load-more{
	@include column(6, center);
	text-align: center;
	padding-top:$baseFontSize;
	padding-bottom:$baseFontSize;
}

.load-more-button{
	@extend .button;
}