/*
.feature-grid-variant {
  position: relative;
  clear:left;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.feature-grid-variant:nth-child(even){

}
*/
.page-section{
  &.update-section,
  &.explore-section,
  &.single-item-section{
  	&.further-reading {
  		margin-top: 26px;
  		padding: 25px 15px 15px;
  	}
    
    background-color:$white;
    @include elementBoxShadow;
    padding: 15px;
    margin-bottom: 15px;
  }
  .item-citation{
    padding-bottom: 7px;
  }
}

// .slide, .small-title{}
// .tn-title, .tiny-title{}