.section-conferences-single-wrap {
	width:70%;
	float:left;
	padding:0 0 10px;
}
.section-conferences-single h2 {
	height:23px;
}
.section-header-date {
	margin:-10px 0 17px;
	font-size:12px;
}
.section-conferences-single-wrap .content-section-header {
	font-family: "proxima-nova";
    font-size: 23px;
    text-transform: uppercase;
}
.section-conferences-single-wrap ul {
	padding:0 0 0 20px;
}
.section-conferences-single-wrap li {
	list-style-type:disc;
}
.section-related-tags{
	background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #E6E6E6;
    float: right;
    margin: 21px 10px 22px 0;
    padding: 20px;
    width: 28%;
}
.section-related-tags h4 {
	font-size:14px;
	margin:0;
}
.section-related-tags ul{
	margin:10px 0 0;
}