.author-list{
  dt, dd{
    display: inline-block;
    font-weight: normal;
  }
  dt{
    font-style: italic;
  }
  dd{
    padding-right:5px;
  }
  .vcard{
    border: none;
    margin: 0;
    padding: 0;
  }
  .vcard-inline{}
  .list-label{white-space: nowrap;}
  .at-wrtby{display: none;}
}