/* Single Item page elements*/

article.single-item{
	h2{
  	color: $pri-ltBlue;
		text-transform: capitalize;
		font-family: $serifFontFamily;
		font-size: ms(2);
	}
	h3{
		text-transform: uppercase;
		font-size: ms(1);
	}
	.item-title-container{
  	.item-title{
    	color:$pri-orange;
    	font-family: $serifFontFamily;
    	font-size: ms(1);
    	font-weight: bold;
  	}
	}
/* Content lists 	 */
/* For Juneo, list styles must be wrapped in .contentpanel to avoid impacting UI  */
  	ul,
  	ul ul
  	ol,
  	ol ol{
      margin-left: 17px;
    }

  	ul,
  	ul li{
    	list-style-type: disc;
  	}

  	ol,
  	ol li{
    	list-style-type: decimal;
  	}
  	/* Accordion lists */
  	ul.accordion{
    	margin-left: 0;
  	}
  	ul.accordion, ul.accordion li{
    	list-style-type: none;
    	.content ol, .content ol li{
      	list-style-type: decimal;
    	}
    	.content ul, .content ul li{
      	list-style-type: disc;
    	}
    	.content ul.accordion > li{
      	list-style-type: none;
    	}
  	}
  	ul.disc, ul.disc li{list-style-type: disc;}//.disc - ul defaukt
  	ul.circle, ul.circle li{list-style-type: circle;}//.circle - tinyMCE option "circle"
  	ul.square, ul.square li{list-style-type: square;}//.square - tineMCE option "square"
  	ul.no-bullet, ul.no-bullet li{list-style-type: none;}//.no-bullet - tonyMCE option "no bullet"

  	/* Accordion components */
.accordion-footer  {
  padding: 7px 15px;
  border-left: 1px solid #c9c1b8;
  border-right: 1px solid #c9c1b8;
}


  .item-header{
    .pub-meta{
    	@include column(12);
    	line-height: 1.4;
    	padding-top: 7px;
    	padding-bottom: 7px;
    }
  }
 .item-content{
  .story-image-group{
      float:left;
    	max-width: 33%;
    	padding:0 16px 8px 0;

    }
    figure{
      background-color: $pri-lt-grey;
      border: 1px solid $pri-lt-grey;
      margin:4px 0;
    	padding:8px;
    	text-align: center;
    	figcaption{
      	padding:7px 0 0px;
    	}
    }
 	}
  section.take-home-message{
    background-color: $pri-ltBlue;
    color: $white;
    margin-bottom:$baseFontSize;
    padding: $baseFontSize/2 $baseFontSize;
    h2{
      color: $white;
      font-family: $serifFontFamily;
      border-bottom: 1px solid tint($pri-ltBlue, 75%);
      padding-bottom: $baseFontSize;
      text-transform: capitalize;
    }
    .source-container{
      display: none;
    }
 	}
 	.expert-comment-content{}
  .expert-comment-count{
    color: #fff;
  }
  section.editors-note, section.eo-description, section.video-description{
    	background-color: $pri-lt-grey;
    	color: $txtColor;
    	margin-bottom:$baseFontSize;
    	padding: $baseFontSize/2 $baseFontSize;
    	h2{
      	color: $txtColor;
      	font-family: $serifFontFamily;
      	border-bottom: 1px solid tint($txtColor, 25%);
      	padding-bottom: $baseFontSize;
      	text-transform: capitalize;
    	}
  	}
  section.section-conference-coverage{
    border: none;
    box-shadow: none;
    ul,
    ul ul,
    ul li{
      list-style-type: none;
      margin-left: 0;
    }
  }
  .publisher-access-inline{
    @media only screen and (min-width: $screenSmall) {
      float: right;
      margin-left:15px;
      width:50%;
    }
  }
  /* external link to medline in item-source */
  .link-medline{
    margin-top:15px;
    display: inline-block;
  }
}