.content-header{
  background: $pri-ltBlue;
  margin-bottom: 14px;
}
.topic-filter-helper{
  color: #fff;
  font-size: 17px;
  line-height: 1.2;
  padding: 14px 7px;
}
.current-filter-banner{
  font-family: $serifFontFamily;
}