.section-header-date {
	margin:-10px 0 17px;
	font-size:12px;
}
.conference-container .content-section-header {
	font-family: "proxima-nova";
    font-size: 23px;
    text-transform: uppercase;
}
.item-content-section-wrapper ul {
	padding:0 0 0 20px;
}
.item-content-section-wrapper li {
	list-style-type:disc;
}