// CTA

// <div class="cta meet-experts">
//     <div class="cta-title">
//             <span class="cta-title-text"></span>
//     </div>
//     <div class="cta-img-container">
//         <img src=""/>
//     </div>
//     <div class="cta-content">
//         <p></p>
//     </div>
//     <div class="cta-action">
//         <a class="cta-button button" href=""><span class="cta-button-text"></span></a>
//     </div>
// </div>

.cta{
	@extend .panel;
	background: $pri-lt-grey;
	margin-top:$baseFontSize;
}
.cta-title{
	@extend h5;
	margin:15px 0 7px;
	padding: 0.25em 0;
}
.cta-title-text{
	font-size:ms(1);
	text-transform:capitalize;
  font-size: 17px;
  text-transform: capitalize;
}
	.cta-img-container{
		padding:.25em;
		text-align:center;
		img{
			border:1px solid $ter-dkTan;
			@include single-box-shadow($white, 0, 1px, 1px);
		}
	}

	.cta-content{}
	.cta-actions{}
/* 	Meet Our Experts */
.cta.meet-experts{
  .cta-title{display: none;}
  @media only screen and (min-width: $topBarBreakPoint){
    .cta-img-container{
      float:left;
      padding-right: 1em;
      width: 50%;
    }
    .cta-action a{
      margin-top: .5em;
    }
  }
}

/* Breast Cancer Forum */

.cta.bcf-01{
/*   border: none; */
  background: $white;
  padding:.5em;
  .cta-img-container{
    img{
      border-width: 0;
      border: none;
      box-shadow: none;
    }
  }
  .cta-button{
    background-color: $pri-blue; color: lighten(($pri-blue), 80%); border: 1px solid darken(($pri-blue), 15%);
    &:hover, &:focus { background-color: darken(($pri-blue), 10%); }
  }
}

/* Refer a friend */
.cta-raf{
  .cta-title{
    margin-top: 0;
  }
}