.widget{
	/* !Ads */
	&.ad{
		object, embed{
  		display:block;
  		height: 100%;
  		width: 100%;
  	}
		.ad-container{
			text-align: center;
			.ad-title{
  			background-color: #afa298;
			  color: #fff;
				text-align:left;
				padding: 0px 7px 2px;
				margin: 0 auto 1px;
				.ad-title-text{
					font-size: 10px;
					font-weight: bold;
					letter-spacing:1px;
					text-transform:uppercase;
				}
			}
			.ad-content{
				background:transparent;
				display:block;
				/* overflow:hidden; */
    		&>a{}
			}
		}
	}
}

.page-content .widget.ad{
	padding:0 0 $baseFontSize;
}

#leaderboard{
  max-width: 728px;
  margin:0 auto $baseFontSize/2;
}
#leaderboardcontent{height: 90px; max-width: 728px; margin: 0 auto; max-height: 90px;}

#boombox1{max-width: 300px;}
#boombox1content{max-width: 300px; margin: 0 auto; max-height: 250px;}

#boombox2{max-width: 300px;}
#boombox2content{max-width: 300px; margin: 0 auto; max-height: 250px;}

#skyscraper{max-width: 160px;}
#skyscrapercontent{max-width: 160px; margin: 0 auto; max-height: 600px;}

#filmstrip1{max-width: 300px;}
#filmstrip1content{max-width: 300px; margin: 0 auto; max-height: 600px;}

// Hide leaderboard containers on mobile
#leaderboardouter, #leaderboard{@media only screen and (max-width: $screenSmall) {display:none;}}

//fix for ie8 and below
/* html.lt-ie9{ */
  .widget.ad.leaderboard{
    .ad-content, object, embed{
/*       height: 90px; */
      width: 728px;
      max-width: 100% !important;
    }
  }
  .widget.ad.boombox{
    .ad-content, object, embed{
      height: 250px;
      width: 300px;
      max-width: 100% !important;
    }
  }
  .widget.ad.skyscraper{
    .ad-content, object, embed{
      height: 600px;
      width: 160px;
      max-width: 100% !important;
    }
  }
  .widget.ad.filmstrip{
    .ad-content, object, embed{
      height: 600px;
      width: 300px;
      max-width: 100% !important;
    }
  }
/* } */