
.landing-page-container{
	padding-top:34px;
	font-family: "proxima-nova-condensed",sans-serif;
}

/* Unsubscribe Page */
.page-landing-unsubscribe{
	background:url(../../assets/img/misc/ospu-bg.png) #1c7893;
	background-repeat:no-repeat;
	background-position: center -68px;
	.os-tag{text-align:center; padding-bottom:17px;}
	.landing-card{
		@include noise($bodyBackground, 0.02);
		.user-direction{padding-top:10px; display:inline-block;}
		.button{margin-top:0px; margin-bottom:0px; display:block;}
	}
}
.landing-card{
	background-color:$white;
	@include elementBoxShadow;
	border-bottom: 7px solid rgb(216,102,84);
	// p{font-size:21px;}
	.landing-card-content{
		padding:17px 34px;
	}
	.button{margin-top:17px; margin-bottom:17px;}//font-family: "din-condensed-web",sans-serif; font-size:28px;
	.full-width{width:100%;}
}

.ribbon-container{
	padding-top:102px;
}