
.landing-page-container{
	padding-top:34px;
	font-family: "proxima-nova-condensed",sans-serif;
}

//hack for IE8
.lt-ie9 .page-landing .row{
/*   max-width: 767px; */
}

.page-landing-bcf{
	background: #cacaca; /* Old browsers */
	background: -moz-linear-gradient(left,  #cacaca 0%, #feffff 40%, #feffff 60%, #cacaca 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cacaca), color-stop(40%,#feffff), color-stop(60%,#feffff), color-stop(100%,#cacaca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #cacaca 0%,#feffff 40%,#feffff 60%,#cacaca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #cacaca 0%,#feffff 40%,#feffff 60%,#cacaca 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #cacaca 0%,#feffff 40%,#feffff 60%,#cacaca 100%); /* IE10+ */
	background: linear-gradient(to right,  #cacaca 0%,#feffff 40%,#feffff 60%,#cacaca 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#cacaca',GradientType=1 ); /* IE6-9 */
}

.page-landing-ospu{
	background:url(../../assets/img/misc/ospu-bg.png) #1c7893;
	background-repeat:no-repeat;
	background-position: center -68px;
	.os-tag{text-align:center; padding-bottom:17px;}
	.landing-card{
		@include noise($bodyBackground, 0.02);
		.user-direction{padding-top:10px; display:inline-block;}
		.button{margin-top:0px; margin-bottom:0px; display:block;}
	}
}
.landing-card{
	background-color:$white;
	@include elementBoxShadow;
	border-bottom: 7px solid rgb(216,102,84);
	// p{font-size:21px;}
	.landing-card-content{
		padding:17px 34px;
	}
	.button{margin-top:17px; margin-bottom:17px;}//font-family: "din-condensed-web",sans-serif; font-size:28px;
	.full-width{width:100%;}
}
.user-direction{
	color:#1d7997;
	// font-size: 25px;
}

.ribbon-container{
	padding-top:102px;
}


.page-landing .marketing{
  background-color:#FFF;
  color:rgb(90,91,94);
}

.page-landing .hero p.tagline{
  font-size:30px;
}
.hero-image-caption{
  text-align: center;
  padding-top:5px;
  @media screen and (min-width:1024px){
      padding-top:5px;
      padding-right:17px;
      padding-left:9em;
  }

  .expert-name{
    display:inline-block;
    padding-left:5px;
    padding-right: 5px;
    width:30%;
    @media screen and (min-width:768px){
      color:rgb(54,60,70)!important;
    }
  }
}

.page-header-marketing{
  background-color:#1d7998;
  color:#FFF;
  vertical-align: middle;
  padding-top:.5em;
  padding-bottom:.5em;
  @media screen and (max-width: $screenSmall){
    text-align:center;
  }
}

.pres-by-els{
  text-align: right;
  @media screen and (max-width: $screenSmall){
    padding-top: 1em;
    text-align:center;
  }
}

/* 

mobile app landing

*/

@media screen and (max-width: $screenSmall){    
    #landing-mobile-app .row .block-grid li {
      float:none;
    }
    #landing-mobile-app .row .block-grid li, #landing-mobile-app .row .section-grid li {
      min-width: 140px;
      max-width: 140px;
    }
}

/*

channel specific styles

*/

//BEGIN HERO

//Cardiology

.page-landing-cardiology .hero .page-banner{
  background-color: rgb(54,60,70);
  background-image: url('../../content/marketing/cardiology-landing/cardio-ed-board-hero.jpg');
  background-repeat: no-repeat;
  background-position-y: top;
  background-size: contain;
  behavior: url(assets/css/PIE-2.0beta1/PIE.htc);

  @media screen and (min-width:1201px){
    background-position-x: 100%;
  }
  @media screen and (max-width:1200px){
    background-position-x: 115%;
  }
  @media screen and (max-width:1024px){
  background-size: 70%;
  background-position-x: 105%;
  background-position-y: bottom;
  }
/*
  @media screen and (max-width:1000px){
  background-size: 60%;
  background-position-x: 100%;
  background-position-y: bottom;
  }
*/
  @media screen and (max-width: $screenSmall){
background-image: none;
  }
}

// Urology
.page-landing-urology .hero .page-banner{
  background-color: rgb(54,60,70);
  background-image: url('../../content/marketing/urology-landing/urology-ed-board-hero.jpg');
  background-repeat: no-repeat;
  background-position-y: top;
  background-size: contain;
  behavior: url(assets/css/PIE.htc);

  @media screen and (min-width:1201px){
    background-position-x: 100%;
  }
  @media screen and (max-width:1200px){
    background-position-x: 115%;
  }
  @media screen and (max-width:1024px){
  background-size: 70%;
  background-position-x: 105%;
  background-position-y: bottom;
  }
/*
  @media screen and (max-width:1000px){
  background-size: 60%;
  background-position-x: 100%;
  background-position-y: bottom;
  }
*/
  @media screen and (max-width: $screenSmall){
background-image: none;
  }
}


//END HERO

.brand-container .tagline{
  color:rgb(216,102,84);
  font-size:30px;
  padding-top:30px;
}

.brand-container .tagline.inverse {
  color:#FFFFFF;
  padding-top:0px;
}

.brand-container{
  margin-bottom:40px;
}
.hero-image-caption{
  color: #FFF;
}
.page-content{
  margin-top:40px;
}