.explore-sections{
	@include column(12);
}
.section-widget{
	@include innerRow();
	margin-bottom:$columnGutter/3;
	li{list-style: none;}
	.meta.title{
		font-weight: bold;
	}
	.section-header{
		@include column(12);
	}
	.section-content{
		@include column(12);
		//ul{margin-top: 2em;}
		.entry{
			border-bottom:1px solid lighten($bodyFontColor, 55);
			//p{margin-bottom:.5em;}
			//.meta.title{margin-bottom: .25em;}
		}
	}
}