@media only screen and (min-width: 770px){
  // Module Top Bar
  .top-bar {
  	section{
  /* 		@include column(9); */
    width: 100%;
    #main-nav{margin-bottom: 0; padding-right: $columnGutter;}
    ul{float: right;}
  	}
    ul {
    	li.name{
  /*   		@include column(3); */
      width: 25%;
  		}
    }
  }
}


// Module Top Bar
.top-bar {
  background-color:transparent;
  ul {
    li:not(.name) {
    	text-transform:uppercase;
    	a{color:$white;}
      &.active {
      	@include site-gradient($pri-orange);
      	background-color: $pri-orange;
			}
			&:hover{
  			color: $pri-blue;
				background-color:$white;
			}
			&.active{
				& a{color:$white;}
			}
			&:hover{
        & a{color: $pri-blue;}
			}
    }
    li a:not(.button){
    }
  }
}

.page-header{background-color:transparent;}
.page-header.fixed{
/*   background-color:$bodyBackground; */
  @include elementBoxShadow;
  .top-bar{
/*       background-color:$bodyBackground; */
  }
}
@media only screen and (max-width: $topBarBreakPoint) {
.top-bar{
  background:transparent;
  ul{
    li.toggle-topbar{
      width:$topBarHeightMobile + 20px;
      &:hover{background-color:$ter-ltTan}
    }
    li.name{
      text-align: center;
      &:hover{background: transparent;}
      .site-branding{
        max-width:30%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        a{padding:0;}
      }
    }
  }
  .off-canvas-control{
    position: absolute;
    left: 15px;
    z-index:10;
    #sidebarButton{
      color:$pri-orange;
      @include site-gradient(lighten($ter-ltTan, 7%));
      background-color: $white;
      border-color:$ter-ltTan;//$sec-dkBlue;
      width:40px;
      height:40px;
      padding: 10px 0;
      border-radius:3px;
      box-shadow: 0 1px 3px rgba(0,0,0,.2);
    }
  }
}

//div.off-canvas-control > div.control-visibility > div.sidebar-button-container > a.sidebar-button button
//  background:$white;

	}//end @media

//	@media only screen and (max-width: 768px)

/* !off-canvas-control */
.off-canvas-control{
//  @include mobileRow();
  .control-visibility{
//    @include mobileColumn(1);
    .sidebar-button-container{
      .sidebar-button{}
    }
  }
}