/*
.feature-grid-variant {
  position: relative;
  clear:left;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.feature-grid-variant:nth-child(even){

}
*/
.page-section{
  &.update-section,
  &.single-item-section{
    background-color:$white;
    @include elementBoxShadow;
    padding: 15px;
    margin-bottom: 15px;
  }
  .item-citation{
    padding-bottom: 7px;
  }
}

.section-grid{
  @extend .block-grid;
  @extend .two-up;
  @extend .mobile-one-up;
}

.section-grid-item{
  padding: 0 !important;
}

.slide, .small-title{}
.tn-title, .tiny-title{}