/* !Top Bar */
.top-bar {
  ul {
    &>li {
      /* Branding and name */
      &.name {
      	@include column(3);
      }
    }
  }
	section{

	}
}
.top-bar {
  /* Setting up the sliding area */
	section{
		@include column(4);
		@include push(5);
	}
  ul {
  	li.name{
  		@include column(3);
  		}
    li:not(.name) {
    	text-transform:uppercase;
      &.active {
      	@include site-gradient($pri-green);
			}
			&:hover{
				@include site-gradient($pri-green);
			}
			&.active, &:hover{
				& a{color:$white;}
			}
    }
    li a:not(.button){
    	padding: 0 10px !important;
    }
  }
}
@media only screen and (max-width: $topBarBreakPoint) {
	.top-bar ul > li.name{background:$white;}
	}

// SIDEBAR

//sidebar variables
$sidebarBackground:lighten(scale-saturation($pri-tan, -66%), 40%);
$sidebarLiBackground:scale-saturation(shade($pri-tan, 15%), -30%);
$sidebarLiHoverBackground:lighten(scale-saturation($mainColor, -66%), 60%);

#sidebar .component{
	margin-bottom: $baseFontSize;
}

// SIDE NAV (.side-nav)
ul.side-nav{
//	@include site-gradient(lighten($ter-ltTan, 5%), 5%);
	@include border-radius(3px);
//	@include elementBoxShadow();
	li{
		list-style: none;
		margin-bottom:1px;
		line-height: 1.2;
		&:hover{
			//background-color:$sidebarLiHoverBackground;
			box-shadow: inset 0 0 5px rgba(0,0,0,.1);}
		&.active{
			box-shadow: inset 0 0 10px rgba(0,0,0,.1);
			a{
				color: $mainColor;
				cursor: default;
				font-weight: normal;
				border-left:3px solid $mainColor;
				padding-left: 4px;
			.active-item-indicator{
				margin-top: -($baseFontSize/2); position: absolute; right: 0; top:50%;
			}
			&:after{
				//@include cssTriangle($baseFontSize/2, $mainColor, left);
				//margin-right: $baseFontSize/2; margin-top: -($baseFontSize/2); position: absolute; right: 0; top:50%;
				// @include cssTriangle(5px, $mainColor, left);
			}
			}
			&:hover{background-color: transparent;}
			.active-item-indicator{font-weight: bold;}
		}
		&.selected{
			a{}
		}
		&:last-child{@include border-bottom-radius(3px);}
		a{
			display: block;
			position: relative;
			text-transform: capitalize;
			padding: $baseFontSize/2;
			padding-right: $baseFontSize*1.25;
		}
	}
.nav-header{
	font-family: $headerFontFamily;
	font-weight: $headerFontWeight;
	font-size:ms(0);
	color: $pri-blue;
	&:hover{background-color:transparent;}
	padding:0 $baseFontSize/2 $baseFontSize/2;
}
	&[data-reveal-id="modal-feature-disabled"]{
		padding:0;
		.has-tip{
			border-bottom:none;
			&:hover{
				cursor:pointer;
			}
		}
	}
}

/* Panels ---------------------- */

.panel { background: darken($white, 5%); border: solid 1px darken($white, 10%); margin: 0 0 22px 0; padding: 20px;

  > :first-child { margin-top: 0; }
  > :last-child { margin-bottom: 0; }

  &.callout { background: $mainColor; color: #fff; border-color: darken($mainColor, 10%); @include box-shadow(inset 0px 1px 0px rgba(255,255,255,0.5));
    a { color: #fff; }
    .button { background: $white; border: none; color: $mainColor; @include text-shadow(none);

      &:hover, &:focus { background: rgba(255,255,255,0.8); }
    }
  }

  &.radius { @include border-radius($buttonRadius); }

}

/* !COMPONENTS */

//user-console
.user-console{
	// transition: height 2s;
	// -webkit-transition: height 2s; /* Safari and Chrome */
	p{
		color: $pri-blue;
	}
}
.user-details{}
.user-name{}
.user-title{}                 
.edit-user-settings{}
.user-settings-menu{
	-webkit-transition: height 0.3s ease;
	&.is-expanded{
	height: auto;
	}
	&.is-collapsed{
	height: 0px;
	overflow: hidden;
	}
}

// Login-Register

.password-signin{
	@include innerRow();
	.password{@include column(8);}
	.signin{@include column(4);}
}

.remember-forgot{
	.remember, .separator, .forgot{display: inline;}
}

// QUERY NO RESULTS

.query-no-results{
	@extend .panel;
	@extend .radius;
	// @extend .callout;
}

// FORM
.form-header{}
.form-title{
	@extend h5;
	padding: .25em 0;
}
.form-description{@extend .subheader;}
.form-action{}

.form-submit{@extend .button; @extend .primary;}
.form-cancel{@extend .button; @extend .secondary;}

.help-block{
	display: block; padding: 6px 4px; margin-top: -($formSpacing) - 1; margin-bottom: $formSpacing; font-size: ms(0) - 2;
}

// Alert-Box

.alert-title{
	color: $white;
//	font-family: $titleFontFamily;
}

// CTA

.cta{
	@extend .panel;
}
.cta-title{
	@extend h5;
	padding: .25em 0;
}
.cta-title-text{
	font-size:ms(1);
	text-transform:capitalize;
}
	.cta-img-container{
		padding:.25em;
		text-align:center;
		img{
			border:1px solid $ter-dkTan;
			@include single-box-shadow($white, 0, 1px, 1px);
		}
	}

	.cta-content{}
	.cta-actions{}

// WIDGETS
.widget{
	ul{
		list-style:none;
	}
	article{
		background: transparent;
	}
}

// ADs
@import "ad";

.widget.els-branding{@include column(3); @include mobileColumn(1); @include mobilePush(3);}
.widget.els-description{@include column(6); @include mobileColumn(3); @include mobilePull(1);}
.widget.powered-by{@include column(3); @include mobileColumn(1); @include mobilePush(3);}


.explore-sections{
	@include column(12);
	section{
		@include innerRow();
		margin-bottom:$columnGutter/3;
	}
}
.section-widget{
	@include column(12);
	li{list-style: none;}
	.meta.title{
		font-weight: bold;
	}
	.section-header{
		@include column(12);
	}
	.section-content{
		@include column(12);
		//ul{margin-top: 2em;}
		.entry{
			border-bottom:1px solid lighten($bodyFontColor, 55);
			//p{margin-bottom:.5em;}
			//.meta.title{margin-bottom: .25em;}
		}
	}
}

//channel list
.channel-title{
	@extend h4;
}

//user directory
.user-directory-header{@include innerRow(collapse);}
.user-directory{@include innerRow(collapse);}
.user-group{@include column(12, collapse);}

// User Profile
.profile-card{@include innerRow();}
.profile-details{@include innerRow();}
.profile-overview{@include column(9);}
.profile-photo{@include column(3);}
.user-photo{}
.user-detail-list{
	@include innerRow();
	dt{
		@include column(4);
		font-weight: bold;
	}
	dd{
		@include column(8);
	}
}
.user-profile-section{
@include column(12);
}

.user-profile-section-title{
	//@extend h5;
}

// CME modals
.cme-image{
	display:none;
}
.cme-details dt{
	font-weight: bold;
}

//TODO: add states for buttons, alerts, labels, badges
// colors should be added to _foundation-overrides
// classes should extend buttons and labels
// create badge variant

// foundation
// .normal
// .secondary
// .success
// .alert

//bootstrap
// .primary
// .warning
// .important/.danger
// .success
// .info
// .inverse

//practiceUpdate
// .normal 							- default button, label or badge color
// .primary* 						- main action when there are multiple options example: save
// .secondary 					- second action when there are multiple options example: cancel
// .success 						- indicates success of a user or system action
// .info 								- provides more information to user example: status
// .warning 						- warns users example: changes will not be saved
// .important/.danger 	- provides important error/danger information example: do not save
// .inverse 						- reverse color scheme for use on dark backgrounds
// .disabled 						- button that is currently disabled


