// override bxSlider styles
.carousel-container .bx-wrapper .bx-viewport{
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  left:0;
}
.bx-controls{
}
.bx-controls-direction{}
.bx-wrapper .bx-controls .bx-controls-direction .bx-prev{
  left:-40px;
}
.bx-wrapper .bx-controls .bx-controls-direction .bx-next{
  right:-40px;
}

//Correct for Explore page padding
.explore-sections{
  .carousel-container {
    margin: 0 -15px;
  }
}
// custom carousel styles
.carousel-container{
  background-color:$white;
  margin-bottom: 15px;
}
.slide-caption{
  color: #fff;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  text-align: left;
  padding: 7px 7px 10px;
  a{
   color: #fff;
  }
  .author-list{
     margin-bottom: 0;
  }
  img.avatar{
    display: inline-block !important;
  }
}

//Pager styles
.pager-container{
  margin:7px 45px;
  @media only screen and (max-width: 768px - 1) {
    display: none;
  }
}

.pager-thumb{
  .title-tiny, .title-thumbnail{font-size: 12px;}
}

.content-carousel { background: #f4f4f4; height: 300px; }
.content-carousel img { display: none; }

.content-carousel { background: none; }
.content-carousel img { display: block; }

/* ======================================== */
.classified-ad-container{

  .bx-wrapper .bx-controls .bx-controls-direction .bx-prev{
    left:0px;
  }
  .bx-wrapper .bx-controls .bx-controls-direction .bx-next{
    right:0px;
  }

}