/* Single Item page elements*/

article.single-item{
  @include innerRow();
	h2{
  	color: $pri-ltBlue;
		text-transform: capitalize;
		font-family: $serifFontFamily;
		font-size: ms(2);
	}
	h3{
		text-transform: uppercase;
		font-size: ms(1);
	}
	.item-title-container{
  	.item-title{
    	color:$pri-orange;
    	font-family: $serifFontFamily;
    	font-size: ms(1);
    	font-weight: bold;
  	}
	}
  section.take-home-message{
    background-color: $pri-ltBlue;
    color: $white;
    margin-bottom:$baseFontSize;
    padding: $baseFontSize/2 $baseFontSize;
    h2{
      color: $white;
      font-family: $serifFontFamily;
      border-bottom: 1px solid tint($pri-ltBlue, 75%);
      padding-bottom: $baseFontSize;
      text-transform: capitalize;
    }
    .source-container{
      display: none;
    }
    ul{
      margin-left: 20px;
    }
 	}
  section.editors-note, section.eo-description, section.video-description{
    	background-color: $pri-lt-grey;
    	color: $txtColor;
    	margin-bottom:$baseFontSize;
    	padding: $baseFontSize/2 $baseFontSize;
    	h2{
      	color: $txtColor;
      	font-family: $serifFontFamily;
      	border-bottom: 1px solid tint($txtColor, 25%);
      	padding-bottom: $baseFontSize;
      	text-transform: capitalize;
    	}
    	ul{
        margin-left: 20px;
      }
	  	ul, ul li{
      	list-style-type: disc;
    	}
    	ol, ol li{
      	list-style-type: decimal;
    	}
  	}
 .item-content{
  .story-image-group{
      float:left;
    	max-width: 33%;
    	padding:0 16px 8px 0;

    }
    figure{
      background-color: $pri-lt-grey;
      border: 1px solid $pri-lt-grey;
      margin:4px 0;
    	padding:8px;
    	text-align: center;
    	figcaption{
      	padding:7px 0 0px;
    	}
    }
  	ul, ul li{
    	list-style-type: disc;
  	}
  	ul.accordion, ul.accordion li{
    	list-style-type: none;
    	.content ol, .content ol li{
      	list-style-type: decimal;
    	}
    	.content ul, .content ul li{
      	list-style-type: disc;
    	}
  	}
  	ol, ol li{
    	list-style-type: decimal;
  	}
 	}
  &.type-conference{
    .section-conference-coverage{
      border: none;
      box-shadow: none;
    }
  }
}