.eic-welcome{
	@extend .secondary;
	.alert-header-text{
		font-size:ms(2);
	}
	.alert-body{
		@include innerRow();
	}
	.eic-profile{@include column(5);}
	.eic-message{@include column(7);}
	figure{

		//background-color:$white;
		//@include elementBoxShadow;
		padding: 0 $baseFontSize;
		img{
			// padding: $baseFontSize;
		}
		figcaption{
			font-weight: normal;
		}
	}
}

.event-notification{
	@extend .secondary;
	&.alert-box{background-color: $pri-lt-grey !important;}
	.alert-header-text{
		font-size:ms(2);
	}
	.alert-body{
		@include innerRow();
	}
	.event-badge{@include column(1); @include mobileColumn(1); @include mobilePush(3);}
	.event-message{@include column(11); @include mobileColumn(3);  @include mobilePull(1);}
	figure{

		//background-color:$white;
		//@include elementBoxShadow;
		padding: 0 $baseFontSize;
		img{
			// padding: $baseFontSize;
		}
		figcaption{
			font-weight: normal;
		}
	}
}

.prompt{
/*   @extend .alert-box; */
  @include innerRow(collapse);
  font-weight: normal;
  padding: 6px 7px 7px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  a.close{
    color: #333;
    position: absolute;
    right: 4px;
    top: -1px;
    font-size: 17px;
    opacity: 0.2;
    padding: 4px;
    &:hover, &:focus{
      cursor: pointer;
      opacity: 0.4;
    }
  }
}

.access-prompt{
    color:#fff;
  a{
    color:#fff;
    font-weight: bold;
  }
  &.active-access{
    background-color: $sec-ltBlue;
    .access-prompt-header{
      border-bottom-color: darken($sec-ltBlue, 5);
    }
  }
  &.expired-access{
    background-color: $pri-mid-grey;
    .access-prompt-header{
      border-bottom-color: darken($pri-mid-grey, 5);
    }
    .button{
      background-color: $sec-ltBlue;
      border-color: saturate(darken($sec-ltBlue, 25), 15);
      &:hover{
        background-color: saturate(darken($sec-ltBlue, 15), 15);
      }
    }
  }
}

.ifi-prompt{
  padding: 0;
  .section-widget{
    margin: 0;
    box-shadow: none;
    border: none;
  }
}

.access-prompt-header{
  border-bottom: 1px solid;
  padding-bottom: 7px;
}

.scheduled-prompt{
	@extend .secondary;
	.prompt-header-text{
		font-size:ms(1);
	}
	.prompt-body{

	}
	.event-badge{@include column(1); @include mobileColumn(1); @include mobilePush(3);}
	.event-message{@include column(11); @include mobileColumn(3);  @include mobilePull(1);}
	figure{
		padding: 0 $baseFontSize;
		img{
			// padding: $baseFontSize;
		}
		figcaption{
			font-weight: normal;
		}
	}
}
