/*
<div class="explore-experts">
<header class="section-header"></header>
<div class="row">
  <div class="twelve columns">
  <p>PracticeUpdate is guided by a world-renowned Editorial and Advisory Board that represents community practitioners and academic specialists with cross-disciplinary expertise.</p>
  <p>We currently cover the following specialties with more specialties being added during the year:</p>
  </div>
</div>

<div class="channel-container" style="float:left; width:50%">
<h5><a class="channel-title" href="#">cardiology</a></h5>
  <div class="editor-container" style="padding-left:50px;">
    <a href="#"><img class="avatar as50" style="float:left; margin-left:-50px; margin-right:7px;" src="http://placehold.it/60x60"/></a>
    <span class="title">Editor in Chief</span><br>
    <span class="editor-name"><a href="#">Name Name MD</a></span>
  </div>
</div>
*/
.clear-fix{
  @include clearfix();
}
.explore-faculty, .explore-experts{
  @include clearfix();
	padding-right:14px;
	padding-left:14px;
}

.explore-experts .avatar.as50{
  float:left;
  margin-right:7px;
  margin-left:-50px;
}

/* .section-header{} */

.channel-container{
  float:left;
  width:50%;
  @media only screen and (max-width: $topBarBreakPoint) {
    width:100%;
  }
}
.editor-container{
  padding-right:5px;
  padding-bottom:7px;
  padding-left:50px;
}
.avatar.as50{
  max-height: 50px;
  max-width: 50px;
}
.editor-name{
  word-break: normal;
}
.faculty-grid li{
  text-align: center;
  a{
    display: block;
  }
}

/*
<div class="clear-fix"></div>
<div class="explore-faculty panel">
  <header class="section-header">
      <p class="lead">RCC Text to come from Aman</p>
      <br>
      <p>West Clinic information to come from Aman</p>
  </header>
  <h5>RCC Facultyd</h5>
  <ul class="block-grid three-up mobile-five-up faculty-grid">
    <li>
      <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
      <a class="editor-name" href="#">Name Name. MD</a>
    </li>
    <li>
      <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
      <a class="editor-name" href="#">Name Name. MD</a>
    </li>
    <li>
      <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
      <a class="editor-name" href="#">Name Name. MD</a>
    </li>
  </ul>

  <h5>Advisory Board</h5>
  <ul class="block-grid three-up mobile-five-up faculty-grid">
    <li>
      <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
      <a class="editor-name" href="#">Name Name. MD</a>
    </li>
    <li>
      <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
      <a class="editor-name" href="#">Name Name. MD</a>
    </li>
    <li>
      <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
      <a class="editor-name" href="#">Name Name. MD</a>
    </li>
  </ul>

  <h5>Editorial Contributors</h5>
  <ul class="block-grid three-up mobile-five-up faculty-grid">
    <li>
      <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
      <a class="editor-name" href="#">Name Name. MD</a>
    </li>
    <li>
      <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
      <a class="editor-name" href="#">Name Name. MD</a>
    </li>
    <li>
      <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
      <a class="editor-name" href="#">Name Name. MD</a>
    </li>
    <li>
      <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
      <a class="editor-name" href="#">Name Name. MD</a>
    </li>
    <li>
      <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
      <a class="editor-name" href="#">Name Name. MD</a>
    </li>
  </ul>
</div><!--/.explore-experts-->
*/