// WIDGETS
.widget{
  .list-widget-title{
/*     font-family:$serifFontFamily; */
    margin-bottom: 0;
  }
  .list-widget-list{
  	list-style:none;
  }
	.list-widget-item{
  	border-bottom: 1px solid lighten($txtColor, 33);
  	&:last-child{border-bottom: none;}
	}
	.in-list{
		background: transparent;
		padding-top:.5em;
		padding-bottom:.5em;
	}
}

// specific widgets
.widget.els-branding{@include column(3); @include mobileColumn(1); @include mobilePush(3);}
.widget.els-description{@include column(6); @include mobileColumn(3); @include mobilePull(1);}
.widget.powered-by{@include column(3); @include mobileColumn(1); @include mobilePush(3);}