html.lt-ie9 {
  .reveal-modal{
    a.close-reveal-modal{
      font-size: 2.2em;
	  line-height: .5;
	  position: relative;
	  float: right;
	  top: 0px;
	  right: 0px;
	  color: #aaa;
	  
	  &:hover {
			cursor: pointer;
	  }
    }
  }
}

html.lt-ie9 {
  .prestitial-modal {
    .prestitial-modal-inner {
	  .close-reveal-modal {
	    top: -268px;
	    right: 1px;
	    color: #fff;
	  }
    }
  }
}

.prestitial-modal {
  padding: 0;
  background: transparent;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  
  .prestitial-modal-inner {
    .close-reveal-modal {
	  top: 0px;
	  right: 1px;
	  color: #fff;
	}
	
	margin: 0 auto;
    position: relative;
    max-width: 300px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
  }
}

@media (max-width: 480px) {
  .reveal-modal {
    width: 100%;
    margin-left: -49.5%;
  }
}