.explore-sections{
	@include column(12);
}
.section-widget{
	@include innerRow();
	border: 1px solid $pri-lt-grey;
	margin-bottom:$columnGutter/3;
	padding-bottom: 7px;
	.section-filter{
  	margin:14px 0 7px;
  	dt{
    	margin-left: 0;
  	}
	}
	.section-header{
		@include column(12);
		.section-title{
  		border-bottom:1px solid $pri-lt-grey;
  		color: lighten($pri-mid-grey, 10);
  		margin-bottom:7px;
  		padding-bottom: 7px;
  		text-transform: capitalize;
		}
		.section-description{
  		display: none;
		}
	}
	.section-content{
		@include column(12);
		li{list-style: none;}
		.entry{
  		@include clearfix();
			border-bottom:1px solid $pri-lt-grey;
    	padding-top: 14px;
    	padding-bottom: 7px;
    	&:last-child{border-bottom: none;}
    	.item-title-container, .badge-container.feed-badge-container, .item-source-container{
      	padding-right: 0;
      	padding-left: 0;
    	}
		}
		.flag-container{
  		padding-top:0;
  		padding-right:0;
  		padding-bottom:0;
  		padding-left:0;
		}
	}
}
.exploresectionentry .item-content-container{
  @include column(12, collapse);
}