//user-console

// <div class="user-console">
// <div class="current-user">
// 	<div class="user-details">
// 		<p class="user-name">brad strong</p>
// 		<p class="user-title">Physician</p>
// 	</div>
// </div><!--/.current-user-->
// <div class="drawer">
// 	<ul class="drawer-menu user-settings-menu is-collapsed">
// 		<li id="UserConsolePreferences" class="active"><a id="PreferencesLink" href="javascript:void(0);">My Profile &amp; Settings<span class="active-item-indicator"><i class="icon-chevron-right"></i></span></a></li>
// 		<li><a id="Logout" href="/User/LogOut">Logout</a></li>
// 	</ul><!--/.drawer-menu-->
// 	<div class="drawer-toggle">
// 		<a class="drawer-toggle-button edit-user-settings"><i class="icon-angle-down icon-large"></i></a>
// </div><!--/.drawer-toggle -->
// </div><!--/.drawer-->
// </div><!--/.user-console-->

.drawer-toggle{background: $white;}
.drawer-toggle-button{
	display: block;
	width: 100%;
	text-align: center;
	padding:{
		top: $baseFontSize/2;
		bottom: $baseFontSize/4;
	}
	&:hover{
		background: $pri-orange;
		color: $white;
		cursor: pointer;
	}
}
.drawer-menu{
	background: #fff;
	&.is-expanded{
		border-top:1px solid $pri-lt-grey;
		border-bottom: 1px solid $pri-lt-grey;
	}
	li{
		a{
  		color: #6d6457;
			display: block;
			padding: $baseFontSize/2;
			&:hover{
				background: $pri-lt-grey;
				color: $pri-orange;
			}
		}
		&.active a{
			background: $pri-orange;
			color: $white;
		}
	}
}

.user-console{
	background: #fff;
	border: 1px solid $pri-lt-grey;
}
.current-user{
}
.user-details{
  color: $pri-ltBlue;
	padding: $baseFontSize/2;;
}
.user-name,.user-title{
	color: $pri-ltBlue;
	text-transform: capitalize;
	margin-bottom: $baseFontSize/2;
}
.user-title{
  font-weight: 300;
  line-height: 1.3;
}
.edit-user-settings{}
.user-settings-menu{
	margin-bottom:0;
	&.is-expanded{
	-webkit-transition: all 0.5s ease;
	}
	&.is-collapsed{
	height: 0px;
	overflow: hidden;
	}
}
.pv-status-indicator{
  @media(max-width:$screenSmall){
    visibility: hidden;
  }
  a:link, a:visited, a:active{
    color:#CCC;
  }
  &.is-validated{
    a:link, a:visited, a:active{
      color:#000;
    }
  }
}
/*
<div class="current-user">
	<div class="user-details">
		<p class="user-name">brad strong <span>Validated</span></p>
		<p class="user-title">Physician <span class="pv-status-indicator"><a href="#" class="has-tip tip-right" title="Click to become a validated physician."><i class="icon-user-md"></i></a></span></p>
	</div>
*/