.custom-mockup .page-header {
	height:100px;
	text-align:center;
	background:$grey;
}

.channel-specific-banner-block{
	min-height:320px;
	background:$grey;
	margin:0 0 10px;
}
.channel-specific-banner-block p {
	width:58%;
	text-align:center;
}
.expert-letter-block{
	min-height:100px;
	text-align:center;
	background:$grey;
	margin:0 0 10px;
}
.site-benefits-block {
	min-height:100px;
	text-align:center;
	text-align:center;
	text-align:center;
	background:$grey;
	margin:0 0 10px;
}
.marketing-footer {
	min-height:100px;
	text-align:center;
	background:$grey;
	margin:0 0 10px;
	width:100%;
}
/*Start: login form*/
.login-form {
	float:right;
	width:40%;
	padding:0 1%;
	background:$white;
	margin:10px 0;
}
.login-form legend {
	margin:0 0 10px;
}
.login-form fieldset {
	float:left;
	width:48%;
	margin:0 2% 0 0;
	padding:0;
	border:none;
}
/*End: login form*/
/*Start: login*/
.return-block {
	height:100px;
	text-align:center;
	background:$grey;
	width:100%;
	float:left;
	margin:0 1% 0 0;
}
/*End: login*/

/*Start: personal info*/
.section-form-login legend{
	background:none;
	margin:0 0 10px;
}
.section-form-login fieldset {
	border:none;
	padding:0;
}
.section-form-login span {
	border-bottom:1px solid #ccc;
	float:left;
	padding:0 0 10px;
	margin:0 0 10px;
}
/*End: personal info*/

/*Start: account-question*/
// .account-question {
// 	width:250px;
// 	float:left;
// 	margin:0 1%;
// 	background:#e0e0e0;
// 	border:1px solid #000;
// 	padding:5px 10px;
// }
// .account-question h2{
// 	font-size:18px;	
// 	margin:0 0 10px;
// }
// .account-question a{
// 	float:left;
// 	clear:both;
// 	margin:0 0 10px;
// }
// .confirmation {
// 	width:400px;
// 	float:left;
// 	margin:0 1%;
// 	text-align:center;
// 	background:#e0e0e0;
// 	border:1px solid #000;
// 	padding:5px 10px;
// }
/*End: account-question*/
/*Start: update-popup*/
.update-popup,
// .personal-info-wrapper{
// 	float:left;
// 	width:800px;
// 	margin:1%;
// }
.update-popup .message,
// .personal-info-wrapper .message{
// 	background:#e0e0e0;
// 	border:1px solid #000;
// 	padding:5px 10px;
// }
// .update-popup .message p,
// .personal-info-wrapper .message p{
// 	color:#000;
// }
// .message {
// 	background-color: white;
//     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
//     padding: 14px;
// 	float:left;
// 	margin:1% 0;
// 	width:100%;
// }
.content-menu {
	background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 14px;
	float:left;
	margin:1% 0;
	width:100%;
}
/*Start : tabs*/
// .tabs  {
// 	width: 30%;
// 	float:left;
// }
// .tabs dd {
// 	width:100%;
// }
// .tabs dd.active, .tabs li.active {
//     border-top: none;
//     margin-top: 0;
// }
// .tabs dd a {
// 	border: 1px solid #333333;
// 	border-bottom:none;
// 	padding: 0 20px;
// 	width:100%;
// 	line-height: 38px;
// 	color:$white;
// 	font-weight:normal;
// 	float:left;
// 	height:auto;
// 	background: none repeat scroll 0 0 #4D4D4D;
// }
// .tabs dd.active a {
// 	background: none repeat scroll 0 0 #0084A9;
// 	color:$white;
// 	font-weight:normal;
// 	border: 1px solid #333333;
// 	border-bottom:none;
// }

.tabs a:hover {
    background: none repeat scroll 0 0 #333333;
	border: 1px solid #333333;
	border-bottom:none;
}
// .tabs dd a:focus, .tabs li a:focus {
//     color: $white;
//     font-weight: normal;
// }
// .tabs dd:last-child a{
//     border-bottom: 1px solid #333333;
// }
.tabs a:hover {
    background: none repeat scroll 0 0 #333333;
	border: 1px solid #333333;
	border-bottom:none;
}
.tabs dd a:focus, .tabs li a:focus {
    color: $white;
    font-weight: normal;
}
.content-info {
	min-height:300px;
}
// ul.tabs-content {
// 	float: left;
//     margin: -12px 0 2% 2%;
//     min-height: 400px;
//     width: 68%;
// }
// .tabs-content .cta-title {
//     margin: 5px 0 5px;
// }
// .tabs-content .help-block {
//     display: block;
//     font-size: 12px;
//     margin-bottom: -2px;
// }
// ul.tabs-content fieldset{
// 	padding:0;
// 	margin:0;
// }
// .tabs-content legend {
// 	font-size: 16px;
//     font-weight: bold;
// 	padding:0;
// }
// .tabs-content h4 {
// 	color: #C6C6BC;
//     font-size: 17px;
// 	margin: 8px 0;
// 	font-weight:normal;
// }
// ul.accordion > li > div.title {
// 	background:#F2F2F2;
// 	border: 1px solid #ccc;
// 	margin:0 0 3px;
// 	float:left;
// 	width:100%;
// }
// ul.accordion > li.active > div.title {
// 	background:#E9E3DC;
// 	border: 1px solid #CBBDAD;
// 	padding-top: 15px;
// }
// ul.accordion > li .title h5{
// 	color:#000;
// 	float:left;
// }
// ul.accordion > li .title span{
// 	float:right;
// }
// ul.accordion > li .title span.triangle-open{
// 	display:none;
// }
// ul.accordion > li.active .title span.triangle-open{
// 	display:block;
// }
// ul.accordion > li.active .title span.triangle-close{
// 	display:none;
// }
// ul.accordion .content {
// 	width:100%;
// }
// .checked-list {
// 	float: left;
//     list-style-type: none;
//     margin: 0 10% 11px 0;
//     padding: 0;
//     width: 90%;
// }
// .checked-list.width100 {
//     width: 100%;
// 	margin:0;
// }
// ul.accordion {
// 	float: left;
//     margin: 0 0 22px;
// 	width:100%;
// 	border:none;
// }
// ul.accordion > li.active {
//     border-top: none;
// }
// ul.accordion > li {
// 	border-top: none;
// 	float: left;
//     width: 100%;
// }
// ul.accordion > li.active .content {
// 	border:none;
// 	background:none;	
// }
// .checked-list.width100 li,
// checked-list.width100 li:first-child{
// 	width:100% !important;
// }
// .checked-list li{
// 	float:left;
// 	width:50%;
// }
// .accordion .checked-list li:first-child{
// 	width:80%;
// }
// .checked-list-down {
// 	float: left;
//     list-style-type: none;
//     margin: 0 30% 2% 0;
//     padding: 0;
//     width: 70%;
// }
// .checked-list-down li{
// 	float: left;
//     background:#ededed;
//     width: 70%;
// 	margin:0 0 -1px;
// 	border:1px solid #ccc;
// 	color:#000;
// }
// .ButtonSaveCencel {
// 	float:right;
// }
// .reg-block {
// 	border-top:1px solid #ccc;
// 	padding:0 0 1%;
// 	margin:1% 0 0;
// 	float:left;
// 	width:100%;
// }
/*End: update-popup*/
/*Start: personal-info-side*/
.personal-info-side {
	width:25%;
	float:left;
	background:#e0e0e0;
	min-height:600px;
}
// .channels-topic,
// .topic-spotlight,
// .board-text {
// 	width:80%;
// 	color:$white;
// 	text-align:center;
// 	padding:10%;
// 	margin:0 10% 10%;
// 	background:#4c78a5;
// }
.personal-info-block {
	background:#fffde6;
	width:80%;
	color:$white;
	text-align:center;
	padding:5% 10%;
	margin:5% 10%;
	border:1px solid #ccc;
}
.container-side {
	width:48%;
	margin:0 1%;
	padding:2% 0 0;
	border:1px solid #ccc;
	float:left;
}
.container-side-list {
	width:90%;
	margin:0 5% 2%;
	border:1px solid #ccc;
	height:130px;
	float:left;
}
// .recommended { // these styles break layouts in existing pages
// 	width:25%;
// 	float:left;
// 	background:#e0e0e0;
// 	min-height:600px;
// }
/*End: personal-info-side*/
/*Start: widget-block*/
.widget-block {
	padding:0 14px 14px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
	text-align:center;
}
.widget-block.bg-grey {
	background:#ebebeb;
}
.bg-yellow {
	background:#fffde6;
}
.bg-turquoise {
	background:#e6fffc;
}
.bordersolid {
	border:1px solid #8c8c8c;
}
.bordersolid.border-black {
	border:1px solid #000;
}
.borderdotted {
	border:1px dotted #858585;
}
.borderdotted.border-black {
	border:1px dotted #000;
}
.borderradius {
	border-radius:15px;
}
/*End: widget-block*/
// .row select { // margins were added in _base.scss
// 	margin: 0 0 12px;
// 	height:32px;
// 	padding:7px 0;
// }
#ErrorDivMsg {
	display:none;
}
.lets-go {
	border: 1px solid #CCCCCC;
	width:100%;
	padding:1% 1% 0;
}
.create-login {
	margin:15px 0 0;
}
.create-login h3 {
	font-size:14px;
	margin:0;
}
// .six.columns a {
// 	margin:10px 0 0;
// 	float:left;
// }
.row legend {
	margin:0 0 3px;
	font-weight:bold;
}
/*Start: formLogin*/
// .FormLoginWrapper {
//     background-color: white;
//     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
//     float: right;
//     margin: 0 10px 0 0;
//     padding: 0 0 14px;
//     width: 450px;
// }
// #formLoginNotRegisterYet p {
// 	margin:0 0 50px;
// }
// #formLogin {
//     float: left;
//     margin: 0 0 0 14px;
//     width: 51%;
// }
// #formLoginNotRegisterYet {
// 	width:38%;
// 	float:right;
// }
// #formLogin a.forgot{
// 	clear: both;
//     float: left;
//     margin: 0 0 10px;
// }
// #formLogin a.form-submit{
// 	margin:0 0 10px;
// 	float:left;
// }
// #formLogin label {
// 	float: right;
//     margin: 9px 0 0 0;
// }
// #formLogin h3{
// 	font-size:18px;
// }
// .cta-title{
// 	margin-bottom:7px;
// }
// #formLoginNotRegisterYet .cta-title{
// 	margin-bottom:1px;
// }
// .formActionRight {
// 	float:right;
// }
/*End: formLogin*/
/*Start: Alert*/
.AlertWhite .cta-title {
	margin-top: -9px;
	margin-bottom: -1px;
}
.AlertWhite .cta-title-text {
    font-size: 22px;
}
.AlertWhite .alert-box.alert{
	margin: -30px -30px 20px;
}
/********************/
// .page-header {
//     border-bottom: 3px solid #002D56;
// }

// .form-submit,
// .form-cancel{
//     background: none repeat scroll 0 0 #0084A9;
//     border: 1px solid #00485C;
//     box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
//     color: white;
//     cursor: pointer;
//     display: inline-block;
//     font-family: inherit;
//     font-size: 14px;
//     font-weight: bold;
//     line-height: 1;
//     margin: 0;
//     padding: 10px 20px 11px;
//     position: relative;
//     text-align: center;
//     text-decoration: none;
//     transition: background-color 0.15s ease-in-out 0s;
//     width: auto;
// }
// .form-submit:hover{
//     background-color: #005C76;
// 	color: white;
// }
// .form-cancel:hover{
//     background-color: #D5CABD;
// 	color: white;
// }
// .form-cancel {
// 	background-color: #E9E3DC;
//     border: 1px solid #CBBDAD;
//     color: #1C1711;
// }
// .help-block {
//     display: block;
//     font-size: 12px;
//     margin-bottom: 12px;
//     margin-top: -13px;
//     padding: 6px 4px;
// }
.ReturnToLogin {
	display: block;
    margin: 10px 0 0;
}
.floationg {
	float:right;
	clear:both;
	margin:0 0 10px;
}
.error.error-check {
	margin:-6px 0 0;
}
.page-banner-logout {
	margin:0 auto;
}

#formRegisterPrompt {
	width:44%;
}
.logout-container {
	padding-bottom: 1em;
}
.logout-container p {
    color: white;
}
// .top-bar {
// 	position:relative;
// }
// .top-bar ul > li.toggle-topbar a {
// 	background: url("../img/arrow.png") no-repeat scroll 0 28px transparent !important;
//     border: medium none !important;
//     min-height: 46px !important;
//     min-width: 16px !important;
//     top: 0 !important;
// }
// .top-bar ul li a {
//     display: block !important;
//     font-size: 13px !important;
//     font-weight: bold !important;
//     height: 60px !important;
//     line-height: 60px !important;
//     padding: 0 20px !important;
// }
// .top-bar section ul > li {
//     text-transform: uppercase;
// }
line {
	width:100px !important;
	height:100px !important;
	border:1px solid red !important;
}

@media only screen and (max-width: 620px) {
	.tabs {
		width:100%;
	}
	ul.tabs-content {
		width:97%;
	}
// .checked-list li {
// 	float: left;
// 	width: 100%;
// }
	#formLogin {
		width:100%;
		margin:0;
	}
	#formRegisterPrompt {
		width: 100%;
	}
// 	.commentary-container p {
// 		margin: 0 !important;
// 	}
// 	.commentary-container .source-container {
// 		margin: 0 !important;
// 	}
// 	.source-container .expert-name {
// 		margin: 0 !important;
// 	}
// 	.source-container .source-photo {
// 		margin: 0 !important;
// 	}
 }

// @media only screen and (max-width: 1000px) {
// 	#formLogin label {
// 		float: left;
// 		margin: 9px 0 7px;
// 		width:100%;
// 	}
// 	#formLogin label input {
// 		margin: 3px 3px 3px 0;
// 	}
// }
// @media only screen and (max-width: 850px) {
// 	.login-register-container {
// 		float: left;
// 		width: 100%;
// 	}
// 	.commentary-container p {
// 		margin: 0 !important;
// 	}
// 	.commentary-container .source-container {
// 		margin: 0 !important;
// 	}
// 	.source-container .expert-name {
// 		margin: 0 !important;
// 	}
// 	.source-container .source-photo {
// 		margin: 0 !important;
// 		clear: both;
// 	}	
// }

// .meet-experts,
// .dashboard .account-question {
// 	background-color: $white !important;
//     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
//     padding: 14px !important;
// 	float:left;
// 	margin:1% 0 4% !important;
// 	width: 100%;
// }
// .user-console .split {
// 	text-align: left;
//     width: 100%;
// }


/*End: static-container*/
// .dashboard .panel, .dashboard .query-no-results, .dashboard .cta {
//     background: none;
//     border: none;
//     margin: 0;
//     padding: 20px;
// }

/*Start: single item*/
.single-item .item-content-section h3{
	font-size:17px;
	font-weight:normal;
}
// .single-item .source-container {
// 	float: left;
//     margin: -10px 0 10px;
//     width: 100%;
// }
.single-item .source-container .expert-name {
	font-size:12px;
	margin:0;
	padding:0;
}
.single-item .expert-photo {
	padding:0 10px 0 0 !important;
}
// .single-item .commentary-container p {
// 	margin:0;
// 	margin:0 0 10px;
// 	text-transform: none;
// }
/*End: single item*/

// .item-source-container {
// 	overflow:hidden;
// }
// .source-container .vcard {
// 	width:100%;
// }
.widget.recent .source-citation{
	margin:0;
}
#cme-table h1 {
	font-size:24px;
}
.section-widget .section-content .entry {
	// border-bottom:$exploresectionBottomborder;
}
.section-widget .meta.title {
	margin:0;
}
/*Start: popup*/
.reveal-modal h3{
	font-size:18px;
	margin:0;
}
.reveal-modal .source {
	font-size:12px;
}
.reveal-modal #cme_teaser {
	margin:25px 0 0;
	float:left;
	// width:$widthpopup;
}
.reveal-modal .photo {
	float:left;
	margin:0 1% 0 0;
}
.reveal-modal .content {
	float:left;
	// width:$widthpopup;
}
.reveal-modal .content .intro {
	float:left;
	// width:$widthpopup;
	margin:0 0 10px;
	line-height: 1.6;
}
.reveal-modal .info.clearfix {
	float:left;
	margin:0;
	// width:$widthpopup;
}
.reveal-modal .info.clearfix dt{
	width:20%;
	float:left;
	font-weight:bold;
}
.reveal-modal .info.clearfix dd{
	width:80%;
	float:left;
}
.reveal-modal .cme-container {
	// width:$widthpopup;
}
.reveal-modal .cme-container table{
	// width:$widthpopup;
}
@media only screen and (max-width: 620px) {
	.reveal-modal .info.clearfix dt{
		width:100%;
		margin:0 0 -5px;
	}
	.reveal-modal .info.clearfix dd{
		float: left;
		margin: 0 0 11px;
		// width: $widthpopup;
	}
	table thead tr td,
	table tbody tr td {
		padding:2px;
		font-size:10px;
	}
	.cme-container table {
		margin:0 -10px;
	}
	table .label{
		white-space: pre-wrap;
	}
}
/*End: popup*/
/*Start: 404*/
.error-block p {
	margin:0;
}
.text-error-message {
	margin:0 0 10px;
}
.error-block ul{
	margin:0 0 0 20px;
}
/*End: 404*/
.top-bar section ul > li.active {
	filter:none !important;
}