.is-collapsed{
	// height: 0px;
	// overflow: hidden;
	//transition: height 2s;
	//-webkit-transition: height 2s; /* Safari and Chrome */
}

.is-expanded{
	//transition: height 2s;
}

.is-hidden{
	@extend .hide-override;
}

// class applied to body by topbar.js when .page-header.sticky hits the top of the viewport
.topbar-fixed{
	.page-content{
		padding-top: $topBarHeightMobile + $columnGutter/2;
	}
}

.is-loading{
}
.loader-container{
	display: block;
	text-align: center;
}