ul li{
	list-style: none;
}
//article{
.in-stream, .single-item, .user-profile, .user-group, .channel-list-container, .pref-container{
	background-color:$white;
	@include elementBoxShadow;
}

.in-list{
}

body{
	@include noise(lighten($ter-ltTan, 10%), 0.02);
}

.page-header{
	border-bottom:3px solid $pri-blue;
	background-color: $white;
}
.page-content{
	padding-top: $baseFontSize;
}

.section-widget{
	background-color:$white;
	@include elementBoxShadow;
}

.page-footer{
	border-top:2px solid $white;
}

//type
.journal-title, .feed-title{
	color:$pri-blue;
	font-size:ms(1);
}

.item-title, .item-type, .item-pub-date{
	font-family:$titleFontFamily;
	font-weight:normal;
}

.subheader{ color:$headerFontColor;}

// BUTTONS
//.load-more-button{}
.view-more-button, .view-more{
	@extend .full-width;
	@extend .success;
}

.cta-button{
	@extend .full-width;
}

/*  !UI ELEMENTS */
.load-more-button{
	@extend .button;
	@extend .full-width;
}

//Flag

.flag{
	border-top:1ps solid $white;
	color: $white;
	font-family:$titleFontFamily;
	font-weight: normal;
	//@include elementBoxShadow;
	&.featured{
		background:$sec-green;
	}
	&.story-of-the-week{
		background:$sec-orange;
	}
}

#RegisterDiv{
	@include clearfix();
	background-color:$white;
	@include elementBoxShadow;
	padding: $baseFontSize;
}

/* ================================ */
// Marketing Theme
/* ================================ */


/* typography */
body{white-space-collapse: collapse;}

// h1, h2, h3, h4, h5, h6{
// 	text-transform: capitalize;
// }

h3{
	color:$sec-blue;
	font-family:$titleFontFamily;
}
.page-banner-container{
	@include site-gradient();
	@include box-shadow(0px 5px 10px 0px rgba(0,0,0,0.3));
	padding-top:1em;
	padding-bottom:1em;
	z-index: 10;
}

.page-banner{
	p{font-family:$headerFontFamily;}
}

.brand-container{
	p{color: $white;}
	.tagline{
		font-size: ms(1);
	}
	padding-bottom: 1em;
}
.brand-name{
	text-transform:lowercase;
	font-size: ms(6);
		@media only screen and (max-width: $screenMedium) {
			font-size: ms(4);
		}
	}
.brand-name-practice{text-transform:capitalize;}
.brand-name-update{text-transform:capitalize;}

.login-register-container{
	@include column(6);
padding-top: $baseFontSize/2;
}

.login-register{
	@include innerRow(collapse);
	padding-top: $baseFontSize/2;
	background-color: white;
	@include box-shadow(rgba(0,0,0,0.2) 0px 2px 2px 0px);
}

#formLogin{@include column(6);
//	.form-action{@include innerRow(collapse);}
//	.form-submit{@include column(6);}
//	.remember-me{@include column(6);}
	.forgot-password-link{}
}
#formRegisterPrompt{@include column(6);}

.beta-accept, .subscribe-container{
	text-align:center;
	input.error{background-color:rgba(255,255,255,0.9);}
}

.beta-accept-lead, .subscribe-lead{
	color:$ter-ltBlue;
	font-size: ms(1);
	padding-top: $baseFontSize;
	margin-bottom: $baseFontSize/2;
}

.beta-accept-button, .subscribe-button{
	color:$ter-dkBlue;
	font-weight:normal;
	@include site-gradient($pri-green, 20%, $white, "false");
	&:hover{
		color:$ter-dkBlue;
		@include site-gradient($pri-green, 40%);
	}
	text-transform: uppercase;
}

.beta-accept-sub{display: none;}

.specialty-name, .brand-name{
	color:$white;
	margin-bottom: 0;
}
.specialty-name{
	font-size: ms(6);
	text-transform:capitalize;
	@media only screen and (max-width: 767px) {
		font-size: ms(5);
	}
}
.tagline{
	color:$pri-blue;
	font-family: $bodyFontFamily;
	font-size: ms(1);
}
.tagline-str2{
	color:$ter-ltBlue;
	font-style: italic;
	@media only screen and (max-width: 767px) {
		display:block;
	}
}

.page-content-first{
	@include noise(lighten($ter-ltTan, 10%), 0.02);
	padding-top:1em;
	padding-bottom:2em;
	z-index:-5;
}


.copy-header{
	font-size: ms(4);
	color:$pri-blue;
}

.expert-letter-copy{
	background-color:lighten($ter-ltTan, 15%);
	@include box-shadow(rgba(0,0,0,0.2) 0px 5px 10px);
	@include border-radius(2px);
	.copy-header{
		@media screen and (min-width: 768px){
			padding:1em .5em inherit;
		}
	}
}

.letter-body{
	font-size: ms(1);
	line-height:2;
	@media screen and (min-width: 768px){
		padding:1em 1em 2em;
	}
	
}

.page-content-second{padding-top:1em; padding-bottom:1em;}

