/* !variables */

// Colors
$grey: #ededed;
$blue:#00aeff;
$green:#dae348;
$bodyBackground: #e6e3de;
$itemBackground: #fcfcfa;


// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";
// @import "foundation/common/globals";
// @import "foundation/mixins/clearfix";
// @import "modular-scale";

// Control which mixins you have access too

// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

/* Brad's Styles */

//html {font-family:"Skolar Bold", Georgia, serif; font-size-adjust:0.49; font-weight:bold; font-style:normal;}

/* structure */

body{
	//background: url("../img/body.jpg");
	background: lighten($bodyBackground, 5);
}

.container{
	//@include outerRow();
	//min-width:320px !important;
}

.page-content{
	//@include outerRow();
	padding-top:$navBarHeight;
	padding-bottom:$navBarHeight*2;
}

/* !main-nav */
.top-bar{
	background-color: #5f5f61;
	@include filter-gradient(#5f5f61, #020202, vertical);
	@include background-image(linear-gradient(top, #5f5f61 0%,#020202 100%));
	width: 100%;
}

.page-header{
	@include clearfix();
	background: linear-gradient(top bottom, #5f5f61 0%,#020202 100%);
	width: 100%;
	z-index: 500;

}
.page-header-fixed{
	position: fixed;
	top: 0;
	left: 0;
}
.site-branding{
	@include column(4);
	@include mobileColumn(2);
}
.nav-bar{
	background: inherit;
}

@media all and (max-width: $screenSmall){
	.page-header{position: static;}
}

/* !dashboard */
.dashboard .component{
	@include innerRow();
	nav{
	@include column(12)
	}
}

/* global elements */
article{
	background: $itemBackground;
}

.ad{
	text-align: center;
}
/* Page Layouts */

/* !Update Layout */

body.update{
	.dashboard{@include column(12);}
	.stream-container{@include column(8); @include mobileRow();}
	.recommended{@include column(4); @include mobileColumn(4);}
}

/* !Explore Layout */

body.explore{
	.dashboard{@include column(12);}
	//.sidebar{@include column(2);}
	.explore-container{@include column(8); @include mobileRow();}
	.recommended{@include column(4); @include mobileColumn(4);}
}

/* !Learn Layout */

body.learn{
	.dashboard{@include column(12);}
	.cme-container{@include column(12); @include mobileRow();}
	//.sidebar{@include column(2);}
	//.main{@include column(12);}
	//.recommended{@include column(3);}
}
body.story-of-the-week{
	.single-item-container{@include column(8); @include mobileRow();
		article{
			@include innerRow();
			box-shadow: 0px 2px 2px rgba(0,0,0,.2);
			.item-header{
				@include column(12);
			}
			.item-content{
				@include column(12);
				.item-content-section{
					@include innerRow();
				}
				.take-home-message{
					@include column(12);
					h3{font-size:ms(0);}
				}
				.abstract{
					@include column(12);
				}
			}
			.item-footer{
				@include column(12);
			}
		}
	.taxonomy-meta{
		ul{
			@include column(3);
			list-style:none;
		}
		.author-meta{
			@include innerRow();
			.author{
				@include column(6);
			}
		}
	}
	}
	.recommended{@include column(4); @include mobileColumn(4);}
}

/* !stream */
.stream-item-container{
	@include innerRow();
	box-shadow: 0px 2px 5px rgba(0,0,0,.15);
	//border-radius: 5px;
	border:1px solid;
	border-color:$grey;
	margin-bottom: $columnGutter/3;
	.stream-item{
		@include column(12);
		&:not([class*="featured"]){
			padding-top:1em;
		}
		&.featured{
			border-top:3px solid $green;
			.source-container{
				padding-top:.25em;
			}
		}
		.flag{
			@include innerRow();
			font-family: $headerFontFamily;
			line-height:1.5;
			//text-transform: uppercase;
			.featured{
				@include column(3);
				@include push(9);
				@include mobileColumn(2);
				@include mobilePush(2);
				color: darken($green, 30);
				background:$green;
				text-align: right;
				span{
					
				}
			}
		}
		.source-container{
			@include innerRow();
			display: none;
		}
		.item-container{@include innerRow();
			.item-header{@include column(12);
				.item-type{ text-transform:capitalize;
				}//@include mobileColumn(#);
			}
			.item-content{@include column(12);}
			.item-title{font-size:ms(1);}
			.source-title{font-size:ms(0);}
		}
		.item-footer{
			@include innerRow();
			margin-bottom:2em;
			.portal-meta{
				@include column(4);
				@include mobileColumn(2);
				.rating{
					background:$bodyBackground;
					border-radius:10px;
					box-shadow: 0 1px 1px lighten($itemBackground, 10);
					text-align: center;
					dt, dd{
						display: inline-block;
						line-height:1.5;
					}
					.value{font-weight: bold;}
				}
			}
			.item-actions{
				@include column(4);
				@include push(4);
				@include mobileColumn(2);
				@include mobilePush(0);
				.link-list{
					margin-bottom:0;
				}
			}
		}
	}
}

/* !Explore */
body.explore{
	.explore-feature .feature-item{background: $white;}
	.explore-feature { background: url(spinner.gif) center center #f4f4f4; height: 300px;}
	.explore-feature img { display: none; }

	.explore-feature.orbit { background: none; }
	.explore-feature.orbit img { display: block; }
	.explore-feature.orbit {
		section{ padding:$columnGutter/3;}
		article{ padding:$columnGutter/3;}
	}

	.explore-sections{
		@include column(12);
		section{
			@include innerRow();
			margin-bottom:$columnGutter/3;
			background: $itemBackground;
		}
	}
	.section-widget{
		@include column(12);
		li{list-style: none;}
		.meta.title{
			font-weight: bold;
		}
		.section-header{
			@include column(4);
		}
		.section-content{
			@include column(8);
		}
	}
}

/* !COMPONENTS */
.component{@include innerRow();}
.component.user-console{

}

.side-nav{
	li{
		&.active{
			pointer-events: none;
			cursor: default;
		}
		a{
			&:hover{
				background:$grey;
			}
		}
	}
}
.recommended{
	ul{
		list-style:none;
		border-top: 1px solid $grey;
	}
}

/* !AD Slots */
#page-leaderboard{
	//@include outerRow();
}

.footnotes a {
	word-break: break-all;
	word-break: break-word;
	hyphens: auto;
}
