// You custom settings file to override Foundation defaults
@import "settings";
// import settings override
@import "foundation-overrides";
// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
@import "foundation/components/modules/offcanvas";


// ----------------------------------------
// PracticeUpdate.com styles Copyright Elsevier

/* typography */
body{white-space-collapse: collapse;}
h1, h2, h3, h4, h5, h6{
	text-transform: capitalize;
}
/* TODO: realign $=-title with $=-header */
*[class$="-title"], .nav-header{
	font-family: $headerFontFamily;
	font-weight: $headerFontWeight;
}

.meta{
	color:lighten($bodyFontColor, 20);
}

.source-citation{
	//dt{}
	dd{
		font-size:.75em;
	}
}
//.expert-name{}

.dashboard .side-nav li{
	&.nav-header{font-size:ms(1);}
	a{
		text-transform:uppercase;
	}
}
.recommended{ 
	.widget.recent h5{
		color: $ter-dkTan;
		text-transform:uppercase;
		border-bottom:1px solid $ter-dkTan;
		}
}

abbr{
	color: inherit;
	&.additional-name{
		border-bottom: none;
		&:hover{
			cursor: text;
		}
}
}
/* !color */
$sidebarBackground:lighten(scale-saturation($mainColor, -66%), 40%);
$sidebarLiBackground:scale-saturation(shade($mainColor, 15%), -30%);
$sidebarLiHoverBackground:lighten(scale-saturation($mainColor, -66%), 60%);
body{background:$bodyBackground;}
.page-content{@include noise($sidebarBackground, 0.02);}//Displays as the sidebar's background color
[role="main"]{@include noise($ter-ltTan);}
.explore-container, .stream-container, .single-item-container{background-color: $bodyBackground;}//center column for content cards

.dashboard{
	.side-nav{
		li{
			&.nav-header{
				background-color:$ter-ltTan;
				color: $sidebarLiBackground;
				&:hover{background-color:$ter-ltTan;}
				a .has-tip{color:shade($ter-ltTan, 25%);}
			}
			background-color: $sidebarLiBackground;
			/* TODO: Make the active state match the hover state */
			&.active a{
				&:after{@include cssTriangle(($baseFontSize/2), $sidebarBackground, left); float:right; position:relative; top:2px;}
				color:$sidebarBackground;}
			&:hover{background-color:$sidebarLiHoverBackground;}
			a{
				color:$sidebarBackground;
				&:hover{
					color:$sidebarLiBackground;
				}
			}
		}
	}
	.cta{
		background-color:$ter-ltTan;
		.cta-title{
			.cta-title-text{
				color: $sidebarLiBackground;
			}
		}
	}
}

/* !CTAs */
.cta{
	.cta-title{
		.cta-title-text{}
	}
	.cta-img-container{}
	.cta-content{}
	.cta-actions{}
	/* !Meet Our Experts*/
	&.meet-experts{}
}



.source-citation{
	dt{
		color:$pri-blue;
	}
}

.page-footer{
	@include noise($ter-ltTan);
	border-top:2px solid $white;
}

/* !structure */
//.container{}
body > .widget.ad{@media only screen and (max-width: $screenMedium) {display:none;}}
[role="main"]{padding:0;}

.page-header{
	@include clearfix();
}

#page-leaderboard{
	background-color:$ter-dkTan;
}

.page-content{
	@include clearfix;
}

.page-footer{
	@include outerRow();
	@include mobileRow();
	padding-top:$navBarHeight;
	padding-bottom:$navBarHeight;
}

.footer-section-container{
	@include column(12);
	.footer-section{
		@include innerRow();
		@include mobileRow();
		.widget.els-branding{@include column(3); @include mobileColumn(1); @include mobilePush(3);}
		.widget.els-description{@include column(6); @include mobileColumn(3); @include mobilePull(1);}
		.widget.powered-by{@include column(3); @include mobileColumn(1); @include mobilePush(3);}
	}
}

/* !Navigation */

/* !Top Bar */
.top-bar {
//	z-index:500;
  /* Setting up the sliding area */
  //section {}
  ul {
    &>li {
    	text-transform:uppercase;
      &.active {
      	@include background(linear-gradient($topnav-lt, $topnav-dk));
			}
			&:hover{
				background-color:tint($topBarLinkColor, 85%);
			}
			&.active, &:hover{
				& a{color:$white;}
			}
      /* Branding and name */
      &.name { background: $white; height: $topBarHeightMobile;
        h1 { line-height: 1;
          a { color: $topBarLinkColor; display: block; line-height: $topBarHeightMobile !important; padding-left: $topBarHeightMobile / 2; height: $topBarHeightMobile; }
        }
      }
    }
  }
}
.site-branding{}

/* !off-canvas-control */
.off-canvas-control{
	@include mobileRow();
	.control-visibility{
		@include mobileColumn(1);
		.sidebar-button-container{
			.sidebar-button{}
		}
	}
}

/* #sidebar */
// FIXME:fix bg color of left panel
#sidebar{
	padding-top:1em;
	.component nav{
	}
	.side-nav{
		padding:0 0 1em;
		.nav-header{
			@include border-top-radius(3px);
			padding:.25em 1.25em;

		}
		li{
			margin-bottom:1px;
			&.nav-header{
				.right{text-align:right;}/* FIXME: Position interferes with other elements on resize */
			}
			&.active{
				cursor: default;
				font-weight:bold;
				pointer-events: none;
			}
			&:last-child{@include border-bottom-radius(3px);}
			a{
				padding:.5em 1.5em;
				&[data-reveal-id="modal-feature-disabled"]{
					padding:0;
					.has-tip{
						border-bottom:none;
						&:hover{
							cursor:pointer;
						}
					}
				}
			}
		}
	}
}

/* global elements */
article{
	background: $itemBackground;
}

.footnotes a {
	word-break: break-all;
	word-break: break-word;
	hyphens: auto;
}

.flag{
//	@include innerRow();
	/* TODO: make this extend .-title */
	font-family: $headerFontFamily;
	line-height:1.5;
	//text-transform: uppercase;
	span.featured{
		background:$pri-green;
		color: $white;
		display:block;
		font-weight:bold;
		margin-top:.2em;
		padding-right:1em;
		text-align: right;
		text-transform:uppercase;
	}
}

/* Page Layouts */
/* !Base Layout */
	.dashboard{@include column(12, collapse);}
	.recommended{@include column(5); @include mobileColumn(4);}

/* !Update Layout */
.stream-container{@include column(7); @include mobileRow();}

/* !Explore Layout */
.explore-container{@include column(7); @include mobileRow();}

/* !Learn Layout */
.cme-container{@include column(12); @include mobileRow();}

/* !Single Item */
.single-item-container{@include column(7); @include mobileRow();}

/* Page Specific Styles*/
/* Single Item page elements*/
.single-item-container{
		article{
			@include column(12);
			@include elementBoxShadow();
			@include clearfix();
			.item-header{
				@include column(12);
				h1{font-size:ms(3);}
			}
			.item-content{
				@include column(12);
				.item-content-section{
					@include innerRow();
					.source-container{margin-bottom:1em;}
				}
				.take-home-message, .commentary, .abstract, .summary{
					@include column(12);
					h3{
						font-size:ms(0);
						text-transform:uppercase;
					}
				}
			}
			.item-footer{
				@include column(12);
			}
		}
	.taxonomy-meta{
		ul{
			@include column(3);
			list-style:none;
		}
		.author-meta{
			@include innerRow();
			.author{
				@include column(6);
			}
		}
	}
}

/* !Update Page Elements */
/* !stream */
.stream-item-container{
	@include innerRow(collapse);
	box-shadow: 0px 2px 5px rgba(0,0,0,.15);
	//border-radius: 5px;
	border:1px solid;
	border-color:$grey;
	margin-bottom: $columnGutter/3;
	.stream-item{
		@include column(12);
		&:not([class*="featured"]){
			padding-top:1em;
		}
		&.featured{
			.item-header-container{
				padding-top:.75em;
			}
		}
		.item-container{@include innerRow();
			.item-header-container{@include column(12);
				.item-header{@include innerRow();
					.item-type{@include column(7);}
					.item-pub-date{@include column(5); text-align: right;}
					.pub-meta{@include column(12);
					}
				}
				.item-type{
					color:ter-ltTan;
					font-weight:bold;
					text-transform:uppercase;
				}
			}
			.item-content-container{@include column(12); margin-bottom:.75em;}
			.item-content{@include innerRow();}
			.commentary-container{
				.source-container{
				}
				div[class$="-photo"]{
					@include column(2);
				}
				div[class$="-name"]{
					@include column(6);
				}
			}
			.item-source-container{
				@include column(12);
				.item-source{
					.item-title, cite{font-size: ms(0);}
					//@include elementBoxShadow();
					@include clearfix();
					background-color:light($bodyBackground, 25);
					border-top:1px solid lighten($bodyFontColor, 55);
					padding-top:.5em;
					padding-bottom:.5em;
				}
				figure[class$="-photo"]{
					@include column(2);
				}
				div[class$="-name"]{
					@include column(6);
				}
			}
			.commentary-container{@include column(12);}
			.journal-title{font-size:ms(2);}
			.item-title{font-size:ms(1);}
			.source-title{font-size:ms(0);}
		}
		.item-footer{
			@include innerRow();
			margin-top:.5em;
			margin-bottom:2em;
			.portal-meta{
				@include column(8);
				@include mobileColumn(2);
				.rating{
					//background:$bodyBackground;
					//border-radius:10px;
					//box-shadow: 0 1px 1px lighten($itemBackground, 10);
					//text-align: center;
					color: $pri-blue;
					dt, dd{
						display: inline-block;
						line-height:1.5;
					}
					.value{font-weight: bold;}
				}
			}
			.item-actions{
				@include column(4);
				@include push(4);
				@include mobileColumn(2);
				@include mobilePush(0);
				.link-list{
					margin-bottom:0;
				}
			}
		}
	}
}
.load-more{
	@include column(6, center);
	text-align: center;
}

/* !Explore Page Elements*/
.explore-feature .feature-item{background: $white;}
.explore-feature { background: url(loading.gif) center center #f4f4f4; height: 300px;}
.explore-feature img { display: none; }

.explore-feature.orbit { background: none; }
.explore-feature.orbit img { display: block; }
.explore-feature.orbit {
	section{ padding:$columnGutter/3;}
	article{ padding:$columnGutter/3;}
}

.explore-sections{
	@include column(12);
	section{
		@include innerRow();
		background: $itemBackground;
		@include elementBoxShadow();
		margin-bottom:$columnGutter/3;
	}
}
.section-widget{
	@include column(12);
	li{list-style: none;}
	.meta.title{
		font-weight: bold;
	}
	.section-header{
		@include column(12);
	}
	.section-content{
		@include column(12);
		ul{margin-top: 2em;}
		.entry{
			border-bottom:1px solid lighten($bodyFontColor, 55);
			p{margin-bottom:.5em;}
			.meta.title{margin-bottom: .25em;}
		}
	}
}

/* !COMPONENTS */
.component{@include innerRow();}
.component.user-console{}

/* !dashboard */
.dashboard .component{
	nav{
	@include column(12)
	}
}

.recommended{
	ul{
		list-style:none;
	}
	article{
		background: transparent;
	}
	p{
		border-top:1px dotted lighten($bodyFontColor, 55);
		font-size: ms(0)-1;
		margin-bottom:.25em;
	}
}

/* !WIDGETS */
.widget{
	/* !Ads */
	&.ad{
		.ad-container{
			text-align: center;
			.ad-title{
				text-align:left;
				.ad-title-text{
					text-transform:uppercase;
				}
			}
			.ad-content{
				background:transparent;
				display:block;
				overflow:hidden;
				object{
					display:block;
					height:auto;
				}
			}
		}
	}
}

/* !CTAs */
.cta{
	@include border-radius(5px);
	padding:1em 1.5em .25em;
	.cta-title{
		@extend h5;
		padding: .25em 0;
		.cta-title-text{
			font-size:ms(1);
			text-transform:capitalize;
		}
	}
	.cta-img-container{
		//background-color:lighten($ter-ltTan, 5%);
		//border:1px solid $ter-dkTan;
		padding:.25em;
		text-align:center;
		img{
			border:1px solid $ter-dkTan;
			@include single-box-shadow($white, 0, 1px, 1px);
		}
	}
	.cta-content{}
	.cta-actions{}
	/* !Meet Our Experts*/
	&.meet-experts{}

	/* !query-no-results */
	&.query-no-results{
		@extend .panel;
		@extend .radius;
		@extend .callout;
	}
}

/* !Utilities */
//body.logged-out .user-console{
//	display: none;
//}

//body.logged-in .cta.register{
//	display: none;
//}

/*  !UI ELEMENTS */
.load-more-button{
	@extend .button;
}


//-------------------
//!top-bar responsiveness
  /* Topbar Specific Breakpoint that you can customize */
@media only screen and (max-width: $topBarBreakPoint) {

  .top-bar { margin-bottom: 0; overflow: hidden; height: $topBarHeightMobile; background: $topBarDropBgColor;
    .js-generated { display: block; }

    /* Override contain to grid stuff for breakpoint */
    .contain-to-grid & { width: auto; }

    /* Setting up the sliding area */
    section { left: 0; position: relative; width: auto; @include single-transition(left, 300ms); }
    ul { width: 100%; height: 100%; margin-bottom: 0; display: block;
      &>li { float: none;
        &.active, &:hover {background: tint($topBarLinkColor, 85%);}
        /* Branding and name */
        &.name { background: $white; height: $topBarHeightMobile;
          h1 { line-height: 1;
            a { color: $topBarLinkColor; display: block; line-height: $topBarHeightMobile !important; padding-left: $topBarHeightMobile / 2; height: $topBarHeightMobile; }
          }
        }
        &:hover, &.active { a,a:not(.button) { color: $white; } }
        a:not(.button) { color: $topBarDropLinkColor; }

        /* Dropdown Toggle */
        &.toggle-topbar { cursor: pointer; display: block; height: $topBarHeightMobile; position: absolute; right: 0; top: 0; width: 50%;
          a { @include cssTriangle($topBarNavToggleSize, $topBarLinkColor, top); padding: 0; position: absolute; top: 50%; right: $topBarHeightMobile / 2; margin-top: -($topBarNavToggleSize / 2); }
          @if $topBarBreakPoint == 9999px { a { right: ($topBarHeight / 2) + ($columnGutter / 2);} }
          &:hover { background: inherit; }
        }
        &.toggle-topbar a { padding: 0 !important; }

        /* Divider for breakpoint */
        &.divider { border-bottom: solid 1px lighten($topBarDropBgColor, 10%); border-top: solid 1px darken($topBarDropBgColor, 15%); clear: both; height: 1px !important; margin: 8px 0 !important; width: 100%; }

        /* Search Overrides for breakpoint size */
        &.search { padding: 0 $topBarHeight / 2;
          form { width: 100%;
            input[type=text] { width: 75%; }
            .button { top: 0; width: 25%; }
          }
        }

        /* Dropdown Level 1 */
        &.has-dropdown {
          a { padding-right: $topBarHeight * .75;
            &:after { @include cssTriangle($topBarDropToggleSize, rgba($topBarDropToggleColor, $topBarDropToggleAlpha), left); margin-right: $topBarHeight / 3; margin-top: -($topBarDropToggleSize / 2) - 2; position: absolute; top: 50%; }
          }
          &:hover >.dropdown { display: block; visibility: hidden; }
          .dropdown { visibility: hidden; z-index: 0 !important; }
          &.moved { position: static;
            .dropdown { top: 0; visibility: visible;
              li {
                label { margin-bottom: 6px; padding-top: 6px !important; font-size: ms(0) - 3; }
                &:not(.title) { padding-bottom: 0;
                  a { padding: 8px $topBarHeightMobile / 2; font-size: ms(0); }
                }
                a, label { padding: 0 $topBarHeight / 2; }
                a:hover { background: lighten($topBarBgColor, 10%); display: block; }
                &.divider { border-bottom: solid 1px rgba(255,255,255,0.1); margin-top: 8px !important; margin-bottom: 8px !important; }
              }
            }
            .back.title { padding-bottom: 0;
              a:before { position: absolute; top: 50%; left: ($topBarHeight / 2) - $topBarDropToggleSize; margin-top: -$topBarDropToggleSize; width: 0; height: 0; @include cssTriangle($topBarDropToggleSize, $topBarDropToggleColor, right); }
              h5 { margin: 0; padding-left: $topBarDropToggleSize * 3; position: relative;
                a { background: transparent; padding-top: 8px; padding-bottom: 8px; font-size: ms(2); font-weight: $topBarTitleWeight; }
              }
            }
          }
        }

        /* Dropdown Level 2 */
        &.has-dropdown .dropdown li { background: transparent;
          &.has-dropdown {
            .dropdown { left: 100% !important; top: 0; right: auto !important; }
            &>a { padding-right: $topBarHeight * .75;
              &:after { content: ""; margin-right: $topBarHeightMobile / 3; @include cssTriangle($topBarDropToggleSize, rgba($topBarDropToggleColor, $topBarDropToggleAlpha), left); position: absolute; top: 50%; margin-top: -($topBarDropToggleSize / 2) - 2; }
              li a {
                &:hover { background: lighten($topBarBgColor, 10%); }
              }
            }
            &.moved { position: static;
              .dropdown { top: 0; visibility: visible; }
            }
            &:hover { display: block; }
          }
        }
      }
      &.left, &.right { float: none; width: 100%;
        &>li { display: block; float: none; margin: 0 !important;
          &.has-dropdown {
            .dropdown { left: 100% !important; top: 0; right: auto !important; }
          }
        }
      }
    }
    &>ul { height: $topBarHeight; }
    section > ul li a:not(.button) { padding-left: $topBarHeightMobile / 2 !important; }

    /* When the Small Nav is Showing */
    &.expanded { height: 100%;
      ul li.toggle-topbar a { @include cssTriangle($topBarNavToggleSize, tint($topBarLinkColor, 85%), bottom); top: auto; bottom: 50%; margin-bottom: -($topBarNavToggleSize / 2); }
    }
  }
  .top-bar ul li.has-button { padding: 0 $topBarHeightMobile / 2 5px; }
  .top-bar ul li .button.small { margin: 0 !important; display: inline-block; width: 100%; }
}
