@Scripts.Render("~/assets/js/Views/General/AboutUs")
@{
    ViewBag.Title = "AboutUs";
}
<div class="single-item-container primary">
  <div class="page-content">
    <article class="type-static">
        <h2>About Us</h2>
	    <ul class="links">
		    <li><a href="#our-mission">Our Mission</a></li>
		    <li><a href="#our-content">Our Content</a></li>
		    <li><a href="#our-editorial">Our Editorial and Advisory Boards</a></li>
		    <li><a href="#how-we-get-paid">How We Get Paid</a></li>
	    </ul>
        <h3 id="our-mission">OUR MISSION</h3>

        <p>PracticeUpdate's mission is to connect healthcare professionals with news and information that matters
            most for patient care. Our site is tailored to deliver the latest expert curated content based on the
            clinician's area of practice, and is optimized for viewing on any device.</p>

        <p>Individual access to PracticeUpdate is free, based upon users registering with the site. PracticeUpdate
            is commercially supported by online advertising, sponsorship, and educational grants.</p>

        <h3 id="our-content">OUR CONTENT</h3>

        <p>PracticeUpdate offers an array of professional research, information, and education resources in a single
            online destination, with a breadth and depth of content that is unrivaled.</p>

        <p>All site content is organized specialties and areas of interest, enabling practitioners to instantly and
            easily access the latest news, scientific updates, and expert opinion pertaining to their specialty.</p>

        <p>You will find:</p>
        <ul>
            <li><span class="bolder">Journal Articles:</span> PracticeUpdate identifies the latest and most
                important articles from the most respected sources in a specialty
            </li>

            <ul>
                <li>Abstracts are available when the publisher grants permission</li>
                <li>Summaries are created when the publisher does not grant permission for the abstract</li>
                <li>And, in come cases, we are able to offer free access to full text</li>
            </ul>

            <li><span class="bolder">Journal Scans:</span> Our editors constantly scan the newest, most important
                journals, flagging the
                articles that are critical to practitioners. Those articles are highlighted on PracticeUpdate.
            </li>

            <ul>
                <li><span class="bolder">Expert Commentary:</span> In addition, we provide commentary from key opinion
                    leaders to put key articles in perspective
                </li>
                <li><span class="bolder">Take-Home Message:</span> A brief overview of research article findings</li>
            </ul>

            <li><span class="bolder">CME programs</span></li>

            <li><span class="bolder">News:</span> Premier medical and pharmaceutical news provided by IMNG Medical
                Media and "The Pink Sheet"
            </li>

            <li><span class="bolder">Expert Opinion:</span> Interviews and commentary with thought leaders on
                practice-changing clinical trials and controversial topics
            </li>

            <li><span class="bolder">Conference Coverage:</span> Coverage of the most important meetings, including
                pre-meeting recommendations from experts, news coverage during the conference, and videos and expert
                analyses of studies relevant to your patients
            </li>

            <li><span class="bolder">And other exciting content such as guidelines, seminal articles, and as your
                focus of practice grows, so will our editorial content</span>
            </li>
        </ul>

        <p>Key features of the site include:</p>

        <ul>
            <li><span class="bolder">Weekly and Monthly Newsletters:</span> To bring you the latest news and
                information in your area of interest
            </li>
        </ul>

        <h3 id="our-editorial">OUR EDITORIAL AND ADVISORY BOARDS</h3>

        <p>PracticeUpdate is guided by world-renowned <a href="/explore/UserDirectory/">Editorial</a> and <a href="/explore/UserDirectory/">Advisory Boards</a>
            that represents community
            practitioners and academic specialists with cross-disciplinary expertise. Each specialty that we cover
            has its own Boards.</p>

        <ul>
            <li>Cardiology</li>
            <li>Dermatology</li>
            <li>Primary Care</li>
            <li>Oncology</li>
            <li>Eye Care</li>
            <li>Urology</li>
        </ul>

        <h3 id="how-we-get-paid">HOW WE GET PAID</h3>

        <p>PracticeUpdate is commercially supported by online advertising, sponsorship, and educational grants.
            Individual access to PracticeUpdate is free. Premium content is available to any user who registers with
            the site.</p>

        <p>While PracticeUpdate is a commercially-sponsored product, it maintains the highest level of academic rigor, objectivity, and fair balance associated with all Elsevier products. No editorial content on the site is influenced in any way by commercial sponsors or content contributors.</p>
    </article>
    </div>
</div>
