@Scripts.Render("~/assets/js/Views/General/Advertise")
@{
    ViewBag.Title = "Advertise";
}
<div class="single-item-container primary">
  <div class="page-content">
    <article class="type-static">
		
	<h2>ADVERTISE</h2>
	<h3>PracticeUpdate Advertising Information</h3>
	<p>PracticeUpdate is an online resource that connects healthcare professionals with news and information that matters
	most for patient care. Our site is tailored to deliver the latest expert curated content based on the clinician's area of
	practice, and is optimized for viewing on any device.</p>
	<p>Individual access to PracticeUpdate is free, based upon users registering with the site. PracticeUpdate is
	commercially supported by online advertising, sponsorship, and educational grants.</p>
	<p>While PracticeUpdate is a commercially-sponsored product, it maintains the highest level of academic rigor,
	objectivity and fair balance associated with all Elsevier products. No editorial content on the site is influenced in any
	way by commercial sponsors or society content contributors.</p>
	<h3>Advertising and Sponsorship</h3>
	<p>PracticeUpdate offers an array of online advertising and sponsorship opportunities including:</p>
	<h3>Advertising:</h3>
	<ul>
		<li>Run-of-Site Online Advertising</li>
		<li>Targeted Online Advertising: Behavioral, Contextual, or Keyword</li>
		<li>E-Newsletters: weekly and monthly e-newsletters</li>
		<li>Banners, Spotlights, and Skyscrapers</li>
		<li>Mobile</li>
	</ul>
	<h3>Sponsorships:</h3>
	<ul>
		<li>Topic-Type Sponsorships</li>
		<li>Section and Content Sponsorship (Videos, Industry Resources, Article Downloads, and CME)</li>
		<li>MicroSites: custom branded content/advertorial</li>
		<li>Interactive live and on-demand Webinars</li>
	</ul>
	<p>For online advertising and sponsorship rates and information, please contact:</p>		
 	<p class="phone">
	<span>Neethu Joseph</span>
	Director, Strategic Accounts<br />
 	Phone: 212-462-1917<br />
 	Email: <a href="mailto:n.joseph@elsevier.com">n.joseph@elsevier.com</a></p>
	<small>Last revised: December 3, 2012 </small>
    </article>
    </div>
</div>
