@Scripts.Render("~/assets/js/Views/General/community")
@{
    ViewBag.Title = "Community";
}
<div class="single-item-container primary">
  <div class="page-content">
    <article class="type-static">

    <h1 id="practiceupdate-community-guidelines">PracticeUpdate Community Guidelines</h1>
    <p>Discussion between members is an integral part of the PracticeUpdate community. It allows everyone to participate, contribute and connect.</p>
    <p>We truly value the comments on our site and are constantly looking for ways to improve the dialogue. That's why we've put together some community guidelines with tips on how to make the most of PracticeUpdate discussions.</p>
    <p>In addition to helping foster great discussions, the below guidelines — as well as the context in which comments are made — are taken into account when making moderation decisions. We hope this list of do's and don'ts will help you better understand our evaluation process and why some comments are deleted.</p>
    <h2 id="commenting-do-s-don-ts">Commenting Do's &amp; Don'ts</h2>
    <h3 id="do">Do</h3>
    <p>Focus on intelligently discussing topics by furthering the conversation and informing the participants with resourceful and constructive ideas.</p>
    <h3 id="don-t">Don’t</h3>
    <p>Use profane language or threaten others. We encourage you to take responsibility for the quality of the discussions in which you’re participating. Maintain intelligent discussions on PracticeUpdate by being respectful and considerate.</p>
    <h3 id="do">Do</h3>
    <p>Speak from relevant personal experience that adds value to the Discussion.</p>
    <h3 id="don-t">Don’t</h3>
    <p>Link to personal blog posts, websites or social media accounts that are irrelevant to the conversation. This is considered self promotion and does not belong on PracticeUpdate. We welcome links that help further the conversation and reserve the right to delete those we deem unnecessary.</p>
    <h3 id="do">Do</h3>
    <p>Engage in polite and valuable discussions with fellow members.</p>
    <h3 id="don-t">Don’t</h3>
    <p>Attack fellow members. We understand that you won’t agree with everything that PracticeUpdate members say. Please state your opinions in a constructive and respectful manner. Profanity, hateful speech, prejudice, persistent trolling and mindless abuse will not be tolerated. Respect others’ values, beliefs and emotions. We reserve the right to remove any content that might be found extremely offensive or threatening.</p>
    <h3 id="do">Do</h3>
    <p>Point out positive attributes of articles and let authors know when they’ve done a good job. We invite you to ask authors your questions about the article topic if you’d like more information.</p>
    <h3 id="don-t">Don’t</h3>
    <p>Attack PracticeUpdate authors. If you find an error, please alert us kindly. We understand and recognize that we make mistakes and will do our best to correct errors as soon as possible. If you disagree with an author’s point of view or writing style, we respect your opinion. However, we expect you to share your thoughts in a rational and respectful manner. We will distinguish between constructive arguments and smear tactics. Any misrepresentation will be deleted.</p>
    <p><strong>A big thanks</strong> to our members who are already upholding a high standard of quality for conversation in the comments on Mashable. Your contributions help make our site an inviting and intelligent space for all community members.</p>


    </article>
  </div><!--/.page-content-->
</div>