@{
    ViewBag.Title = "ErrorPage";
    ViewBag.ShowAds = 0;
    ViewBag.ShowNav = 0;
    ViewBag.ShowFullPage = 1;
    ViewBag.BodyClass = "page-landing utility page-landing-error";
}
@Scripts.Render("~/assets/js/Views/General/Error")
<div class="landing-page-container">
	<div class="row">
		<div class="eight columns push-two">
			<div class="row">
				<div class="two columns hide-for-small"></div>
				<div class="eight columns">
					<div class="landing-card">
						<div class="row">
							<div class="twelve columns">
								<div class="landing-card-content">
									<div class="row">
										<div class="twelve columns">
                                            <h1><img src="~/assets/img/misc/img-banner-oops@2x.png" /></h1>
											<p>It looks like you may have taken a wrong turn. Don't Worry, you can use these links to get back on track&hellip;</p>
										</div>
									</div>
									<div class="row">
										<div class="twelve columns">
										<ul class="block-grid three-up mobile-one-up">
											<li><a href="/update/" class="button">Update</a></li>
											<li><a href="/explore/"" class="button">Explore</a></li>
											<li><a href="/learn/" class="button">Learn</a></li>
										</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="two columns hide-for-small"></div>
			</div>
		</div>
	</div>
</div>
<div class="page-footer-container footer-compact">
	<footer class="page-footer">
	</footer><!-- /.page-footer -->
</div>