@Scripts.Render("~/assets/js/Views/General/faq")
@{
    ViewBag.Title = "faq";
}
<div class="single-item-container primary">
  <div class="page-content">
    <article class="type-static">

    <h1 id="practiceupdate-community-guidelines">PracticeUpdate FAQ</h1>
    <h2>Tumor Boards Case Submission</h2>

    <ol>
      <li>
        <h3>Can I submit a case anonymously?</h3>
        <p>No, your submission includes your name. Users must be logged in to submit a case and the name on your profile will be submitted with the Case.</p>
      </li>

      <li>
        <h3>What types of files can I upload with my case submission?</h3>
        <p>You can upload Microsoft Word and Powerpoint, PDF, and image files. So basically, any file with one of the following extensions: ppt, pptx, pdf, doc, docx, jpg, jpeg, png, or gif.</p>
      </li>

      <li>
        <h3>Can I use details and specifics about the case?</h3>
        <p>Details are great but personally identifiable information is not. It remains your responsibility to ensure that such information is not present in your submission as defined by HIPAA and other regulations, In the event that your case is chosen for publication on PracticeUpdate.com, any content that could be deemed sensitive will be redacted by our editorial staff.</p>
      </li>

      <li>
        <h3>Are all providers nationwide able to submit a case?</h3>
        <p>Providers in the United States can submit a case. Providers in other countries cannot participate at this time.</p>
      </li>

      <li>
        <h3>I submitted a case, when will I know if it is accepted and can I track the status?</h3>
        <p>We thoroughly review all submissions. You should receive a response from us within 24-48 hours to ask additional questions or advise you that the case is approved or declined for publication. If you don't hear anything after 48 hours, you can contact us to check the status of your case submission.</p>
      </li>

      <li>
        <h3>Can I comment on other cases?</h3>
        <p>Yes, please do and contribute your expertise! We want the case discussions to be comprehensive and active participation is important. You can view our <a href="http://www.practiceupdate.com/general/comunity/" title="View the PracticeUpdate Comunity Guidelines">Community Guidelines</a> to understand expectations for discussion among our members.</p>
      </li>

      <li>
        <h3>Can I submit multiple cases?</h3>
        <p>Sounds great! You can submit more than one case; each case will be reviewed individually by our Editorial Staff.</p>
      </li>

      <li>
        <h3>Are all submitted cases published?</h3>
        <p>Not all submissions are published. Our Editorial Staff reviews each case individually and selects appropriate cases to be published. By submitting a case, you agree to our <a href="http://www.elsevier.com/legal/elsevier-website-terms-and-conditions" title="View the Elsevier Website Terms & Conditions">Terms &amp; Conditions</a>.</p>
      </li>

    </ol>


    </article>
  </div><!--/.page-content-->
</div>