@Scripts.Render("~/assets/js/Views/General/Help")
@{
    ViewBag.Title = "Help";
}
<div class="single-item-container primary">
  <div class="page-content">
    <article class="type-static">
    <h2>Help</h2>

    <h3>Forgot your password? We can help!</h3>
    <p><a href="/User/ForgotPassword/">Password Reset</a></p>

    <h3>Manage your email newsletter preferences. Subscribe or unsubscribe here.</h3>
    <p><a href="/User/Preferences/?id=5">Email Newsletters</a>
    </article>
    </div>
</div>
