@Scripts.Render("~/assets/js/Views/General/MedConnect")
@{
    ViewBag.Title = "MedConnect";
    ViewBag.ShowAds = 0;
    ViewBag.ShowNav = 0;
    ViewBag.ShowHeader = 0;
    ViewBag.ShowFooter = 0;
    ViewBag.ShowFullPage = 1; 
    ViewBag.BodyClass = "page-landing marketing page-landing-ospu";
}
<div id="landingpagecontent" class="landing-page-container is-hidden">
    <div class="row">
        <div class="eight columns push-two">
            <div class="row">
                <div class="two columns hide-for-small"></div>
                <div class="eight columns">
                    <div class="os-tag"><img src="~/assets/img/misc/medconnect.png" /></div>
                    <div class="landing-card">
                        <div class="row">
                            <div class="twelve columns">
                                <div class="landing-card-content">
                                    <div class="row">
                                        <div class="twelve columns">
                                            <h1><img src="~/assets/img/misc/PracticeUpdate_logo-large.png" /></h1>
                                            <p>A new, FREE portal that offers robust, personalized content.</p>
                                            <p>The experts at PracticeUpdate sort through volumes of healthcare content, hand-selecting information that is most relevant to healthcare professionals within their specialties. Curated by physician editors and world-renowned specialists, PracticeUpdate provides professionals with easy access information they value most in patient care</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="seven columns">
                                            <em class="user-direction">GET ACCESS TO FREE, CUSTOM CONTENT!</em>
                                        </div>
                                        <div class="five columns">
                                            <a class="button" href="javascript:void(0);" id="RegisterNow">Register Now</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="twelve columns">
                                            <p class="right">Already have an account?<a href="/Login/"> Login here.</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two columns hide-for-small"></div>
            </div>
        </div>
    </div>
</div>