@{
    ViewBag.Title = "Sign Up Promotion 2014";
    Layout = "~/Views/Shared/_GenericBootstrapLayout.cshtml";
}

<div class="page-content-container container">
    <div class="page-content">
        <div class="raf-container col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <div id="rafDiv">
                <div class="panel" style="box-shadow: 0px 2px 2px rgba(0,0,0,0.2);">
                    <div class="panel-heading">
                        <h4 class="panel-title">Elsevier PracticeUpdate Cardiology Sign-Up Promotion</h4>
                    </div>
                    <div class="panel-body">
                        <p>One winner will be randomly selected in the prize drawing from all eligible entries received during the Promotion Period.  The prize drawing shall take place on or about July 7, 2014, with winner notification on or about July 14, 2014</p>
                        <p>Please revisit this page on or after July 14, 2014 to view the winner.</p>
                        <p>For full contest rules, <a href="/general/SignUpPromotion2014">click here</a>.</p>
                        @*
                        <p>This promotion has ended.</p>
                        <p>[Winner's Name] has been recognized as the winner.</p>
                        <p>Date winner was drawn:[mm/dd/yyyy]</p>
                        *@
                    </div>
                    <div class="panel-footer">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
