@{
    ViewBag.Title = "Sign Up Promotion 2014";
    Layout = "~/Views/Shared/_GenericBootstrapLayout.cshtml";
}

<div class="page-content-container container">
  <div class="page-content">
			<div class="raf-container col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
  			<div id="rafDiv">
    			<div class="panel" style="box-shadow: 0px 2px 2px rgba(0,0,0,0.2);">
      			<div class="panel-heading">
              <!-- <button type="button" class="close close-raf" aria-hidden="true">&times;</button> -->
        			<h4 class="panel-title">Elsevier PracticeUpdate Sign Up Promotion (“Promotion”)</h4>
        			<small>2014 Terms and Conditions</small>
      			</div><!--/panel-heading-->
      			<div class="panel-body">
              <h1>Official rules</h1>
              <p>NO PURCHASE NECESSARY TO ENTER THIS PROMOTION.  VOID WHERE PROHIBITED OR RESTRICTED.</p>
              <p>By registering for PracticeUpdate Cardiology, entrants accept and agree to be bound by these Official Rules and the decisions of the Sponsor, which shall be final and binding on all matters.</p>

              <h2>Sponsor</h2>
              <p>Elsevier Inc., 360 Park Avenue South, New York, NY 10010.</p>

              <h2>Eligibility</h2>
              <p>The Elsevier PracticeUpdate Sign Up Promotion (the “Promotion) is open to all authorized healthcare professionals who receive an email from the Sponsor.  Employees of Sponsor and its parents, subsidiaries, affiliated companies and agents, and their immediate families or those living in the same household, are not eligible to enter. Entrants are responsible for determining if the Promotion is legal in their jurisdiction of residence.  Entrants may also be subject to rules imposed by their institution or employer relative to their participation in trade promotions and should check with their institution or employer for any relevant policies. Promotion eligibility is limited to new registered users – previous members of PracticeUpdate or OncologySTAT are ineligible. VOID WHERE PROHIBITED OR RESTRICTED.</p>

              <h2>Timing</h2>
              <p>This Promotion shall commence on 12:00:01 a.m. EDT on April 1, 2014 and end at 11:59:59 p.m. EDT on June 30, 2014 (“Promotion Period”).  Sponsor’s server shall serve as the official clock for the Promotion.</p>

              <h2>How to Enter:</h2>
              <p>Entrants may respond to the invitation email, and follow the on-screen directions to register for PracticeUpdate Cardiology.  LIMIT ONE (1) ENTRY PER PERSON PER EMAIL ADDRESS.</p>

              <h2>Selection</h2>
              <p>One winner will be randomly selected in the prize drawing from all eligible entries received during the Promotion Period.  The prize drawing shall take place on or about July 7, 2014, with winner notification on or about July 14, 2014.  Odds of winning depend upon the number of eligible entries received.  A purchase does not improve chances of winning.</p>
              <p>Notification of Winner</p>
              <p>The winner will be notified by email on or about July 14, 2014. A current and valid email address is required in order to claim the prize.  The winner must provide his or her full name and postal address for delivery of the prize.  Prize must be claimed by within five (5) business days after receipt of email from Sponsor or an alternate winner will be selected by Sponsor.  The decisions of Sponsor shall be final and binding in all respects</p>

              <h2>Prizes</h2>
              <p>The winner will receive one (1) Apple® 16GB WiFi iPad® mini (Approximate Retail Value (“ARV”): $299).  Apple and iPad are registered trademarks of Apple, Inc. who is in no way affiliated with this Promotion.  All prizes are non-transferable.  Cash will not be awarded in lieu of a prize, but Sponsor reserves the right to substitute a prize of equal or greater value in its sole discretion.  Prizes must be taken as stated and no compensation will be payable if a winner is unable to use the prize as stated.  Winner shall bear sole responsibility for fulfilling any tax obligations associated with receipt and/or use of prize.   Winner may be required to sign a declaration of eligibility and liability/publicity release in order to claim the prize</p>

              <h2>Consent to Use of Personal Information</h2>
              <p>Submission of entry constitutes entrant’s consent for Sponsor to use entrant’s email address for purposes of marketing and promotion of Sponsor’s products and services.  By accepting the prize, the winner acknowledges compliance with these Official Rules and agrees to permit Sponsor to use the winner’s name, hometown and state and institutional affiliation in any media for any commercial, advertising, publicity or promotional purpose, without limitation or additional compensation or permission, unless prohibited by law or the winner’s institution.</p>

              <h2>Limitations of Liability:</h2>
              <p>Neither Sponsor, its parent, subsidiary or affiliated companies, nor its advertising or promotional agencies shall have any obligation, liability or responsibility for (1) telephone, electronic, hardware, software, network, Internet, or computer malfunctions, failures, or difficulties of any kind; (2) any long lines, scheduling conflicts, or other circumstances that may prevent a person from entering; (3) any condition caused by events beyond the control of Sponsor that may cause the Promotion to be disrupted; (4) any printing or typographical errors in these Official Rules or any other materials associated with the Promotion; (5) entries that contain incorrect or inaccurate information or do not comply with these Official Rules; or (6) entries that are lost, late, incomplete, illegible, unintelligible, damaged or otherwise not received by the intended recipient, in whole or in part.  Sponsor, in its sole discretion, reserves the right to disqualify any entry of any person tampering with or abusing the entry process, conduct of the Promotion or otherwise violating these Official Rules.  Sponsor further reserves the right to cancel, terminate or modify the Promotion if it cannot be completed as planned because of tampering, unauthorized intervention or technical failures of any sort.</p>

              <h2>Release:</h2>
              <p>BY ENTERING THE PROMOTION, ENTRANTS RELEASE AND HOLD HARMLESS SPONSOR AND ITS PARENTS, SUBSIDIARIES, AND AFFILIATED COMPANIES AND AGENTS, AND EACH OF THEIR DIRECTORS, OFFICERS, EMPLOYEES, REPRESENTATIVES, VENDORS, PARTNERS AND AGENTS, FROM ANY AND ALL LIABILITY WHATSOEVER, AND WAIVE ANY AND ALL CAUSES OF ACTION, FOR OR RELATED TO ANY CLAIMS, COSTS, INJURIES, LOSSES, LIABILITIES, OR DAMAGES OF ANY KIND (INCLUDING, WITHOUT LIMITATION, PERSONAL INJURY, DEATH, DAMAGE TO OR DESTRUCTION OF PROPERTY, RIGHTS OF PUBLICITY OR PRIVACY, DEFAMATION OR PORTRAYAL IN A FALSE LIGHT) ARISING OUT OF OR IN CONNECTION WITH THE PROMOTION OR THE ACCEPTANCE, POSSESSION, OR USE OF THE INCENTIVE, WHETHER UNDER A THEORY OF CONTRACT, WARRANTY, TORT (INCLUDING, WITHOUT LIMITATION, NEGLIGENCE, WHETHER ACTIVE, PASSIVE, OR IMPUTED), STRICT LIABILITY, PRODUCT LIABILITY, CONTRIBUTION, OR ANY OTHER THEORY, TO THE EXTENT PERMITTED BY LAW.</p>

              <h2>Construction</h2>
              <p>The construction, validity, interpretation and enforceability of these Official Rules shall be governed by and construed in accordance with the laws of the State of New York, without giving effect to its conflicts of law principles.</p>

              <h2>Winners List</h2>
              <p>For the name of the winner, please visit Sponsor’s website at <a href="/general/SignUpPromotion2014Winner" rel="external">http://www.practiceupdate.com/general/SignUpPromotion2014Winner</a> or send an email to <!--EMCODA HASHED EMAIL-->
                <SCRIPT type="text/javascript">eval(unescape('%76%61%72%20%73%3D%27%61%6D%6C%69%6F%74%70%3A%6F%72%6F%6D%69%74%6E%6F%40%73%72%70%63%61%69%74%65%63%70%75%61%64%65%74%63%2E%6D%6F%27%3B%76%61%72%20%72%3D%27%27%3B%66%6F%72%28%76%61%72%20%69%3D%30%3B%69%3C%73%2E%6C%65%6E%67%74%68%3B%69%2B%2B%2C%69%2B%2B%29%7B%72%3D%72%2B%73%2E%73%75%62%73%74%72%69%6E%67%28%69%2B%31%2C%69%2B%32%29%2B%73%2E%73%75%62%73%74%72%69%6E%67%28%69%2C%69%2B%31%29%7D%64%6F%63%75%6D%65%6E%74%2E%77%72%69%74%65%28%27%3C%61%20%68%72%65%66%3D%22%27%2B%72%2B%27%22%3E%70%72%6F%6D%6F%74%69%6F%6E%73%40%70%72%61%63%74%69%63%65%75%70%64%61%74%65%2E%63%6F%6D%3C%2F%61%3E%27%29%3B'))</SCRIPT> with Elsevier PracticeUpdate Sign Up Promotion in the Subject line, by June 30, 2014.</p>
      			</div><!--/.panel-body-->
      			<div class="panel-footer">
      			&nbsp;
      			</div><!--.panel-footer-->
    			</div><!--/.panel-->
        </div><!--/#rafDiv-->
			</div><!--/.raf-container-->
  </div><!--/.page-content-->
</div><!--/.page-content-container-->
